
$primaryBrandColor: #934dff !default;
$secondaryBrandColor: #20394d;
$headingColorDark: #29435a;
$headingColorLight: #b6b6b6;
$textPrimaryColor: #29435a;
$textSecondaryColor: rgba(41,67,90,0.3);
$textLight: #888888;
$border-color: #979797;
$successColor: #56bd5b;
$warningColor: #f7b422;
$dangerColor: #e34c4c;
$infoColor: #36d5ff;
$primaryColor: #0045C1;
$tertiaryColor: #4c84ff;
$light-green: #15cdb8;
$yellow: #F7B422;
$base__font-color: #313541;
$link-color: #da3c3c;
$link-hover-color: #ba3434;
$base__font-size: 16 !default;
$small__font-size: 14px;
$extra-small__font-size: 12px;
$extra-large__font-size: 48px;
$primary-font: 'IBM Plex Sans', sans-serif;
$secondary-font: 'Rozha One', serif;
@function em($px,
$base: base__font-size) {
  @return ($px / $base) * 1em;
}

.ls-1 {
  letter-spacing: 1px !important;
}