@import "media-queries";
$namespace: "ay-button";
.#{$namespace} {
  display: inline-block;
  padding: 6px 12px 6px 26px;
  @include transition(all 0.4s);
  cursor: pointer;
  @include border-radius(30px);
  font-size: $small__font-size;
  font-weight: bold;
  font-family: $secondary-font;
  letter-spacing: 1.5px;
  line-height: 1;
  font-size: 15px; 
  white-space: nowrap;
  vertical-align: middle;
  text-transform: uppercase;
  &__text{
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-size: 14px;
    font-weight: 900;
  }
  &__icon{
    display: inline-block;
    vertical-align: middle;
    width: 34px;
    height: 34px;
    @include border-radius(50%);
    margin-left: 20px;
    position: relative;
    background: #fff;
    > i{
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate(-50%, -50%);
    }
  }
  &:hover{
    @include opacity(0.8);
  }
}
button.#{$namespace}{
  border: none;
}

.#{$namespace}--primary {
  background: #3ac81e; 
  background: -moz-linear-gradient(left, #3ac81e 0%, #69e90a 100%); 
  background: -webkit-linear-gradient(left, #3ac81e 0%,#69e90a 100%); 
  background: linear-gradient(to right, #3ac81e 0%,#69e90a 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ac81e', endColorstr='#69e90a',GradientType=1 ); 
  color: #FFF;
  &:hover {
    background: #3ac81e; 
    background: -moz-linear-gradient(left, #3ac81e 0%, #69e90a 100%); 
    background: -webkit-linear-gradient(left, #3ac81e 0%,#69e90a 100%); 
    background: linear-gradient(to right, #3ac81e 0%,#69e90a 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ac81e', endColorstr='#69e90a',GradientType=1 ); 
    color: white;
  }
  &:focus {
    background: #3ac81e; 
    background: -moz-linear-gradient(left, #3ac81e 0%, #69e90a 100%); 
    background: -webkit-linear-gradient(left, #3ac81e 0%,#69e90a 100%); 
    background: linear-gradient(to right, #3ac81e 0%,#69e90a 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ac81e', endColorstr='#69e90a',GradientType=1 ); 
    color: white;
  }
  &:active {
    color: white;
  }
  .ay-button__icon{
    > i{
      &:before{
        color: #3ac81e;
      }
    }
  }
  &--outlined {
    background: white;
    color: $base__font-color;
    border: 1px solid $primaryColor;
    &:hover {
      color: #FFF;
    }
  }
}

.#{$namespace}--secondary {
  background: $secondaryBrandColor;
  color: #FFF;
  .ay-button__icon{
    > i{
      &:before{
        color: $secondaryBrandColor;
      }
    }
  }
  &:hover {
    background: $secondaryBrandColor;
    color: #fff;
  }
  &:focus {
    background: $secondaryBrandColor;
    color: #fff;
  }
  &:active {
    color: white;
  }
  &--outlined {
    color: $base__font-color;
    border: 1px solid $primaryBrandColor;
    background: #ffffff;
    &:hover {
      color: #FFF;
      background: #8c0101;
    }
  }
}
.#{$namespace}--tertiary {
  background: $primaryBrandColor;
  color: #FFF;
  padding: 8px 28px 10px 28px;
  @include desktop-md{
    padding: 10px 32px 12px 32px;
  }
  .ay-button__icon{
    > i{
      &:before{
        color: $primaryBrandColor;
      }
    }
  }
  .ay-button__text{
    font-size: 15px;
  }
  &:hover {
    background: $primaryBrandColor;
    color: #fff;
  }
  &:focus {
    background: $primaryBrandColor;
    color: #fff;
  }
  &:active {
    color: white;
  }
}
.#{$namespace}--transparent-sm {
  background: transparent;
  border: 1px solid $primaryBrandColor;
  font-family: $primary-font;
  font-weight: normal;
  color: $primaryBrandColor;
  padding: 7px 20px;
  text-transform: none;
  font-size: 13px;
  @include desktop-md{
    padding: 9px 24px 9px 24px;
  }
  .ay-button__text{
    font-size: 14px;
  }
  &:hover {
    background: $primaryBrandColor;
    color: #fff;
  }
  &:focus {
    background: $primaryBrandColor;
    color: #fff;
  }
  &:active {
    color: white;
  }
}

.#{$namespace}--fill-sm {
  background: $primaryBrandColor;
  border: 1px solid $primaryBrandColor;
  font-family: $primary-font;
  font-weight: normal;
  color: $primaryBrandColor;
  padding: 7px 20px;
  text-transform: none;
  font-size: 13px;
  color: #fff;
  @include desktop-md{
    padding: 9px 24px 9px 24px;
  }
  .ay-button__text{
    font-size: 14px;
  }
  &:hover {
    background: transparent;
    color: $primaryBrandColor;
  }
  &:focus {
    background: transparent;
    color: $primaryBrandColor;
  }
  &:active {
    color: $primaryBrandColor;
  }
}

.#{$namespace}--white {
  background: #FFF;
  padding: 12px 24px 10px 24px;
  color: $primaryBrandColor;
  border: none;
  &:hover {
    background: $primaryBrandColor;
    color: white;
  }
  &:focus {
    background: $primaryBrandColor;
  }
  &:active {
    color: white;
  }
}

// .#{$namespace}--transparent {
//   position: relative;
//   color: $primaryBrandColor;
//   background: transparent;
//   &:hover {
//     background: $primaryBrandColor;
//     color: #fff;
//   }
//   &:focus {
//     background: $primaryBrandColor;
//     color: #fff;
//   }
//   &-border{
//     border: 1px solid $primaryBrandColor;
//   }
// }

.#{$namespace}--lg {
  height: 60px;
}

a.#{$namespace}--lg {
  padding: 22px 40px;
}

.#{$namespace}--padding-lg {
  padding: 10px 60px;
}

// Checkbox
.ay-custom-checkbox-wrap {
  margin: 0;
  vertical-align: middle;
}

.ay-custom-checkbox {
  &:hover {
    .ay-custom-checkbox-icon {
      border-color: #da3c3c;
    }
  }
}

.ay-custom-checkbox-input {
  display: none;
}

.ay-custom-checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  @include border-radius(2px);
  vertical-align: middle;
  background: transparent;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  @include transition(all 0.4s);
}

.ay-custom-checkbox-icon .icon-tick {
  font-size: 10px;
  padding-top: 4px;
  vertical-align: top;
  padding-left: 1px;
  display: inline-block;
  font-weight: bold;
  @include opacity(0);
}

.ay-custom-checkbox-label {
  display: inline-block;
  color: #444;
  font-size: 13px;
  line-height: 1;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
  padding-left: 4px;
}

.ay-custom-checkbox-icon,
.ay-custom-checkbox-label,
.ay-custom-checkbox-icon .icon-tick {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ay-custom-checkbox-input:checked+.ay-custom-checkbox-skin .ay-custom-checkbox-icon {
  @include transition(all 0.3s ease-out);
  background: #ffe5e5;
  border-color: #da3c3c;
}

.ay-custom-checkbox-input:checked+.ay-custom-checkbox-skin .ay-custom-checkbox-icon .icon-tick {
  @include transition(all 0.3s ease-out);
  @include opacity(1);
  color: #da3c3c;
}

// Radio Button
.ay-custom-radio-wrap {
  margin: 0;
  vertical-align: middle;
}

.ay-custom-radio-btn {
  &:hover {
    .ay-custom-radio-btn-icon {
      border-color: #da3c3c;
    }
  }
}

.ay-custom-radio-input {
  display: none;
}

.ay-custom-radio-btn-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #e3e3e3;
  @include border-radius(50%);
  vertical-align: middle;
  background: transparent;
  overflow: hidden;
  text-align: center;
  position: relative;
  cursor: pointer;
  @include transition(all 0.4s);
  &::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    @include border-radius(50%);
    background: $primaryBrandColor;
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    @include opacity(0);
    @include transition(all 0.4s);
  }
}

.ay-custom-radio-btn-label {
  display: inline-block;
  color: #444;
  font-size: 13px;
  line-height: 1;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
  padding-left: 4px;
}

.ay-custom-radio-btn-icon,
.ay-custom-radio-label,
.ay-custom-radio-btn-icon .icon-tick {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ay-custom-radio-input:checked+.ay-custom-radio-btn-skin .ay-custom-radio-btn-icon {
  @include transition(all 0.3s ease-out);
  border-color: #da3c3c;
  background: #ffe5e5;
}

.ay-custom-radio-input:checked+.ay-custom-radio-btn-skin .ay-custom-radio-btn-icon::after {
  @include opacity(1);
}

.ay-custom-radio-input:checked+.ay-custom-radio-btn-skin .ay-custom-radio-btn-icon .icon-tick {
  @include transition(all 0.3s ease-out);
  @include opacity(1);
  color: #4c84ff;
}