body{
    font-family: $primary-font;
}
*:focus {
 outline: none;
}

.color-primary {
 color: $primaryBrandColor;
}

.color-secondary {
 color: $secondaryBrandColor; 
}

.color-tertiary {
 color: $tertiaryColor;
}

.ti-clear-list-styles {
 list-style: none outside;
 margin: 0;
 padding: 0;
}

a {
 @include transition(all 0.4s);
 color: $primaryBrandColor;
}

a:hover {
 color: $link-color;
}

a:hover,
a:focus {
 text-decoration: none;
 outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-family: $secondary-font;
 //color: $headingColorDark;
 //font-weight: 400;
}

h1 {
 font-size: 32px;
}

h2 {
 font-size: 24px;
}

h3 {
 font-size: 20px;
}

h4 {
 font-size: 18px;
}

h5 {
 font-size: 16px;
}

h6 {
 font-size: 14px;
}

img {
 max-width: 100%;
 height: auto;
}
::-moz-selection{color: #fff;background: $primaryBrandColor;}
::selection{color: #fff;background: $primaryBrandColor;}
ul {
 @extend .ti-clear-list-styles;
}
//input[type="number"]::-webkit-inner-spin-button,
//input[type="number"]::-webkit-outer-spin-button {
//  -webkit-appearance: none;
//  margin: 0;
//}
//
input:focus::-webkit-input-placeholder {
 color: transparent;
}
textarea:focus::-webkit-input-placeholder {
 color: transparent;
}

button {
 &:focus {
   outline: none;
 }
}
body {
 font-family: $primary-font;
 overflow-x: hidden;
 background: #FFF;
} 
// Customizing Jquery UI Date Picker
//.gc-date-picker-wrapper {
//  position: relative;
//}
//
//
//.ui-datepicker.ui-widget.ui-widget-content {
//  border-color: #d6d6d6;
//  @include border-radius(2px);
//  @include box-shadow(1px 2px 9px rgba(0, 0, 0, 0.1));
//  z-index: 2000 !important;
//}
//
//.gc-date-picker-icon {
//  font-size: 16px;
//  position: absolute;
//  top: 10px;
//  right: 14px;
//  color: #999;
//}
//
//.ui-datepicker-header.ui-widget-header {
//  background: $primaryBrandColor;
//  font-family: $primary-font;
//  font-weight: normal;
//  color: #fff;
//  border-color: $primaryBrandColor;
//  @include border-radius(2px);
//}
//
//.ui-datepicker-next-hover {
//  background: none !important;
//  border: none !important;
//  top: 2px !important;
//  right: 2px !important;
//  cursor: pointer;
//}
//
//.ui-datepicker th {
//  font-family: $primary-font;
//  color: #999;
//  font-size: 14px;
//}
//
//.ui-datepicker-calendar td {
//  color: $primaryBrandColor;
//  font-weight: bold;
//}
//
//.ui-datepicker-calendar td .ui-state-default {
//  width: 30px;
//  height: 30px;
//  @include border-radius(50%);
//  text-align: center;
//  padding-top: 7px;
//  border: none;
//  font-family: $primary-font;
//  font-size: 12px;
//  font-weight: bold;
//}
//
//.ui-datepicker-prev-hover {
//  background: none !important;
//  border: none !important;
//  top: 2px !important;
//  left: 2px !important;
//  cursor: pointer;
//}
//
//.ui-datepicker-calendar td .ui-state-highlight {
//  background: #ffe4e4;
//}
//
//.ui-datepicker-calendar td .ui-state-highlight.ui-state-active {
//  color: #727272;
//}
//
//.gc-date-picker-wrapper .ui-datepicker-trigger {
//  position: absolute;
//  top: 12px;
//  right: 14px;
//  cursor: pointer;
//}
//
//.ui-datepicker .ui-datepicker-prev {
//  background: transparent;
//  &:hover {
//    background: transparent;
//  }
//}
//
//.ui-datepicker .ui-datepicker-next {
//  background: transparent;
//  &:hover {
//    background: transparent;
//  }
//}
//
//.ui-datepicker .ui-datepicker-prev {
//  height: 28px;
//  span {
//    background: url('../images/left-arrow.svg') no-repeat center center;
//    background-size: 14px;
//  }
//}
//
//.ui-datepicker .ui-datepicker-next {
//  height: 28px;
//  span {
//    background: url('../images/right-arrow.svg') no-repeat center center;
//    background-size: 14px;
//  }
//}
//
//.ui-datepicker .ui-datepicker-title {
//  font-size: 14px;
//}
//
//.ui-menu .ui-state-focus,
//.ui-menu .ui-state-active {
//  margin: 0;
//}
//
//.ui-state-active,
//.ui-widget-content .ui-state-active {
//  color: #fff;
//  background: $primaryBrandColor;
//}
//
//.select2-dropdown{
//  border: none;
//  border-radius: 4px;
//  background-color: #ffffff;
//  box-shadow: 0 10px 30px 0 rgba(141, 151, 158, 0.2);
//}
//
//.ti-modal{
//  .modal-lg{
//    @include tablet{
//      max-width: 75%;
//    }
//    @include desktop-sm{
//      width: 900px;
//    }
//    @include desktop-lg{
//      width: 1000px;
//    }
//   .modal-content{
//     border: none;
//     overflow: hidden;
//    .modal-body{
//      padding: 0;
//      border: 0;
//      .ti-enquire-popup__close-btn{
//        position: absolute;
//        right: 20px;
//        top: 20px;
//        .close{
//          border-radius: 4px;
//          background-color: rgba(0, 0, 0, 0.17);
//          color: #fff; 
//          font-size: 14px;
//          padding: 8px 12px;
//          opacity: 1;
//          font-weight: 300;
//          letter-spacing: 1px;
//          text-shadow: none;
//          @include transition(all 0.3s ease-out);
//               span{
//                 font-size: 11px;
//               }
//               &:hover{
//                 color: $primaryBrandColor;
//               }
//          }
//      }
//    }
//   }
//  }
//}
//.select2-container{
//  width: 100% !important; 
//}
//.select2-container--default {
//  // &.select2-container--open.select2-container--below {
//  //   .select2-selection--single{
//  //     @include border-radius(21px);
//  //   }
//  // }
//  &.select2-container--focus{
//    .select2-selection--single{
//      border-color: $primaryBrandColor;
//    }
//  }
//  &.select2-container--open{
//    .select2-selection--single{
//      .select2-selection__arrow{
//        b{
//          border-width: 0 6px 7px 6px;
//          border-color: transparent transparent #bfbfbf transparent;
//        }
//      }
//    }
//  } 
//  .select2-selection--single{
//    width: 100%;
//    border: 1px solid #eff0f4;
//    background: #eff0f4;
//    @include border-radius(21px);
//    height: 42px;
//    .select2-selection__rendered{
//      font-size: 16px;
//      line-height: 42px;
//      padding: 0 20px;
//    }
//    .select2-selection__arrow{
//      height: 42px;
//      b{
//        border-width: 7px 6px 0 6px;
//        border-color: #bfbfbf transparent transparent transparent;
//        margin-left: -14px;
//      }
//    }
//  }
//  .select2-results__option--highlighted[aria-selected]{
//    background: #3ac81e; 
//  }
//}
//.select2-dropdown{
//  @include border-radius(0 0 21px 21px);
//  overflow: hidden;
//}
//.select2-results__option{
//  font-size: 14px;
//  padding: 10px 20px;
//}
//
//// Secondary Dropdown Style
//.select2-container--default{
//  &.select2-container--open{
//    .ti-secondary-select-box-style{
//      .select2-selection__arrow{
//        b{
//          @include rotate(-180deg)
//        }
//      }
//    }
//  }
//  .select2-selection--single.ti-secondary-select-box-style{
//    @include border-radius(4px);
//    background: transparent;
//    height: 32px;
//    .select2-selection__rendered{
//      font-size: 14px;
//      padding: 0 10px;
//      line-height: 32px;
//      color: #707070;
//    }
//    .select2-selection__arrow{
//      height: 32px;
//      b{
//        border: none;
//        background: url('../images/down-arrow.svg') no-repeat center center;
//        background-size: contain;
//        width: 8px;
//        height: 6px;
//        margin-top: -3px;
//        left: auto;
//        right: 10px;
//        @include transition(all 0.3s);
//      }
//    }
//  }
//} 
//.ti-secondary-select-box-dropdown-style{
//  @include border-radius(0 0 4px 4px);
//  border: 1px solid #eff0f4;
//  border-top: none; 
//  @include box-shadow(none);
//  .select2-results__option{
//    font-size: 14px;
//    padding: 8px 10px;
//    color: #707070;
//  }
//  .select2-results__option--highlighted[aria-selected]{
//    background: transparent;
//    color: $primaryBrandColor;
//  }
//  .select2-results__option[aria-selected=true]{
//    background: transparent;
//  }
//}
