$namespace: "pj-Input";
.#{$namespace} {
    &__txtBox{
        @include border-radius(2px);
        border: 1.3px solid #b0b0b0c2;
        padding: 5px 11.5px;
        color: #898989; 
        font-size: $small__font-size;
        position: relative;
        &:hover{
            border-color: #b0b0b0;
        }
        &:focus{
            outline: none;
        }

        &--success{
            &::after{
                position: relative;
                right: 0;
                content: "ok";
            }
        }

        &__msg{
            position: absolute;
            font-size: 14px;
            bottom: 6px;
            left: 212px;
            &--success{
                color: $successColor;
            }
            &--error{
                color: $dangerColor;
            }
        }
    }
    &__checkBox{
        opacity: 0;
        margin-right: 15px;
        & + .skin{
            @include border-radius(2px);
            border: 1.5px solid $tertiaryColor;
            position: absolute;
            left: 0;
            top: 0;
            display: inline-block;
            width: 17px;
            height: 17px;
        }
        &:checked ~ .skin{
            background-color: #c5d7ff;
            content: "&10004;";
            color: #FFFFFF;
        }
        &:disabled ~ .skin{
            border: 1px solid #ccc;
        }
    }
  } 
  .#{$namespace}{
      &__wrapper{
          position: relative;
      }
  }
