
$phone-sm-width: 480px;
$phone-width: 576px;
$tablet-width: 768px;
$desktop-sm-width: 992px;
$desktop-md-width: 1200px;
$desktop-lg-width: 1400px;
$desktop-xl-width: 1700px;

@mixin phone-sm{
  @media (min-width: #{$phone-sm-width}){
    @content;
  }
}

@mixin phone-lanscape{
  @media (min-width: #{$phone-width}){
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}){
    @content;
  }
}

@mixin desktop-sm {
  @media (min-width: #{$desktop-sm-width}) {
    @content;
  }
}

@mixin desktop-md {
  @media (min-width: #{$desktop-md-width}) {
    @content;
  }
}

@mixin desktop-lg {
    @media (min-width: #{$desktop-lg-width}) {
      @content;
    }
  }
  @mixin desktop-xl {
    @media (min-width: #{$desktop-xl-width}) {
      @content;
    }
  }