

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin box-sizing($box-sizing-value){
	-webkit-box-sizing:$box-sizing-value;
	-moz-box-sizing:$box-sizing-value;
	box-sizing:$box-sizing-value;
	}
@mixin rotate($rotate-value){
	-webkit-transform:rotate($rotate-value);
	-moz-transform:rotate($rotate-value);
	-o-transform:rotate($rotate-value);
	-ms-transform:rotate($rotate-value);
	transform:rotate($rotate-value);
	}
@mixin translate($translatex-value, $translatey-value){
		-webkit-transform:translate($translatex-value, $translatey-value);
		-moz-transform:translate($translatex-value, $translatey-value);
		-o-transform:translate($translatex-value, $translatey-value);
		-ms-transform:translate($translatex-value, $translatey-value);
		transform:translate($translatex-value, $translatey-value);
		}
@mixin border-radius($border-radius-value){
	-webkit-border-radius:$border-radius-value;
	-moz-border-radius:$border-radius-value;
	border-radius:$border-radius-value;
	}
@mixin box-shadow($box-shadow-value){
	-webkit-box-shadow:$box-shadow-value;
	-moz-box-shadow:$box-shadow-value;
	box-shadow:$box-shadow-value;
	}
@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	}

@mixin inline-flex {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
}


@mixin flex($values) {
	-webkit-box-flex: $values;
	-moz-box-flex:  $values;
	-webkit-flex:  $values;
	-ms-flex:  $values;
	flex:  $values;
}

@mixin order($val) {
	-webkit-box-ordinal-group: $val;
	-moz-box-ordinal-group: $val;
	-ms-flex-order: $val;
	-webkit-order: $val;
	order: $val;
}
@mixin linearGradient($left, $right){
    background: $left; /* Old browsers */
    background: -moz-linear-gradient(left,  $left 0%, $right 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$left), color-stop(100%,$right)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  $left 0%,$right 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  $left 0%,$right 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  $left 0%,$right 100%); /* IE10+ */
    background: linear-gradient(to right,  $left 0%,$right 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin scale($x-value, $y-value){
	-webkit-transform: scale($x-value, $y-value);
	-moz-transform: scale($x-value, $y-value);
	-o-transform: scale($x-value, $y-value);
	-ms-transform: scale($x-value, $y-value);
	transform: scale($x-value, $y-value);
}
