@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?z7ghrw');
  src:  url('../fonts/icomoon.eot?z7ghrw#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?z7ghrw') format('truetype'),
    url('../fonts/icomoon.woff?z7ghrw') format('woff'),
    url('../fonts/icomoon.svg?z7ghrw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-mail:before {
  content: "\e902";
}
