<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
      <title>{{htmlWebpackPlugin.options.title}}</title>
      <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Rozha+One" rel="stylesheet">
   </head>
   <body class="azap_single_page">
      <section class="ti-section ti-preloader-section">
         <div class="ti-preloader__content">
            <div class="ti-preloader__circle">
               <h6 class="ti-preloader__progress-count"></h6>
            </div>
            <p class="ti-preloader__text">प्रगति</p>
         </div>
      </section>
      <main class="ti-main-content">
         <section class="ti-section ti-work-section--one ti-work-section--personal-branding">
            <div class="container">
               <div class="ti-work-section__title-wrapper">
                  <h1 class="ti-work-section__title">Azap</h1>
                  <p class="ti-work-section__sub-title">An ecosystem to groom kids to make better financial decisions</p>
               </div>
               <div class="ti-work-section__highlight-card">
                  <div class="ti-work-section-highlight-card__left">
                     <h2 class="ti-work-highlight-card__title">Case Study / Concept Design</h2>
                     <p class="ti-work-highlight-card__description">An ecosystem to groom kids to make better financial decisions. The parents can inculcate good financial habits . Azap creates weekly and monthly patterns, with your spend , save, share habits of the kids, to help them make better financial decisions from the childhood itself</p>
                     <ul class="ti-work-highlight-card__stats-list">
                        <li>
                           <h3 class="ti-work-highlight-card__stats-head">Focus Areas</h3>
                           <ul class="ti-work-highlight-card__stats-points-list">
                              <li>Spend Patterns</li>
                           </ul>
                        </li>
                        <li>
                           <h3 class="ti-work-highlight-card__stats-head">Touch Points</h3>
                           <ul class="ti-work-highlight-card__stats-points-list">
                              <li>Mobile Application </li>
                              <li>Piggy Bank</li>
                              <li>ATM machine</li>
                           </ul>
                        </li>
                        <li>
                           <h3 class="ti-work-highlight-card__stats-head">Type</h3>
                           <ul class="ti-work-highlight-card__stats-points-list">
                              <li>Jan 2020</li>
                           </ul>
                        </li>
                     </ul>
                  </div>
                  <div class="ti-work-highlight-card__right">
                     <img src="images/azap-banner.png" alt="azap-banner-image">
                  </div>
               </div>
               <span class="ti-back-button" title="Back" data-hover>
               <span class="ti-back-button__icon"></span>
               <span class="ti-back-button__text">Back</span>
               </span>
            </div>
            <div class="ti-hero-section__particles-wrapper">
               <span class="ti-hero-particle-type-one ti-hero-particle-type-one--small" style="left: 78%;top: 25%;"></span>
               <span class="ti-hero-particle-type-one ti-hero-particle-type-one--medium" style="left: 20%;top: 17%"></span>
               <span class="ti-hero-particle-type-one ti-hero-particle-type-one--medium" style="left: 80%;top: 65%"></span>
               <span class="ti-hero-particle-type-one ti-hero-particle-type-one--large"></span>
               <span class="ti-hero-particle-type-one ti-hero-particle-type-one--extra-large"></span>
            </div>
         </section>
         <section class="ti-section ti-work-section--two ti-work-section--two-personal-branding">
            <div class="container">
               <div class="ti-work-section-two__title-wrapper">
                  <h3 class="ti-work-section-two__title">Parental problems</h3>
               </div>
               <div class="ti-work-section-two__content-wrapper">
                  <ul class="ti-work-section-two__content-card-list">
                     <li>
                        <div class="ti-work-section-two__content-card ti-work-section-two__content-card--personal-branding">
                           <div class="ti-work-section-two__content-card-content">
                              <h1> 2 in 3 </h1>
                              <p>Parents are concerned as digital money is making it harder for children to grasp the value of real money (66%)</p>
                           </div>
                           <img src="images/azap-mask.svg" alt="personal-branding-1" class="ti-work-section-two__content-card-bg">
                        </div>
                     </li>
                     <li>
                        <div class="ti-work-section-two__content-card azap_2in5_grid">
                           <div class="ti-work-section-two__content-card-content">
                              <h1> 2 in 5 </h1>
                              <p>Parents are concerned their children will lack the skills they need to be financially successful once they become independent. (45%)</p>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </section>
         <section class="tr_parental_problems_list">
            <div class="container">
               <ul>
                  <li>
                     <div class="tr_parental_problems_list_grid">
                        <div class="tr_parental_problems_list_img"> 
                           <img src="images/img_research.svg" alt="personal-branding-2" class="research image"> 
                        </div>
                        <h5> Research </h5>
                     </div>
                  </li>
                  <li>
                     <div class="tr_parental_problems_list_grid">
                        <div class="tr_parental_problems_list_img"> 
                           <img src="images/img_brand_strategy.svg" alt="personal-branding-2" class="img_brand_strategy"> 
                        </div>
                        <h5> Research </h5>
                     </div>
                  </li>
                  <li>
                     <div class="tr_parental_problems_list_grid">
                        <div class="tr_parental_problems_list_img"> 
                           <img src="images/img_userflow.svg" alt="personal-branding-2" class="userflow image"> 
                        </div>
                        <h5> User Flow & Journy </h5>
                     </div>
                  </li>
                  <li>
                     <div class="tr_parental_problems_list_grid">
                        <div class="tr_parental_problems_list_img"> 
                           <img src="images/img_research.svg" alt="personal-branding-2" class="research image"> 
                        </div>
                        <h5> Research </h5>
                     </div>
                  </li>
               </ul>
            </div>
         </section>
         <section class="tr_statistics_numbers full_width">
            <div class="container">
               <h1 class="azap-main_head"> Statistics & <br> Numbers </h1>
               <div class="row tr_statistics_numbers_row">
                  <div class="col-sm-8 tr_statistics_numbers_col">
                     <ul class="statistics_numbers">
                        <li>
                           <div class="statistics_numbers_icon"> <img src="images/img_gift.svg" alt="personal-branding-1"> </div>
                           <div class="statistics_numbers_graph gift_frm_others">
                              <h2> 77% </h2>
                           </div>
                           <p> Gift from others </p>
                        </li>
                        <li>
                           <div class="statistics_numbers_icon"> <img src="images/img_gift.svg" alt="personal-branding-1"> </div>
                           <div class="statistics_numbers_graph gift_frm_parents">
                              <h2> 77% </h2>
                           </div>
                           <p> Gift from others </p>
                        </li>
                        <li>
                           <div class="statistics_numbers_icon"> <img src="images/img_gift.svg" alt="personal-branding-1"> </div>
                           <div class="statistics_numbers_graph allowence_frm_parents">
                              <h2> 77% </h2>
                           </div>
                           <p> Gift from others </p>
                        </li>
                     </ul>
                  </div>
                  <div class="col-sm-4 tr_statistics_numbers_col">
                     <div class="statistics_numbers_amount">
                        <div class="statistics_numbers_amount_icon"> <img src="images/img_research.svg" alt="research image"> </div>
                        <p><span> TOTAL AMOUNT </span> </p>
                        <h2> $260 B </h2>
                        <p> Billion a year is spend by tweens or their parents for the tweens </p>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-4 tr_statistics_numbers_col">
                     <div class="statistics_numbers_btm_fold">
                        <h5> WHERE DO THEY SPEND MONEY? </h5>
                        <p> Even though tweens grew up with the Internet, they don’t spend as much time online as their older siblings. 48% spend less than one hour per day online, compared to 81% of teens. </p>
                     </div>
                  </div>
                  <div class="col-sm-8 tr_statistics_numbers_col">
                     <div class="statistics_numbers_btm_list">
                        <ul>
                           <li>
                              <h2 class="above-fifty videos_games"> 82% </h2>
                              <p> Videos & Games </p>
                           </li>
                           <li>
                              <h2 class="above-fifty food_beverages"> 57% </h2>
                              <p> Food & Beverages </p>
                           </li>
                           <li>
                              <h2 class="below-fifty toys_collectibles"> 42% </h2>
                              <p> Toys & Collectibles </p>
                           </li>
                           <li>
                              <h2 class="below-fourty clothing_shoes"> 40% </h2>
                              <p> Clothing & Shoes </p>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="statistics_numbers_link"> 
                  <a href="https://www.marketingsherpa.com/article/how-to/data-spending-habits-dos-donts" target="_blank" data-hover>https://www.marketingsherpa.com/article/how-to/data-spending-habits-dos-donts </a>  
               </div>
            </div>
         </section>
         <section class="talking_tweens section_one">
            <div class="container">
               <h1 class="azap-main_head"> Talking to Tweens </h1>
               <div class="row">
                  <div class="col-sm-4">
                     <div class="talking_tweens_head_grid">
                        <div class="talking_tweens_head">
                           <h1> Divya Soni </h1>
                           <p> 12 years old | F | Older sibling </p>
                        </div>
                        <div class="tween_image"> <img src="images/img_divya.svg" alt="Azap user flow image" class="tween_image"> </div>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="talking_tweens_grid">
                        <div class="about_tween">
                           <h5> <i> <img src="images/happy_emoticon.svg" alt="Azap user flow image" class="about_her_icon"> </i> <span> About her </span> </h5>
                           <p> She studies at ST Mary’s High School, and soft spoken in nature, good at her studies in school. Parents belong to upper middle class </p>
                        </div>
                        <div class="tween_quote">
                           <p> I get money daily for my school travel and sometimes for food. I love my piggy bank, like to collect coins in it </p>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="what_tweens_know talking_tweens_grid">
                        <h5> <i> <img src="images/happy_emoticon.svg" alt="Azap user flow image" class="about_her_icon"> </i> What Divya Knows? </h5>
                        <ul class="what_tweens_know_list">
                           <li>
                              <div class="tweens_text">
                                 <p> Understands ATM </p>
                                 <p> <span> Accompany my dad </span> </p>
                              </div>
                              <div class="tweens_status"> Yes </div>
                           </li>
                           <li>
                              <div class="tweens_text">
                                 <p> Uses Mobile Phone </p>
                                 <p> <span> For games, chatting,
                                    watching videos </span> 
                                 </p>
                              </div>
                              <div class="tweens_status"> Daily </div>
                           </li>
                           <li>
                              <div class="tweens_text">
                                 <p> Uses Piggy Bank </p>
                                 <p> <span> Collect coins,
                                    Gift from others </span> 
                                 </p>
                              </div>
                              <div class="tweens_status"> Occasionally </div>
                           </li>
                           <li>
                              <div class="tweens_text">
                                 <p> Owns Credit/debit card </p>
                                 <p> <span> Everything in cash or uses
                                    parents digital account </span> 
                                 </p>
                              </div>
                              <div class="tweens_status no"> No </div>
                              </li
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="talking_tweens section_two">
            <div class="container">
               <div class="row">
                  <div class="col-sm-3">
                     <div class="talking_tweens_grid">
                        <div class="about_tween">
                           <h5> <i> <img src="images/happy_emoticon.svg" alt="Azap user flow image" class="about_her_icon"> </i> <span> About him </span> </h5>
                           <p> Studies at St.John High school, studies with his older sibling and enjoys playing games. Parents belong to upper middle class </p>
                        </div>
                        <div class="tween_quote">
                           <p> My mom comes to pick me up and drop me, or I go with my older sibling to house, I get food expenses at times. </p>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="what_tweens_know talking_tweens_grid">
                        <h5> <i> <img src="images/happy_emoticon.svg" alt="Azap user flow image" class="about_her_icon"> </i> What Divya Knows? </h5>
                        <ul class="what_tweens_know_list">
                           <li>
                              <div class="tweens_text">
                                 <p> Understands ATM </p>
                                 <p> <span> Accompany my dad </span> </p>
                              </div>
                              <div class="tweens_status"> Yes </div>
                           </li>
                           <li>
                              <div class="tweens_text">
                                 <p> Uses Mobile Phone </p>
                                 <p> <span> Play games like PUBG </span> 
                                 </p>
                              </div>
                              <div class="tweens_status"> Daily </div>
                           </li>
                           <li>
                              <div class="tweens_text">
                                 <p> Uses Piggy Bank </p>
                                 <p> <span> Have a piggy bank, Put found coins at home </span> 
                                 </p>
                              </div>
                              <div class="tweens_status"> Rarely </div>
                           </li>
                           <li>
                              <div class="tweens_text">
                                 <p> Owns Credit/debit card </p>
                                 <p> <span> Mom gives me the money </span> 
                                 </p>
                              </div>
                              <div class="tweens_status no"> No </div>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="talking_tweens_grid">
                        <div class="talking_tweens_head_grid">
                           <div class="talking_tweens_head">
                              <h1> Anuj Janeja </h1>
                              <p> 11 years | M | Younger sibling </p>
                           </div>
                           <div class="tween_image"> <img src="images/img_anuj.svg" alt="Azap user flow image" class="tween_image"> </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="talking_tweens section_three">
            <div class="container">
               <div class="row">
                  <div class="col-sm-4">
                     <div class="talking_tweens_grid">
                        <div class="talking_tweens_head_grid">
                           <div class="talking_tweens_head">
                              <h1> Naitik Karkera </h1>
                              <p> 10 years old | SINGLE CHILD </p>
                           </div>
                           <div class="tween_image"> <img src="images/img_naitik.svg" alt="Azap user flow image" class="tween_image"> </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="talking_tweens_grid">
                        <div class="about_tween">
                           <h5> <i> <img src="images/happy_emoticon.svg" alt="Azap user flow image" class="about_her_icon"> </i> <span> About him </span> </h5>
                           <p> He studies at Gokuldam High school, parents belong to lower middle class family, very sportive, plays games at school </p>
                        </div>
                        <div class="tween_quote">
                           <p> I get money daily for my school travel and sometimes for food. I love my piggy bank, like to collect coins in it </p>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="what_tweens_know talking_tweens_grid">
                        <h5> <i> <img src="images/happy_emoticon.svg" alt="Azap user flow image" class="about_her_icon"> </i> What Divya Knows? </h5>
                        <ul class="what_tweens_know_list">
                           <li>
                              <div class="tweens_text">
                                 <p> Understands ATM </p>
                                 <p> <span> talking_tweens_main_head </span> </p>
                              </div>
                              <div class="tweens_status"> Yes </div>
                           </li>
                           <li>
                              <div class="tweens_text">
                                 <p> Uses Mobile Phone </p>
                                 <p> <span> Play online games </span> 
                                 </p>
                              </div>
                              <div class="tweens_status"> Daily </div>
                           </li>
                           <li>
                              <div class="tweens_text">
                                 <p> Uses Piggy Bank </p>
                                 <p> <span> No he doesn’t have </span> 
                                 </p>
                              </div>
                              <div class="tweens_status"> No </div>
                           </li>
                           <li>
                              <div class="tweens_text">
                                 <p> Owns Credit/debit card </p>
                                 <p> <span> Everything in cash or uses
                                    parents digital account </span> 
                                 </p>
                              </div>
                              <div class="tweens_status no"> No </div>
                              </li
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="current_scenario azap_padding">
            <div class="container">
               <div class="current_scenario_head">
                  <h1 class="azap-main_head"> Current Scenario </h1>
                  <p> Using the stories from the interviews and the characteristics of the tweens, constructing a basic user flow </p>
               </div>
               <div class="row">
                  <div class="col-sm-8 current_scenario_col">
                     <h5> WHAT PARENTS DO </h5>
                     <div class="current_scenario_grid">
                        <div class="what_parents_do_grid kids_daily">
                           <p> Parents give money to kids daily </p>
                        </div>
                        <div class="what_parents_do_grid kids_atm">
                           <p> Parents take kids<br> to ATM </p>
                        </div>
                        <div class="what_parents_do_grid physical_money">
                           <p> Parents give digital as well as physical money </p>
                        </div>
                     </div>
                     <h5 class="what_parants_do_head"> WHAT PARENTS DO </h5>
                     <div class="current_scenario_grid">
                        <div class="what_parents_do_grid_white">
                           <p> Kids spend it completely or put it into piggy banks </p>
                        </div>
                        <div class="what_parents_do_grid_white">
                           <p> Kids go to ATM with parents to withdraw money </p>
                        </div>
                        <div class="what_parents_do_grid_white">
                           <p> Kids use it for digital gaming, quick payments for snacks/drinks </p>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4 current_scenario_col">
                     <div class="problem_statement">
                        <h5> PROBLEM STATEMENTS </h5>
                        <ul>
                           <li>
                              <p> How to encourage <br> savings? </p>
                              <i> <img src="images/pig_bank.svg" alt="Azap user flow image"> </i>
                           </li>
                           <li>
                              <p> How to make kids be <br> independent with money? </p>
                              <i> <img src="images/ic_dollar.svg" alt="Azap user flow image"> </i>
                           </li>
                           <li>
                              <p> How to teach value of money digitally and physically? </p>
                              <i> <img src="images/ic_coins.svg" alt="Azap user flow image"> </i>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="new_scenario azap_padding">
            <div class="container">
               <div class="current_scenario_head">
                  <h1 class="azap-main_head"> New Scenario </h1>
               </div>
               <h5> WHAT PARENTS DO </h5>
               <div class="new_scenario_grid">
                  <ul>
                     <li>
                        <p> Parents give money to the kids as per monthly allowance & chores </p>
                     </li>
                     <li>
                        <p> Physical money and digital money should be part of one ecosystem </p>
                     </li>
                     <li>
                        <p> Money gets split into three part, SPEND, SAVE, SHARE </p>
                     </li>
                  </ul>
               </div>
               <div class="new_scenario_percentage">
                  <h5 class="new_scenario_list_head"> Parents can setup aZAP system where the DISTRIBUTE MONEY </h5>
                  <ul>
                     <li class="new_scenario_spend">
                        <p> Tweens can <br> spend it </p>
                        <span> 50% </span>
                     </li>
                     <li class="new_scenario_savings">
                        <p> Parent lock for <br> savings </p>
                        <span> 30% </span>
                     </li>
                     <li class="new_scenario_sharing">
                        <p> System locks it <br> for sharing </p>
                        <span> 10% </span>
                     </li>
                     <li class="new_scenario_balance">
                        <p> System locks it <br> for balance </p>
                        <span> 10% </span>
                     </li>
                  </ul>
               </div>
            </div>
         </section>
         <section class="visual_identity azap_padding">
            <div class="container">
               <div class="row visual_identity_row">
                  <div class="col-sm-4">
                     <ul class="visual_identity_list">
                        <li>
                           <p> Logo </p>
                           <img src="images/logo_azap 2.svg" alt="Azap user flow image">
                        </li>
                        <li>
                           <p> Icon </p>
                           <img src="images/icon_azap.svg" alt="Azap user flow image" class="azap_icon_image">
                        </li>
                     </ul>
                  </div>
                  <div class="col-sm-8">
                     <ul class="elements_azap">
                        <li>
                           <p> Elements of Azap </p>
                           <img src="images/spend_save_share.svg" alt="Azap user flow image" class="spend_save_share_image">
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="visual_identity_head">
                  <h1 class="azap-main_head"> Visual Identity </h1>
                  <p> Azap creates weekly and montly patterns, with your spend , save, share habits. </p>
               </div>
               <div class="row azap_tips_row">
                  <div class="col-sm-3">
                     <img src="images/img_week 1.png" alt="Azap user flow image" class="azap_tip_image">
                     <h5> Azap Tips </h5>
                     <div class="azap_tip">
                        <p> Your allowance just came in, have  healthy save, share, spend! </p>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <img src="images/img_week 2.png" alt="Azap user flow image" class="azap_tip_image">
                     <h5> Azap Tips </h5>
                     <div class="azap_tip">
                        <p> Did you feel good when you shared your money? </p>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <img src="images/img_week 3.png" alt="Azap user flow image" class="azap_tip_image">
                     <h5> Azap Tips </h5>
                     <div class="azap_tip">
                        <p> Your spend is running low, would like to get some extra allowance by doing chores? </p>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <img src="images/img_week 4.png" alt="Azap user flow image" class="azap_tip_image">
                     <h5> Azap Tips </h5>
                     <div class="azap_tip">
                        <p> Your allowance just came in, have  healthy save, share, spend! </p>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="azap_user_flows azap_padding">
            <div class="container">
               <h1 class="azap-main_head"> User Flows </h1>
               <div class="user_flow_image">
                  <img src="images/user_flow_1.png" alt="Azap user flow image">
                  <img src="images/user_flow_2.png" alt="Azap user flow image" class="azap_userflow_image">        
               </div>
            </div>
         </section>
         <section class="azap_wireflows_tweens_profile">
            <div class="container">
               <h1 class="azap-main_head"> Wireflows - Tweens Profile </h1>
               <img src="images/wireflows_tweens_profile.png" alt="Azap user flow image" class="wireflows_tweens_profile_image">
            </div>
         </section>
         <section class="azap_onboarding azap_padding">
            <div class="container">
               <div class="azap_onboarding_grid azap_screens">
                  <div class="azap_screens_head">
                     <h1> Tweens Mode </h1>
                     <img src="images/azap_heading_pattern.png" alt="Heading pattern" class="azap_heading_pattern">
                  </div>
                  <div class="azap_screens_text">
                     <h2> ONBOARDING </h2>
                     <p> The features of earning, tracking and sharing back with the community is showcased during Onboarding </p>
                  </div>
                  <img src="images/azap_onboarding.png" alt="Azap user flow image" class="azap_onboarding_image">
               </div>
            </div>
         </section>
         <section class="earn_activities">
            <div class="container">
               <div class="azap_screens">
                  <div class="row">
                     <div class="col-sm-7">
                        <div class="earn_activities_image"> <img src="images/earn_activites.png" alt="Azap activites" class="earn_activities_image"> </div>
                     </div>
                     <div class="col-sm-5">
                        <div class="v_align_container">
                           <div class="v_align_container_grid">
                              <div class="azap_screens_text">
                                 <h2> EARN VIA ACTIVITIES </h2>
                                 <p> Tweens can get extra daily allowance by helping family members, learning the value of money by earning it. If you cannot do the activity today, do it later </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="activities_card azap_padding">
            <div class="container">
               <div class="azap_screens_text">
                  <h2> ACTIVITIES CARDS </h2>
               </div>
               <div class="row">
                  <div class="col-sm-4">
                     <div class="activities_card_grid">
                        <p>  Completed Activity </p>
                        <img src="images/activity_1.png" alt="You helped mom">
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="activities_card_grid">
                        <p> Assigned activity </p>
                        <img src="images/activity_2.png" alt="Mom asked for help">
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="activities_card_grid">
                        <p> Will do the activity later </p>
                        <img src="images/activity_3.png" alt="Britani asked for help">
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="activities_assigned azap_screens">
            <div class="container">
               <div class="azap_screens">
                  <div class="row">
                     <div class="col-sm-6">
                        <div class="v_align_container">
                           <div class="v_align_container_grid">
                              <div class="azap_screens_text">
                                 <h2> ALL ACTIVITIES ASSIGNED </h2>
                                 <p> Activity done will notify mom to initiate allowance , also you can track your earnings via activities </p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="earn_activities"> <img src="images/azap_all_activities.png" alt="Azap activites" class="all_activities_image"> </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="create_whishlist">
            <div class="container">
               <div class="azap_screens">
                  <div class="row">
                     <div class="col-sm-7">
                        <div class="create_whishlist_image"> <img src="images/create_whishlist.png" alt="Azap activites"> </div>
                     </div>
                     <div class="col-sm-5">
                        <div class="azap_screens_text">
                           <h2> CREATE WISHLIST </h2>
                           <p> Add items from all the ecommerce website into the Wishlist. The saved percentage of your earning will be used for your wishes.<br> It also shows the deduction from the savings once you buy the product </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="azap_goals">
            <div class="container">
               <div class="azap_screens">
                  <div class="azap_screens_text">
                     <h2> GOALS % </h2>
                     <p> Showcasing things you can buy and can’t buy based on your savings, also things you have bought </p>
                  </div>
                  <img src="images/gaols_card.png" alt="Azap activites" class="gaols_card">
                  <img src="images/azap_goals.png" alt="Azap activites" class="azap_goals_image">
               </div>
            </div>
         </section>
         <section class="profile_up">
            <div class="container">
               <div class="row">
                  <div class="col-sm-6">
                     <img src="images/azap_profile_up.png" alt="Azap activites" class="profile_up_image">
                  </div>
                  <div class="col-sm-6">
                     <div class="v_align_container">
                        <div class="v_align_container_grid">
                           <div class="azap_screens_text">
                              <h2> PROFILE UP & WIN A WISH </h2>
                              <p> You can raise your level in the app, with  tutorials and finance lessons quiz. If you level up , you can win a wish from your wishlist </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="learn_about_money">
            <div class="container">
               <div class="row">
                  <div class="col-sm-6">
                     <div class="v_align_container">
                        <div class="v_align_container_grid">
                           <div class="azap_screens_text">
                              <h2> LEARN ABOUT MONEY </h2>
                              <p> Basic question and tutorials each day can help your tween understand more about money to take better decisions </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <img src="images/learn_about_me.png" alt="Learn about me" class="learn_about_money_image">
                  </div>
               </div>
            </div>
         </section>
         <section class="azap_wallet">
            <div class="container">
               <div class="row">
                  <div class="col-sm-6">
                     <div class="azap_wallet_image"> <img src="images/azap_wallet.png" alt="Azap activites" class="azap_wallet_image"> </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="v_align_container">
                        <div class="v_align_container_grid">
                           <div class="azap_screens_text">
                              <h2> WALLET % </h2>
                              <p> Tween wallets show the percentage of earnings they can spend, saved and can be shared with community and friends. <br>
                                 Also tracks their expenses on earning and expenditure! 
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="help_community">
            <div class="container">
               <div class="row">
                  <div class="col-sm-6">
                     <div class="azap_screens_text">
                        <h2> HELP COMMUNITY </h2>
                        <p> Tweens can learn to share money with community and friends. Learn to start donating at young age </p>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <img src="images/help_community.png" alt="Azap activites" class="help_community_image">
                  </div>
               </div>
            </div>
         </section>
         <section class="donation_cards">
            <div class="container">
               <div class="azap_screens_text">
                  <h2> DONATION CARDS </h2>
               </div>
               <div class="row">
                  <div class="col-sm-4">
                     <div class="donation_cards_grids">
                        <p> Completed Donation </p>
                        <img src="images/donation_cards_1.png" alt="Azap activites">
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="donation_cards_grids">
                        <p> Need Help </p>
                        <img src="images/donation_cards_2.png" alt="Azap activites">
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="donation_cards_grids">
                        <p> Help later </p>
                        <img src="images/donation_cards_3.png" alt="Azap activites">
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="add_charities">
            <div class="container">
               <div class="row">
                  <div class="col-sm-6">
                     <img src="images/add_charity_image.png" alt="Azap activites" class="add_charity_image">
                  </div>
                  <div class="col-sm-6">
                     <div class="v_align_container">
                        <div class="v_align_container_grid">
                           <div class="azap_screens_text">
                              <h2> ADD CHARITIES </h2>
                              <p> Parents and tweens can add their favourite charity communities in share tab </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="onboarding_kids azap_screens">
            <div class="container">
               <div class="row">
                  <div class="col-sm-5">
                     <div class="v_align_container">
                        <div class="v_align_container_grid">
                           <div class="azap_screens_text">
                              <h2> ONBOARDING </h2>
                              <p> The features of helping kids learn more about finances, tracking their financial habits. </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-7">
                     <div class="azap_screens_head">
                        <h1> Parants Mode </h1>
                        <img src="images/azap_heading_pattern.png" alt="Heading pattern" class="azap_heading_pattern">
                     </div>
                     <img src="images/onboarding_kids.png" alt="Azap activites" class="onboarding_kids_image">
                  </div>
               </div>
            </div>
         </section>
         <section class="create_new_activity">
            <div class="container">
               <div class="row">
                  <div class="col-sm-6">
                     <img src="images/create_new_activity.png" alt="Azap activites" class="create_new_activity_image">
                  </div>
                  <div class="col-sm-6">
                     <div class="v_align_container">
                        <div class="v_align_container_grid">
                           <div class="azap_screens_text">
                              <h2> CREATE ACTIVITY </h2>
                              <p> Parents have their own dashboard, to assign activities, track their expense report and give allowance to kids </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="track_allocate">
            <div class="container">
               <div class="row">
                  <div class="col-sm-6">
                     <div class="v_align_container">
                        <div class="v_align_container_grid">
                           <div class="azap_screens_text">
                              <h2> TRACK & ALLOCATE </h2>
                              <p> Parents can track the activities and pay the kids accordingly, also if the kids level up complete their wishlist </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <img src="images/track_allocate.png" alt="Azap activites" class="track_allocate_image">
                  </div>
               </div>
            </div>
         </section>
         <section class="kid_friendly_atm">
            <div class="container">
               <div class="kid_friendly_atm_grid azap_screens">
                  <div class="azap_screens_head">
                     <h1 class="azap-main_head"> ATM Machine </h1>
                     <img src="images/shape_red.svg" alt="Heading pattern" class="azap_heading_pattern">
                  </div>
                  <div class="azap_screens_text">
                     <h2> KID FRIENDLY ATM </h2>
                     <p> Facilitating kids to remove money from ATM without using cards  </p>
                  </div>
                  <div class="kid_friendly_atm_images">
                     <img src="images/atm_machine.png" alt="Azap user flow image" class="atm_machine_image">
                     <h3> ATM machine Design : Sense the kid’s height and rotates </h3>
                     <div class="row">
                        <div class="col-sm-6">
                           <img src="images/12_years.png" alt="Azap user flow image">
                           <h3> 8-12 YRS </h3>
                        </div>
                        <div class="col-sm-6">
                           <img src="images/6_years.png" alt="Azap user flow image">
                           <h3> 6-8 YRS </h3>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="physical_atm azap_screens">
            <div class="container">
               <div class="physical_atm_text">
                  <h2> PHYSICAL ATM </h2>
                  <p> Facilitating kids to remove money from ATM without using cards </p>
               </div>
               <div class="track_allocatephysical_atm_image">
                  <img src="images/physical_atm.png" alt="Azap activites">
               </div>
            </div>
         </section>
         <section>
            <div class="container">
               <div class="ti-work-section-eleven__sub-section ti-work-section-eleven__sub-section--two">
                  <div class="row">
                     <div class="col-sm-6">
                        <div class="ti-work-section-eleven__sub-section-two-left">
                           <h3 class="ti-work-section-eleven__sub-section-two-head">For Tweens</h3>
                           <ul class="ti-work-section-survey-result-list">
                              <li class="ti-work-section-survey-result-list--green">
                                 <div class="ti-work-section-survey-result-list__left">
                                    <span class="ti-work-section-survey-result-list__left-text">Azap allows them to be independent with finance</span>
                                 </div>
                                 <div class="ti-work-section-survey-result-list__right">
                                    <img src="images/icon-positive.svg" alt="icon postive" class="ti-work-section-survey-result-list__right-icon">
                                 </div>
                              </li>
                              <li class="ti-work-section-survey-result-list--green">
                                 <div class="ti-work-section-survey-result-list__left">
                                    <span class="ti-work-section-survey-result-list__left-text">Learn to give back to community</span>
                                 </div>
                                 <div class="ti-work-section-survey-result-list__right">
                                    <img src="images/icon-positive.svg" alt="icon postive" class="ti-work-section-survey-result-list__right-icon">
                                 </div>
                              </li>
                              <li class="ti-work-section-survey-result-list--green">
                                 <div class="ti-work-section-survey-result-list__left">
                                    <span class="ti-work-section-survey-result-list__left-text">Learn to help their family </span>
                                 </div>
                                 <div class="ti-work-section-survey-result-list__right">
                                    <img src="images/icon-positive.svg" alt="icon postive" class="ti-work-section-survey-result-list__right-icon">
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="ti-work-section-eleven__sub-section-two-left">
                           <h3 class="ti-work-section-eleven__sub-section-two-head">For Parents</h3>
                           <ul class="ti-work-section-survey-result-list">
                              <li class="ti-work-section-survey-result-list--green">
                                 <div class="ti-work-section-survey-result-list__left">
                                    <span class="ti-work-section-survey-result-list__left-text">Parents can watch their kids learn more about finance</span>
                                 </div>
                                 <div class="ti-work-section-survey-result-list__right">
                                    <img src="images/icon-positive.svg" alt="icon postive" class="ti-work-section-survey-result-list__right-icon">
                                 </div>
                              </li>
                              <li class="ti-work-section-survey-result-list--green">
                                 <div class="ti-work-section-survey-result-list__left">
                                    <span class="ti-work-section-survey-result-list__left-text">Reward kids for their better choices</span>
                                 </div>
                                 <div class="ti-work-section-survey-result-list__right">
                                    <img src="images/icon-positive.svg" alt="icon postive" class="ti-work-section-survey-result-list__right-icon">
                                 </div>
                              </li>
                              <li class="ti-work-section-survey-result-list--green">
                                 <div class="ti-work-section-survey-result-list__left">
                                    <span class="ti-work-section-survey-result-list__left-text">Ask for help from family members</span>
                                 </div>
                                 <div class="ti-work-section-survey-result-list__right">
                                    <img src="images/icon-positive.svg" alt="icon postive" class="ti-work-section-survey-result-list__right-icon">
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <footer class="ti-work-footer ti-work-footer--80">
            <div class="container">
                <div class="ti-work-footer__content">
                    <div class="ti-work-footer__content-left">
                        <a href="sieva.html" class="ti-work-footer__link" data-hover>
                            <h6 class="ti-work-footer__link-head">Previous</h6>
                            <div class="ti-work-footer__link-row">
                                <div class="ti-work-footer__link-column">01</div>
                                <div class="ti-work-footer__link-column">Sieva</div>
                            </div>
                        </a>
                    </div>
                    <div class="ti-work-footer__content-right">
                        <a href="zappie.html" class="ti-work-footer__link" data-hover>
                            <h6 class="ti-work-footer__link-head">Next project</h6>
                            <div class="ti-work-footer__link-row">
                                <div class="ti-work-footer__link-column">03</div>
                                <div class="ti-work-footer__link-column">Zappie</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
        <a id="scrollTop" title="Go to top">
            <p>Scroll up</p>
            <img src="images/back-to-top.svg" alt="back to top">
         </a>
         <div class="cursor">
            <div class="cursor__inner cursor__inner--circle"></div>
            <div class="cursor__inner cursor__inner--dot"></div>
         </div>
      </main>
   </body>
</html>