<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Rozha+One" rel="stylesheet">
</head>

<body class="ti-cs-body">
    <section class="ti-section ti-preloader-section">
        <div class="ti-preloader__content">
            <div class="ti-preloader__circle">
                <h6 class="ti-preloader__progress-count"></h6>
            </div>
            <p class="ti-preloader__text">प्रगति</p>
        </div>
    </section>
    <section class="ti-section ti-hero-section">
        <header class="ti-header">
            <div class="container">
                <div class="ti-header__content">
                    <a href="index.html" class="ti-header__logo" data-hover>
                        <img src="images/trupti-shirodkar-logo.svg" alt="trupti shirodkar logo">
                        <span class="ti-header__logo-text">Trupti Shirodkar</span>
                    </a>
                    <button type="text" class="ti-header__hamburger" data-hover>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
        </header>
        <div class="ti-header-dropdown-container">
            <svg class="shape-overlays" viewBox="0 0 100 100" preserveAspectRatio="none">
                <defs>
                    <linearGradient id="gradient1" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%" stop-color="#CC3BDE" />
                        <stop offset="100%" stop-color="#5E2ED0" />
                    </linearGradient>
                    <linearGradient id="gradient2" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%" stop-color="#79D3CC" />
                        <stop offset="100%" stop-color="#B7FA82" />
                    </linearGradient>
                    <linearGradient id="gradient3" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%" stop-color="#9C65F6" />
                        <stop offset="100%" stop-color="#4113A5" />
                    </linearGradient>
                </defs>
                <path class="shape-overlays__path" fill="url(#gradient1)"></path>
                <path class="shape-overlays__path" fill="url(#gradient2)"></path>
                <path class="shape-overlays__path" fill="url(#gradient3)"></path>
            </svg>
            <div class="ti-header-dropdown">
                <div class="container ti-header-dropdown__content-container">
                    <div class="ti-header-dropdown__content">
                        <div class="ti-header-dropdown__content-inner-wrap">
                            <ul class="ti-header-dropdown__item-list">
                                <li>
                                    <a href="work.html" data-hover></a>
                                    <div class="ti-header-dropdown__item-top">
                                        <div class="ti-header-dropdown__item-top-image">
                                            <img src="images/idol-see.png" alt="see">
                                            <span class="ti-header-dropdown__item-top-bg"></span>
                                        </div>
                                    </div>
                                    <div class="ti-header-dropdown__item-bottom">
                                        <span class="ti-header-dropdown__item-count">01</span>
                                        <span class="ti-header-dropdown__item-name">See my work</span>
                                    </div>
                                    <span class="ti-header-dropdown__item-secondary-name">sight</span>
                                </li>
                                <li>
                                    <a href="sieva.html" data-hover></a>
                                    <div class="ti-header-dropdown__item-top">
                                        <div class="ti-header-dropdown__item-top-image">
                                            <img src="images/idol-smell.png" alt="smell">
                                            <span class="ti-header-dropdown__item-top-bg"></span>
                                        </div>
                                    </div>
                                    <div class="ti-header-dropdown__item-bottom">
                                        <span class="ti-header-dropdown__item-count">02</span>
                                        <span class="ti-header-dropdown__item-name">Latest Work</span>
                                    </div>
                                    <span class="ti-header-dropdown__item-secondary-name">smell</span>
                                </li>
                                <li>
                                    <a href="personal-branding.html" data-hover></a>
                                    <div class="ti-header-dropdown__item-top">
                                        <div class="ti-header-dropdown__item-top-image">
                                            <img src="images/idol-taste.svg" alt="taste">
                                            <span class="ti-header-dropdown__item-top-bg"></span>
                                        </div>
                                    </div>
                                    <div class="ti-header-dropdown__item-bottom">
                                        <span class="ti-header-dropdown__item-count">03</span>
                                        <span class="ti-header-dropdown__item-name">Personal Branding</span>
                                    </div>
                                    <span class="ti-header-dropdown__item-secondary-name">taste</span>
                                </li>
                                <li>
                                    <a href="connect.html" data-hover></a>
                                    <div class="ti-header-dropdown__item-top">
                                        <div class="ti-header-dropdown__item-top-image">
                                            <img src="images/idol-touch.svg" alt="touch">
                                            <span class="ti-header-dropdown__item-top-bg"></span>
                                        </div>
                                    </div>
                                    <div class="ti-header-dropdown__item-bottom">
                                        <span class="ti-header-dropdown__item-count">04</span>
                                        <span class="ti-header-dropdown__item-name">Connect with me</span>
                                    </div>
                                    <span class="ti-header-dropdown__item-secondary-name">touch</span>
                                </li>
                                <li>
                                    <a href="hear.html" data-hover></a>
                                    <div class="ti-header-dropdown__item-top">
                                        <div class="ti-header-dropdown__item-top-image">
                                            <img src="images/idol-hear.png" alt="smell">
                                            <span class="ti-header-dropdown__item-top-bg"></span>
                                        </div>
                                    </div>
                                    <div class="ti-header-dropdown__item-bottom">
                                        <span class="ti-header-dropdown__item-count">05</span>
                                        <span class="ti-header-dropdown__item-name">Call me!</span>
                                    </div>
                                    <span class="ti-header-dropdown__item-secondary-name">sound</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ti-hero-section__content-wrapper">
            <div class="ti-hero-section__content">
                <div class="ti-hero-section__content-row">
                    <div class="ti-hero-section__content-text-left-wrapper">
                        <div class="ti-hero-section__slider-texts-left">
                            <h4 class="ti-hero-section__slider-text-left slider-active">विचारधारा</h4>
                        </div>
                    </div>
                    <div class="ti-hero-section__image-wrapper">
                        <div class="ti-hero-section__image">
                            <div class="ti-hero-section__slider-images" data-slide="0">
                                <div class="ti-coming-soon-image-wrapper">
                                    <span class="ti-coming-soon-image__top">
                                        <img src="images/wip-top.png" alt="wip top">
                                    </span>
                                    <span class="ti-coming-soon-image__bottom">
                                        <img src="images/wip-bottom.png" alt="wip bottom">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <span class="ti-hero-section__image-bg"></span>
                    </div>
                    <div class="ti-hero-section__content-text-right-wrapper">
                        <div class="ti-hero-section__slider-texts-right">
                            <h4 class="ti-hero-section__slider-text-right slider-active">
                                <span>Thinking</span>
                                <span>in process</span>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="ti-hero-section__details">
                    <div class="ti-hero-section__descriptions">
                        <p class="ti-hero-section__description slider-active">Thanks for dropping by, work is in progress. We will update it soon!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ti-hero-section__particles-wrapper">
            <span class="ti-hero-particle-type-one ti-hero-particle-type-one--small" style="left: 78%;top: 25%;"></span>
            <span class="ti-hero-particle-type-one ti-hero-particle-type-one--medium" style="left: 20%;top: 20%"></span>
            <span class="ti-hero-particle-type-one ti-hero-particle-type-one--medium" style="left: 80%;top: 65%"></span>
            <span class="ti-hero-particle-type-one ti-hero-particle-type-one--large"></span>
            <span class="ti-hero-particle-type-one ti-hero-particle-type-one--extra-large"></span>
        </div>
    </section>
    <div class="cursor">
        <div class="cursor__inner cursor__inner--circle"></div>
        <div class="cursor__inner cursor__inner--dot"></div>
    </div>
</body>

</html>