<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Rozha+One" rel="stylesheet">
</head>

<body>
    <section class="ti-section ti-preloader-section">
        <div class="ti-preloader__content">
            <div class="ti-preloader__circle">
                <h6 class="ti-preloader__progress-count"></h6>
            </div>
            <p class="ti-preloader__text">प्रगति</p>
        </div>
    </section>
    <main class="ti-main-content">
        <section class="ti-section ti-connect__hero-section">
            <header class="ti-header" style="display: none">
                <div class="container">
                    <div class="ti-header__content">
                        <a href="#" class="ti-header__logo" data-hover>
                            <img src="images/trupti-shirodkar-logo.svg" alt="trupti shirodkar logo">
                            <span class="ti-header__logo-text">Trupti Shirodkar</span>
                        </a>
                        <button type="text" class="ti-header__hamburger" data-hover>
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </header>
            <div class="ti-header-dropdown-container">
                <svg class="shape-overlays" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <defs>
                        <linearGradient id="gradient1" x1="0%" y1="0%" x2="0%" y2="100%">
                            <stop offset="0%" stop-color="#CC3BDE" />
                            <stop offset="100%" stop-color="#5E2ED0" />
                        </linearGradient>
                        <linearGradient id="gradient2" x1="0%" y1="0%" x2="0%" y2="100%">
                            <stop offset="0%" stop-color="#79D3CC" />
                            <stop offset="100%" stop-color="#B7FA82" />
                        </linearGradient>
                        <linearGradient id="gradient3" x1="0%" y1="0%" x2="0%" y2="100%">
                            <stop offset="0%" stop-color="#4113A5" />
                            <stop offset="100%" stop-color="#9C65F6" />
                        </linearGradient>
                    </defs>
                    <path class="shape-overlays__path" fill="url(#gradient1)"></path>
                    <path class="shape-overlays__path" fill="url(#gradient2)"></path>
                    <path class="shape-overlays__path" fill="url(#gradient3)"></path>
                </svg>
                <div class="ti-header-dropdown">
                    <div class="container ti-header-dropdown__content-container">
                        <div class="ti-header-dropdown__content">
                            <div class="ti-header-dropdown__content-inner-wrap">
                                <ul class="ti-header-dropdown__item-list">
                                    <li>
                                        <a href="work.html" data-hover></a>
                                        <div class="ti-header-dropdown__item-top">
                                            <div class="ti-header-dropdown__item-top-image">
                                                <img src="images/idol-see.png" alt="see">
                                                <span class="ti-header-dropdown__item-top-bg"></span>
                                            </div>
                                        </div>
                                        <div class="ti-header-dropdown__item-bottom">
                                            <span class="ti-header-dropdown__item-count">01</span>
                                            <span class="ti-header-dropdown__item-name">See my work</span>
                                        </div>
                                        <span class="ti-header-dropdown__item-secondary-name">sight</span>
                                    </li>
                                    <li>
                                        <a href="sieva.html" data-hover></a>
                                        <div class="ti-header-dropdown__item-top">
                                            <div class="ti-header-dropdown__item-top-image">
                                                <img src="images/idol-smell.png" alt="smell">
                                                <span class="ti-header-dropdown__item-top-bg"></span>
                                            </div>
                                        </div>
                                        <div class="ti-header-dropdown__item-bottom">
                                            <span class="ti-header-dropdown__item-count">02</span>
                                            <span class="ti-header-dropdown__item-name">Latest Work</span>
                                        </div>
                                        <span class="ti-header-dropdown__item-secondary-name">smell</span>
                                    </li>
                                    <li>
                                        <a href="personal-branding.html" data-hover></a>
                                        <div class="ti-header-dropdown__item-top">
                                            <div class="ti-header-dropdown__item-top-image">
                                                <img src="images/idol-taste.png" alt="taste">
                                                <span class="ti-header-dropdown__item-top-bg"></span>
                                            </div>
                                        </div>
                                        <div class="ti-header-dropdown__item-bottom">
                                            <span class="ti-header-dropdown__item-count">03</span>
                                            <span class="ti-header-dropdown__item-name">Personal Branding</span>
                                        </div>
                                        <span class="ti-header-dropdown__item-secondary-name">taste</span>
                                    </li>
                                    <li>
                                        <a href="connect.html" data-hover></a>
                                        <div class="ti-header-dropdown__item-top">
                                            <div class="ti-header-dropdown__item-top-image">
                                                <img src="images/idol-touch.png" alt="touch">
                                                <span class="ti-header-dropdown__item-top-bg"></span>
                                            </div>
                                        </div>
                                        <div class="ti-header-dropdown__item-bottom">
                                            <span class="ti-header-dropdown__item-count">04</span>
                                            <span class="ti-header-dropdown__item-name">Connect with me</span>
                                        </div>
                                        <span class="ti-header-dropdown__item-secondary-name">touch</span>
                                    </li>
                                    <li>
                                        <a href="hear.html" data-hover></a>
                                        <div class="ti-header-dropdown__item-top">
                                            <div class="ti-header-dropdown__item-top-image">
                                                <img src="images/idol-hear.png" alt="smell">
                                                <span class="ti-header-dropdown__item-top-bg"></span>
                                            </div>
                                        </div>
                                        <div class="ti-header-dropdown__item-bottom">
                                            <span class="ti-header-dropdown__item-count">05</span>
                                            <span class="ti-header-dropdown__item-name">Call me!</span>
                                        </div>
                                        <span class="ti-header-dropdown__item-secondary-name">sound</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ti-hero-section__particles-wrapper">
                <span class="ti-hero-particle-type-one ti-hero-particle-type-one--small" style="left: 78%;top: 25%;"></span>
                <span class="ti-hero-particle-type-one ti-hero-particle-type-one--medium" style="left: 20%;top: 20%"></span>
                <span class="ti-hero-particle-type-one ti-hero-particle-type-one--medium" style="left: 80%;top: 65%"></span>
                <span class="ti-hero-particle-type-one ti-hero-particle-type-one--large"></span>
                <span class="ti-hero-particle-type-one ti-hero-particle-type-one--extra-large"></span>
            </div>
            <div class="ti-connect__content-wrapper">
                <div class="ti-connect__content-inner-wrapper">
                    <span class="ti-back-button" title="Back" data-hover>
                        <span class="ti-back-button__icon"></span>
                        <span class="ti-back-button__text">Back</span>
                    </span>
                    <div class="ti-connect__column ti-connect__column--one">
                        <div class="ti-connect__idol-wrapper">
                            <img src="./images/idol-touch.png" alt="idol touch" class="ti-connect__idol__image">
                            <h1 class="ti-connect__idol-head">स्पर्श</h1>
                            <span class="ti-galaxy-bg"></span>
                        </div>
                    </div>
                    <div class="ti-connect__column ti-connect__column--two">
                        <h1 class="ti-connect__title">Connected People</h1>
                        <ul class="ti-connect__cards-list" id="connected-people-slider">
                            <li>
                                <div class="ti-connect-card">
                                    <div class="ti-connect-card__secondary-image-wrapper">
                                        <img src="images/Aashish.jpg" alt="Aashish" class="ti-connect-card__secondary-image">
                                    </div>
                                    <div class="ti-connect-card__details">
                                        <h2 class="ti-connect-card__name">Aashish Solanki</h2>
                                        <h3 class="ti-connect-card__designation">Founder & CEO | NetBramha Studios</h3>
                                        <p class="ti-connect-card__bio">Trupti was a wonderful person to work with. Her down to earth nature & warmth was un-missable. She joined us as a brand designer and then picked up the skills of a UI designer very quickly. She was able to take charge of projects independently and work through the challenges without losing sight of the goals. Her graphic & branding skills are extremely polished. She’s a must have on a team!</p>
                                    </div>
                                </div>
                                <ul class="ti-connect__options-list">
                                    <li>
                                        <a href="https://www.linkedin.com/in/trupsfolio/" class="ti-connect-button" data-hover>
                                            <span class="ti-connect_icon-mail">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                                    <g fill="none" fill-rule="evenodd">
                                                        <path fill="#000" fill-rule="nonzero" d="M7.498 7.57v-.082c-.017.028-.04.055-.055.082h.055z"/>
                                                        <path fill="#FFF" d="M0 0v16h16V0H0zm4.977 13.292H2.603V6.151h2.374v7.141zM3.79 5.176h-.016c-.796 0-1.312-.549-1.312-1.235 0-.7.53-1.233 1.343-1.233s1.312.533 1.328 1.233c0 .686-.515 1.235-1.343 1.235zm9.748 8.116h-2.374v-3.82c0-.96-.343-1.615-1.202-1.615-.657 0-1.047.44-1.219.868-.062.153-.078.365-.078.579v3.988H6.29s.032-6.471 0-7.141h2.375v1.012c.315-.486.878-1.18 2.14-1.18 1.562 0 2.733 1.02 2.733 3.214v4.095z"/>
                                                    </g>
                                                </svg>
                                            </span>
                                            <span class="ti-connect-button__text">MORE ON LINKEDIN</span> 
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="ti-connect-card">
                                    <div class="ti-connect-card__secondary-image-wrapper">
                                        <img src="images/Francesca.png" alt="testimonial 1" class="ti-connect-card__secondary-image">
                                    </div>
                                    <div class="ti-connect-card__details">
                                        <h2 class="ti-connect-card__name">Francesca De Finis</h2>
                                        <h3 class="ti-connect-card__designation">Marketing Director EMEA | Coca Cola | Italy</h3>
                                        <p class="ti-connect-card__bio">Trupti is a very talented designer . She's very creative, always proactive in bringing her valuable contribution and she's a great team member, able to work in a virtual team in a high profile challenging environment. </p>
                                    </div>
                                </div>
                                <ul class="ti-connect__options-list">
                                    <li>
                                        <a href="https://www.linkedin.com/in/trupsfolio/" class="ti-connect-button" data-hover>
                                            <span class="ti-connect_icon-mail">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                                    <g fill="none" fill-rule="evenodd">
                                                        <path fill="#000" fill-rule="nonzero" d="M7.498 7.57v-.082c-.017.028-.04.055-.055.082h.055z"/>
                                                        <path fill="#FFF" d="M0 0v16h16V0H0zm4.977 13.292H2.603V6.151h2.374v7.141zM3.79 5.176h-.016c-.796 0-1.312-.549-1.312-1.235 0-.7.53-1.233 1.343-1.233s1.312.533 1.328 1.233c0 .686-.515 1.235-1.343 1.235zm9.748 8.116h-2.374v-3.82c0-.96-.343-1.615-1.202-1.615-.657 0-1.047.44-1.219.868-.062.153-.078.365-.078.579v3.988H6.29s.032-6.471 0-7.141h2.375v1.012c.315-.486.878-1.18 2.14-1.18 1.562 0 2.733 1.02 2.733 3.214v4.095z"/>
                                                    </g>
                                                </svg>
                                            </span>
                                            <span class="ti-connect-button__text">MORE ON LINKEDIN</span> 
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="ti-connect-card">
                                    <div class="ti-connect-card__secondary-image-wrapper">
                                        <img src="images/Kiran.png" alt="testimonial 1" class="ti-connect-card__secondary-image">
                                    </div>
                                    <div class="ti-connect-card__details">
                                        <h2 class="ti-connect-card__name">Kiran Wadhwa</h2>
                                        <h3 class="ti-connect-card__designation">Head of Marketing | Purple Squirrel | India</h3>
                                        <p class="ti-connect-card__bio">She brought together her keen sense of design and creative problem solving abilities to create some of our best social engagement activities. A great team player, Trupti will always give everything her best shot.</p>
                                    </div>
                                </div>
                                <ul class="ti-connect__options-list">
                                    <li>
                                        <a href="https://www.linkedin.com/in/trupsfolio/" class="ti-connect-button" data-hover>
                                            <span class="ti-connect_icon-mail">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                                    <g fill="none" fill-rule="evenodd">
                                                        <path fill="#000" fill-rule="nonzero" d="M7.498 7.57v-.082c-.017.028-.04.055-.055.082h.055z"/>
                                                        <path fill="#FFF" d="M0 0v16h16V0H0zm4.977 13.292H2.603V6.151h2.374v7.141zM3.79 5.176h-.016c-.796 0-1.312-.549-1.312-1.235 0-.7.53-1.233 1.343-1.233s1.312.533 1.328 1.233c0 .686-.515 1.235-1.343 1.235zm9.748 8.116h-2.374v-3.82c0-.96-.343-1.615-1.202-1.615-.657 0-1.047.44-1.219.868-.062.153-.078.365-.078.579v3.988H6.29s.032-6.471 0-7.141h2.375v1.012c.315-.486.878-1.18 2.14-1.18 1.562 0 2.733 1.02 2.733 3.214v4.095z"/>
                                                    </g>
                                                </svg>
                                            </span>
                                            <span class="ti-connect-button__text">MORE ON LINKEDIN</span> 
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="ti-connect-card">
                                    <div class="ti-connect-card__secondary-image-wrapper">
                                        <img src="images/Kaushik.jpeg" alt="testimonial 1" class="ti-connect-card__secondary-image">
                                    </div>
                                    <div class="ti-connect-card__details">
                                        <h2 class="ti-connect-card__name">Kaushik Bose</h2>
                                        <h3 class="ti-connect-card__designation">Co-Founder & CEO, SustLabs</h3>
                                        <p class="ti-connect-card__bio">Trupti worked as a freelance designer with SustLabs in 2018-19 and she has impressed us with her creativity. She delivered a couple of web & app based projects for us apart from conducting workshops around design thinking. She would be an asset to any project focused heavily on design and user experience and this comes with my heartfelt recommendation</p>
                                    </div>
                                </div>
                                <ul class="ti-connect__options-list">
                                    <li>
                                        <a href="https://www.linkedin.com/in/trupsfolio/" class="ti-connect-button" data-hover>
                                            <span class="ti-connect_icon-mail">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                                    <g fill="none" fill-rule="evenodd">
                                                        <path fill="#000" fill-rule="nonzero" d="M7.498 7.57v-.082c-.017.028-.04.055-.055.082h.055z"/>
                                                        <path fill="#FFF" d="M0 0v16h16V0H0zm4.977 13.292H2.603V6.151h2.374v7.141zM3.79 5.176h-.016c-.796 0-1.312-.549-1.312-1.235 0-.7.53-1.233 1.343-1.233s1.312.533 1.328 1.233c0 .686-.515 1.235-1.343 1.235zm9.748 8.116h-2.374v-3.82c0-.96-.343-1.615-1.202-1.615-.657 0-1.047.44-1.219.868-.062.153-.078.365-.078.579v3.988H6.29s.032-6.471 0-7.141h2.375v1.012c.315-.486.878-1.18 2.14-1.18 1.562 0 2.733 1.02 2.733 3.214v4.095z"/>
                                                    </g>
                                                </svg>
                                            </span>
                                            <span class="ti-connect-button__text">MORE ON LINKEDIN</span> 
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="ti-connect__about-me-row">
                        <h1 class="ti-connect__title">About Me</h1>
                        <ul class="ti-connect__cards-list">
                            <li class="ti-about-me-card">
                                <div class="ti-about-me-card__left">
                                    <div class="ti-connect-card__image-wrapper">
                                        <img src="./images/trupti-shirodkar.png" alt="trupti shirodkar" class="ti-connect-card__image ti-connect-card__image--trupti">
                                        <span class="ti-galaxy-bg"></span>
                                    </div>
                                    <div class="ti-connect-card__details">
                                        <h2 class="ti-connect-card__name">Trupti Shirodkar</h2>
                                        <h3 class="ti-connect-card__designation">Product Designer</h3>
                                    </div>
                                </div>
                                <div class="ti-about-me-card__right">
                                    <div class="ti-connect-card">
                                        <div class="ti-connect-card__details">
                                            <p class="ti-connect-card__bio">Working on brand and digital experience for 4.5 years, currently growing with product design and learning more about technologies. During this tenure I have had the opportunity of working with Netbramha Studios, Coca Cola, Amazon along with a few startups, currently working with Bizongo.</p>
                                        </div>
                                    </div>
                                    <ul class="ti-connect__options-list">
                                        <li>
                                            <a href="pdf/Resume_2019.pdf" class="ti-connect-button" data-hover target="_blank">
                                                <span class="ti-connect_icon-mail">
                                                    <?xml version="1.0" encoding="UTF-8"?>
                                                    <svg width="16px" height="12px" viewBox="0 0 16 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                        <title>76042E35-9F28-4431-9B64-E84218D06DAB</title>
                                                        <desc>Created with sketchtool.</desc>
                                                        <g id="Connect-with-us" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <g id="Connect-With-US---Mobile" transform="translate(-64.000000, -971.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                                                <g id="Group-8-Copy-3" transform="translate(50.000000, 963.000000)">
                                                                    <g id="Group">
                                                                        <g id="Group-11">
                                                                            <g id="Group-12" transform="translate(14.000000, 7.000000)">
                                                                                <g id="Group-9" transform="translate(0.000000, 1.000000)">
                                                                                    <path d="M1.4622134,3.68959801 C1.65492804,3.82558809 2.23584119,4.22947891 3.20498263,4.90106203 C4.17415385,5.57264516 4.91660546,6.0897469 5.43236725,6.45239702 C5.48903226,6.49214888 5.60941935,6.57856079 5.79358809,6.71175186 C5.9777866,6.84503226 6.13083871,6.95273449 6.25262531,7.03488834 C6.37450124,7.11701241 6.52183623,7.20914144 6.69477916,7.31112655 C6.86766253,7.41302233 7.03063027,7.48966749 7.18365261,7.54040695 C7.33670471,7.59156328 7.47838213,7.61690323 7.60871464,7.61690323 L7.61726055,7.61690323 L7.62583623,7.61690323 C7.75616873,7.61690323 7.89790571,7.5915335 8.05095782,7.54040695 C8.2039206,7.48966749 8.36703722,7.412933 8.53977171,7.31112655 C8.71259553,7.20902233 8.85993052,7.11698263 8.98180645,7.03488834 C9.10368238,6.95273449 9.25661538,6.84503226 9.44087345,6.71175186 C9.62501241,6.57844169 9.74554839,6.49214888 9.8022134,6.45239702 C10.3235434,6.0897469 11.6498859,5.16872457 13.7808238,3.68941935 C14.1945409,3.40049628 14.5401886,3.05187097 14.8178561,2.64378164 C15.095732,2.23587097 15.2345211,1.80795037 15.2345211,1.36025806 C15.2345211,0.986143921 15.0998412,0.665895782 14.8306005,0.399543424 C14.5613896,0.133131514 14.2425409,1.64313008e-14 13.874263,1.64313008e-14 L1.36016873,1.64313008e-14 C0.923791563,1.64313008e-14 0.587970223,0.147334988 0.352764268,0.442004963 C0.117588089,0.736734491 3.55271368e-15,1.10513151 3.55271368e-15,1.54716625 C3.55271368e-15,1.90421836 0.15591067,2.29113648 0.467583127,2.70768238 C0.779225806,3.12425806 1.11087841,3.45159305 1.4622134,3.68959801 Z" id="Path"></path>
                                                                                    <path d="M14.3842779,4.59915633 C12.5254988,5.85725062 11.1140844,6.83499752 10.1507196,7.53218859 C9.82767246,7.770134 9.56560794,7.95588089 9.36434739,8.08898263 C9.16308685,8.2221737 8.89542432,8.35819355 8.5609727,8.49698263 C8.2266402,8.63598015 7.91505707,8.70527047 7.62595533,8.70527047 L7.61729032,8.70527047 L7.60874442,8.70527047 C7.31970223,8.70527047 7.00794045,8.63598015 6.67360794,8.49698263 C6.33927543,8.35819355 6.07143424,8.2221737 5.87023325,8.08898263 C5.66909181,7.95588089 5.40693797,7.770134 5.0839206,7.53218859 C4.31874938,6.97113648 2.91037221,5.99333002 0.858729529,4.59915633 C0.535593052,4.38393052 0.249379653,4.13723077 1.687539e-14,3.85956328 L1.687539e-14,10.6094888 C1.687539e-14,10.9837816 0.133131514,11.3038511 0.399543424,11.5702333 C0.665895782,11.8367047 0.986173697,11.9698958 1.36025806,11.9698958 L13.8743821,11.9698958 C14.2483772,11.9698958 14.5686253,11.8367047 14.8350074,11.5702333 C15.1014789,11.3037618 15.2345509,10.9838114 15.2345509,10.6094888 L15.2345509,3.85956328 C14.990799,4.13148387 14.7075037,4.37818362 14.3842779,4.59915633 Z" id="Path"></path>
                                                                                </g>
                                                                            </g>
                                                                        </g>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </span>
                                                <span class="ti-connect-button__text">CHECK MY RESUME</span> 
                                            </a>
                                        </li>
                                        <li>
                                            <ul class="ti-connect__social-media-list">
                                                <li>
                                                    <a href="https://www.instagram.com/trups07/?hl=en" target="_blank" data-hover>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                            <defs>
                                                                <linearGradient id="ab" x1="50%" x2="50%" y1="0%" y2="100%">
                                                                    <stop offset="0%" stop-color="#75D5D4"/>
                                                                    <stop offset="100%" stop-color="#ACFA98"/>
                                                                </linearGradient>
                                                                <linearGradient id="ba" x1="50%" x2="50%" y1="0%" y2="100%">
                                                                    <stop offset="0%" stop-color="#75D5D4"/>
                                                                    <stop offset="100%" stop-color="#ACFA98"/>
                                                                </linearGradient>
                                                            </defs>
                                                            <g fill="none" fill-rule="evenodd">
                                                                <path fill="url(#ab)" d="M16.82 0H7.138A7.145 7.145 0 0 0 0 7.137v9.684a7.145 7.145 0 0 0 7.137 7.137h9.684a7.145 7.145 0 0 0 7.137-7.137V7.137C23.958 3.202 20.756 0 16.821 0zm4.728 16.82a4.727 4.727 0 0 1-4.727 4.728H7.137A4.727 4.727 0 0 1 2.41 16.82V7.137A4.727 4.727 0 0 1 7.137 2.41h9.684a4.727 4.727 0 0 1 4.727 4.727v9.684z"/>
                                                                <path fill="url(#ba)" d="M11.979 5.783a6.203 6.203 0 0 0-6.196 6.196 6.203 6.203 0 0 0 6.196 6.196 6.203 6.203 0 0 0 6.196-6.196 6.203 6.203 0 0 0-6.196-6.196zm0 9.982a3.786 3.786 0 1 1 0-7.572 3.786 3.786 0 0 1 0 7.572z"/>
                                                                <circle cx="18.187" cy="5.829" r="1.485" fill="url(#a)"/>
                                                            </g>
                                                        </svg>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/trups07/" target="_blank" data-hover>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                            <defs>
                                                                <linearGradient id="a" x1="50%" x2="50%" y1="0%" y2="100%">
                                                                    <stop offset="0%" stop-color="#75D5D4"/>
                                                                    <stop offset="100%" stop-color="#ACFA98"/>
                                                                </linearGradient>
                                                            </defs>
                                                            <g fill="none" fill-rule="evenodd">
                                                                <path fill="#000" fill-rule="nonzero" d="M13.082 10.878v-.114c-.023.038-.055.076-.075.114h.075z"/>
                                                                <path fill="url(#a)" d="M0 0v24h24V0H0zm7.465 19.939h-3.56V9.226h3.56v10.713zM5.685 7.764H5.66c-1.194 0-1.969-.823-1.969-1.852 0-1.051.797-1.85 2.016-1.85 1.219 0 1.968.799 1.991 1.85 0 1.029-.772 1.852-2.014 1.852zm14.623 12.175h-3.562v-5.732c0-1.44-.515-2.422-1.804-2.422-.984 0-1.57.662-1.827 1.303-.094.228-.118.547-.118.868v5.983H9.435s.047-9.708 0-10.713h3.562v1.518c.473-.728 1.318-1.77 3.21-1.77 2.344 0 4.1 1.531 4.1 4.821v6.144z"/>
                                                            </g>
                                                        </svg>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <footer class="ti-footer">
                <div class="container">
                    <div class="ti-footer__content">
                        <div class="ti-footer__content-left">
                            <span class="ti-footer-head ti-footer-head--left">By</span>
                            <ul class="ti-footer__content-left-list">
                                <li>
                                    © Designed by Trupti Shirodkar, 2020
                                </li>
                                <li>
                                    Developed by <a href="https://www.linkedin.com/in/arun-venugopal-16768967/" target="_blank" data-hover>Arun Venugopal</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ti-footer__content-right">
                            <span class="ti-footer-head ti-footer-head--right">Connect</span>
                            <ul class="ti-footer__content-right-list">
                                <li><a href="work.html" data-hover>Work</a></li>
                                <li><a href="schedule-session.html" data-hover>Sessions</a></li>
                                <li><a href="consultation.html">Services</a></li>
                                <li><a href="contact.html" data-hover>Contact</a></li>
                                <li>
                                    <ol class="ti-footer-social-media-list">
                                        <li>
                                            <a href="https://medium.com/@trupti.shirodkar" data-hover target="_blank">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
                                                    <defs>
                                                        <linearGradient id="a" x1="50%" x2="50%" y1="0%" y2="100%">
                                                            <stop offset="0%" stop-color="#75D5D4"/>
                                                            <stop offset="100%" stop-color="#ACFA98"/>
                                                        </linearGradient>
                                                    </defs>
                                                    <path fill="url(#a)" fill-rule="evenodd" d="M0 0h17v17H0V0zm14.112 3.78h-3.144L8.732 9.41 6.191 3.78H2.832v.28l1.183 1.445L4 11.091l-1.17 1.596.003.264h3.303l.009-.243-1.384-1.617.037-4.52 2.918 6.38h.351l2.592-6.531v5.313l-1.062 1.004v.214h4.516v-.256l-1.036-.982-.014-6.754 1.05-.897v-.281z"/>
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.behance.net/trupsfolio" data-hover target="_blank">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                                    <defs>
                                                        <linearGradient id="ab" x1="50%" x2="50%" y1="0%" y2="100%">
                                                            <stop offset="0%" stop-color="#75D5D4"/>
                                                            <stop offset="100%" stop-color="#ACFA98"/>
                                                        </linearGradient>
                                                        <linearGradient id="bc" x1="50%" x2="50%" y1="0%" y2="100%">
                                                            <stop offset="0%" stop-color="#75D5D4"/>
                                                            <stop offset="100%" stop-color="#ACFA98"/>
                                                        </linearGradient>
                                                        <linearGradient id="cd" x1="50%" x2="50%" y1="0%" y2="100%">
                                                            <stop offset="0%" stop-color="#75D5D4"/>
                                                            <stop offset="100%" stop-color="#ACFA98"/>
                                                        </linearGradient>
                                                    </defs>
                                                    <g fill="none" fill-rule="evenodd">
                                                        <path fill="url(#ab)" d="M5.754 5.895H3.79v1.684h1.965c.542 0 .983-.378.983-.842 0-.464-.441-.842-.983-.842zM5.754 8.421H3.79v1.684h1.965c.542 0 .983-.378.983-.842 0-.464-.441-.842-.983-.842z"/>
                                                        <path fill="url(#bc)" d="M10.947 7.579c-.582 0-1.078.352-1.263.842h2.527c-.185-.49-.682-.842-1.264-.842z"/>
                                                        <path fill="url(#cd)" d="M13.625 0H2.344A2.347 2.347 0 0 0 0 2.344v11.312A2.347 2.347 0 0 0 2.344 16h11.281C14.917 16 16 14.948 16 13.656V2.344C16 1.052 14.917 0 13.625 0zM8.937 4.719h3.75v.937h-3.75V4.72zM7.532 9.406c0 1.034-.84 1.875-1.875 1.875H2.844V4.72h2.812c1.034 0 1.875.84 1.875 1.875 0 .562-.254 1.062-.648 1.406.394.344.648.844.648 1.406zm5.625 0h-3.67a1.41 1.41 0 0 0 1.326.938c.5 0 .968-.27 1.219-.704l.811.47a2.352 2.352 0 0 1-2.03 1.171A2.347 2.347 0 0 1 8.47 8.937a2.347 2.347 0 0 1 2.344-2.343 2.347 2.347 0 0 1 2.343 2.343v.47z"/>
                                                    </g>
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/trupsfolio/" data-hover target="_blank">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                    <defs>
                                                        <linearGradient id="ab" x1="50%" x2="50%" y1="0%" y2="100%">
                                                            <stop offset="0%" stop-color="#75D5D4"></stop>
                                                            <stop offset="100%" stop-color="#ACFA98"></stop>
                                                        </linearGradient>
                                                        <linearGradient id="ba" x1="50%" x2="50%" y1="0%" y2="100%">
                                                            <stop offset="0%" stop-color="#75D5D4"></stop>
                                                            <stop offset="100%" stop-color="#ACFA98"></stop>
                                                        </linearGradient>
                                                    </defs>
                                                    <g fill="none" fill-rule="evenodd">
                                                        <path fill="url(#ab)" d="M16.82 0H7.138A7.145 7.145 0 0 0 0 7.137v9.684a7.145 7.145 0 0 0 7.137 7.137h9.684a7.145 7.145 0 0 0 7.137-7.137V7.137C23.958 3.202 20.756 0 16.821 0zm4.728 16.82a4.727 4.727 0 0 1-4.727 4.728H7.137A4.727 4.727 0 0 1 2.41 16.82V7.137A4.727 4.727 0 0 1 7.137 2.41h9.684a4.727 4.727 0 0 1 4.727 4.727v9.684z"></path>
                                                        <path fill="url(#ba)" d="M11.979 5.783a6.203 6.203 0 0 0-6.196 6.196 6.203 6.203 0 0 0 6.196 6.196 6.203 6.203 0 0 0 6.196-6.196 6.203 6.203 0 0 0-6.196-6.196zm0 9.982a3.786 3.786 0 1 1 0-7.572 3.786 3.786 0 0 1 0 7.572z"></path>
                                                        <circle cx="18.187" cy="5.829" r="1.485" fill="url(#a)"></circle>
                                                    </g>
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/in/trupsfolio/" data-hover target="_blank">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                    <defs>
                                                        <linearGradient id="a" x1="50%" x2="50%" y1="0%" y2="100%">
                                                            <stop offset="0%" stop-color="#75D5D4"></stop>
                                                            <stop offset="100%" stop-color="#ACFA98"></stop>
                                                        </linearGradient>
                                                    </defs>
                                                    <g fill="none" fill-rule="evenodd">
                                                        <path fill="#000" fill-rule="nonzero" d="M13.082 10.878v-.114c-.023.038-.055.076-.075.114h.075z"></path>
                                                        <path fill="url(#a)" d="M0 0v24h24V0H0zm7.465 19.939h-3.56V9.226h3.56v10.713zM5.685 7.764H5.66c-1.194 0-1.969-.823-1.969-1.852 0-1.051.797-1.85 2.016-1.85 1.219 0 1.968.799 1.991 1.85 0 1.029-.772 1.852-2.014 1.852zm14.623 12.175h-3.562v-5.732c0-1.44-.515-2.422-1.804-2.422-.984 0-1.57.662-1.827 1.303-.094.228-.118.547-.118.868v5.983H9.435s.047-9.708 0-10.713h3.562v1.518c.473-.728 1.318-1.77 3.21-1.77 2.344 0 4.1 1.531 4.1 4.821v6.144z"></path>
                                                    </g>
                                                </svg>
                                            </a>
                                        </li>
                                    </ol>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </section>
        <div class="cursor">
            <div class="cursor__inner cursor__inner--circle"></div>
            <div class="cursor__inner cursor__inner--dot"></div>
        </div>
    </main>
</body>

</html>