<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Rozha+One" rel="stylesheet">
</head>

<body class="ti-work-list-page">
    <section class="ti-section ti-preloader-section">
        <div class="ti-preloader__content">
            <div class="ti-preloader__circle">
                <h6 class="ti-preloader__progress-count"></h6>
            </div>
            <p class="ti-preloader__text">प्रगति</p>
        </div>
    </section>
    <main class="ti-main-content">
        <section class="ti-section ti-connect__hero-section">
            <header class="ti-header">
                <div class="container">
                    <div class="ti-header__content">
                        <a href="index.html" class="ti-header__logo" data-hover>
                            <img src="images/pb-smell.svg" alt="pb-smell">
                            <span class="ti-header__logo-text">Connect with Coffee</span>
                        </a>
                        <span class="ti-back-button" title="Back" data-hover="">
                            <span class="ti-back-button__icon"></span>
                            <span class="ti-back-button__text">Back</span>
                        </span>
                    </div>
                    <div class="ti-cwc-page-header">
                        <h1>Trupti Shirodkar</h1>
                        <p>Product designer |  Consultant | Design Sprint Facilitator | User Experience designer </p>
                    </div>
                </div>
            </header>
            <div class="ti-header-dropdown-container">
                <svg class="shape-overlays" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <defs>
                        <linearGradient id="gradient1" x1="0%" y1="0%" x2="0%" y2="100%">
                            <stop offset="0%" stop-color="#CC3BDE" />
                            <stop offset="100%" stop-color="#5E2ED0" />
                        </linearGradient>
                        <linearGradient id="gradient2" x1="0%" y1="0%" x2="0%" y2="100%">
                            <stop offset="0%" stop-color="#79D3CC" />
                            <stop offset="100%" stop-color="#B7FA82" />
                        </linearGradient>
                        <linearGradient id="gradient3" x1="0%" y1="0%" x2="0%" y2="100%">
                            <stop offset="0%" stop-color="#4113A5" />
                            <stop offset="100%" stop-color="#9C65F6" />
                        </linearGradient>
                    </defs>
                    <path class="shape-overlays__path" fill="url(#gradient1)"></path>
                    <path class="shape-overlays__path" fill="url(#gradient2)"></path>
                    <path class="shape-overlays__path" fill="url(#gradient3)"></path>
                </svg>
                <div class="ti-header-dropdown">
                    <div class="container ti-header-dropdown__content-container">
                        <div class="ti-header-dropdown__content">
                            <div class="ti-header-dropdown__content-inner-wrap">
                                <ul class="ti-header-dropdown__item-list">
                                    <li>
                                        <a href="work.html" data-hover></a>
                                        <div class="ti-header-dropdown__item-top">
                                            <div class="ti-header-dropdown__item-top-image">
                                                <img src="images/idol-see.png" alt="see">
                                                <span class="ti-header-dropdown__item-top-bg"></span>
                                            </div>
                                        </div>
                                        <div class="ti-header-dropdown__item-bottom">
                                            <span class="ti-header-dropdown__item-count">01</span>
                                            <span class="ti-header-dropdown__item-name">See my work</span>
                                        </div>
                                        <span class="ti-header-dropdown__item-secondary-name">sight</span>
                                    </li>
                                    <li>
                                        <a href="sieva.html" data-hover></a>
                                        <div class="ti-header-dropdown__item-top">
                                            <div class="ti-header-dropdown__item-top-image">
                                                <img src="images/idol-smell.png" alt="smell">
                                                <span class="ti-header-dropdown__item-top-bg"></span>
                                            </div>
                                        </div>
                                        <div class="ti-header-dropdown__item-bottom">
                                            <span class="ti-header-dropdown__item-count">02</span>
                                            <span class="ti-header-dropdown__item-name">Latest Work</span>
                                        </div>
                                        <span class="ti-header-dropdown__item-secondary-name">smell</span>
                                    </li>
                                    <li>
                                        <a href="personal-branding.html" data-hover></a>
                                        <div class="ti-header-dropdown__item-top">
                                            <div class="ti-header-dropdown__item-top-image">
                                                <img src="images/idol-taste.png" alt="taste">
                                                <span class="ti-header-dropdown__item-top-bg"></span>
                                            </div>
                                        </div>
                                        <div class="ti-header-dropdown__item-bottom">
                                            <span class="ti-header-dropdown__item-count">03</span>
                                            <span class="ti-header-dropdown__item-name">Personal Branding</span>
                                        </div>
                                        <span class="ti-header-dropdown__item-secondary-name">taste</span>
                                    </li>
                                    <li>
                                        <a href="connect.html" data-hover></a>
                                        <div class="ti-header-dropdown__item-top">
                                            <div class="ti-header-dropdown__item-top-image">
                                                <img src="images/idol-touch.png" alt="touch">
                                                <span class="ti-header-dropdown__item-top-bg"></span>
                                            </div>
                                        </div>
                                        <div class="ti-header-dropdown__item-bottom">
                                            <span class="ti-header-dropdown__item-count">04</span>
                                            <span class="ti-header-dropdown__item-name">Connect with me</span>
                                        </div>
                                        <span class="ti-header-dropdown__item-secondary-name">touch</span>
                                    </li>
                                    <li>
                                        <a href="hear.html" data-hover></a>
                                        <div class="ti-header-dropdown__item-top">
                                            <div class="ti-header-dropdown__item-top-image">
                                                <img src="images/idol-hear.png" alt="smell">
                                                <span class="ti-header-dropdown__item-top-bg"></span>
                                            </div>
                                        </div>
                                        <div class="ti-header-dropdown__item-bottom">
                                            <span class="ti-header-dropdown__item-count">05</span>
                                            <span class="ti-header-dropdown__item-name">Call me!</span>
                                        </div>
                                        <span class="ti-header-dropdown__item-secondary-name">sound</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ti-hero-section__particles-wrapper">
                <span class="ti-hero-particle-type-one ti-hero-particle-type-one--small" style="left: 78%;top: 25%;"></span>
                <span class="ti-hero-particle-type-one ti-hero-particle-type-one--medium" style="left: 20%;top: 20%"></span>
                <span class="ti-hero-particle-type-one ti-hero-particle-type-one--medium" style="left: 80%;top: 65%"></span>
                <span class="ti-hero-particle-type-one ti-hero-particle-type-one--large"></span>
                <span class="ti-hero-particle-type-one ti-hero-particle-type-one--extra-large"></span>
            </div>
            <div class="ti-cwc__content-wrapper">
                <ul class="container">
                    <div class="ti-cwc-about-me-section">
                        <div class="ti-cwc-about-me-section__left">
                            <div class="ti-connect__about-me-row">
                                <ul class="ti-connect__cards-list">
                                    <li class="ti-about-me-card">
                                        <div class="ti-about-me-card__left">
                                            <div class="ti-connect-card__image-wrapper">
                                                <img src="./images/trupti-shirodkar.png" alt="trupti shirodkar" class="ti-connect-card__image ti-connect-card__image--trupti">
                                                <span class="ti-galaxy-bg"></span>
                                            </div>
                                        </div>
                                        <div class="ti-about-me-card__right">
                                            <div class="ti-connect-card">
                                                <div class="ti-connect-card__details">
                                                    <h3 class="ti-connect-card__head">Brewing with Instagram!</h3>
                                                    <p class="ti-connect-card__bio">Lauching my new connect with coffee session with young professionals, students who need advice on design career , processes and workshops on Instagram Almost about 5 years  in designing  visual and digital experiences . Since May 2019 Being socially active on  Instagram, learning new things, growing in the field of startegy and business while being part of the design community on instagram.</p>
                                                </div>
                                            </div>
                                            <ul class="ti-connect__options-list">
                                                <li>
                                                    <a href="pdf/Resume_2019.pdf" class="ti-connect-button" data-hover target="_blank">
                                                        <span class="ti-connect_icon-mail">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12">
                                                                <defs>
                                                                    <linearGradient id="aa" x1="50%" x2="50%" y1="0%" y2="100%">
                                                                        <stop offset="0%" stop-color="#75D5D4"/>
                                                                        <stop offset="100%" stop-color="#ACFA98"/>
                                                                    </linearGradient>
                                                                    <linearGradient id="bb" x1="50%" x2="50%" y1="0%" y2="100%">
                                                                        <stop offset="0%" stop-color="#75D5D4"/>
                                                                        <stop offset="100%" stop-color="#ACFA98"/>
                                                                    </linearGradient>
                                                                </defs>
                                                                <g fill="none" fill-rule="evenodd">
                                                                    <path fill="url(#aa)" d="M1.462 3.69c.193.136.774.54 1.743 1.211.97.672 1.712 1.189 2.227 1.551l.362.26c.184.133.337.24.459.323.122.082.269.174.442.276.173.102.336.179.489.23.153.05.294.076.425.076h.017c.13 0 .272-.025.425-.077.153-.05.316-.127.489-.229.173-.102.32-.194.442-.276a17.6 17.6 0 0 0 .459-.323c.184-.134.305-.22.361-.26l3.979-2.763c.414-.289.76-.637 1.037-1.045.278-.408.417-.836.417-1.284 0-.374-.135-.694-.404-.96-.27-.267-.588-.4-.957-.4H1.36C.924 0 .588.147.353.442.118.737 0 1.105 0 1.547c0 .357.156.744.468 1.16.311.417.643.745.994.983z"/>
                                                                    <path fill="url(#bb)" d="M14.384 4.6a176.686 176.686 0 0 0-4.233 2.932 20.06 20.06 0 0 1-.787.557c-.2.133-.469.27-.803.408a2.446 2.446 0 0 1-.935.208h-.017c-.29 0-.601-.069-.935-.208a4.855 4.855 0 0 1-.804-.408 20.134 20.134 0 0 1-.786-.557C4.319 6.972 2.91 5.993.859 4.6A4.503 4.503 0 0 1 0 3.86v6.75c0 .375.133.695.4.961.266.267.586.4.96.4h12.514c.374 0 .695-.133.961-.4.266-.266.4-.586.4-.96V3.86a4.688 4.688 0 0 1-.85.74z"/>
                                                                </g>
                                                            </svg>
                                                        </span>
                                                        <span class="ti-connect-button__text">DOWNLOAD RESUME</span> 
                                                    </a>
                                                </li>
                                                <li>
                                                    <ul class="ti-connect__social-media-list">
                                                        <li>
                                                            <a href="https://www.behance.net/trupsfolio" target="_blank" data-hover>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                                    <defs>
                                                                        <linearGradient id="cc" x1="50%" x2="50%" y1="6.771%" y2="103.953%">
                                                                            <stop offset="0%" stop-color="#53229D"/>
                                                                            <stop offset="100%" stop-color="#592BCB"/>
                                                                        </linearGradient>
                                                                        <linearGradient id="dd" x1="50%" x2="50%" y1="6.771%" y2="103.953%">
                                                                            <stop offset="0%" stop-color="#53229D"/>
                                                                            <stop offset="100%" stop-color="#592BCB"/>
                                                                        </linearGradient>
                                                                        <linearGradient id="ee" x1="50%" x2="50%" y1="6.771%" y2="103.953%">
                                                                            <stop offset="0%" stop-color="#53229D"/>
                                                                            <stop offset="100%" stop-color="#592BCB"/>
                                                                        </linearGradient>
                                                                    </defs>
                                                                    <g fill="none" fill-rule="evenodd">
                                                                        <path fill="url(#cc)" d="M8.632 8.842H5.684v2.526h2.948c.812 0 1.473-.566 1.473-1.263 0-.696-.661-1.263-1.473-1.263zM8.632 12.632H5.684v2.526h2.948c.812 0 1.473-.567 1.473-1.263 0-.697-.661-1.263-1.473-1.263z"/>
                                                                        <path fill="url(#dd)" d="M16.421 11.368c-.873 0-1.618.528-1.895 1.264h3.79c-.277-.736-1.022-1.264-1.895-1.264z"/>
                                                                        <path fill="url(#ee)" d="M20.438 0H3.515A3.52 3.52 0 0 0 0 3.516v16.968A3.52 3.52 0 0 0 3.516 24h16.922C22.375 24 24 22.423 24 20.484V3.516C24 1.577 22.376 0 20.437 0zm-7.032 7.078h5.625v1.406h-5.625V7.078zm-2.11 7.031a2.815 2.815 0 0 1-2.812 2.813H4.266V7.078h4.218a2.815 2.815 0 0 1 2.813 2.813c0 .844-.381 1.593-.972 2.109.59.516.972 1.265.972 2.11zm8.438 0H14.23a2.114 2.114 0 0 0 1.99 1.407c.75 0 1.45-.405 1.828-1.056l1.216.705a3.528 3.528 0 0 1-3.044 1.757 3.52 3.52 0 0 1-3.516-3.516 3.52 3.52 0 0 1 3.516-3.515 3.52 3.52 0 0 1 3.515 3.515v.703z"/>
                                                                    </g>
                                                                </svg>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www.instagram.com/trups07/?hl=en" target="_blank" data-hover>                                                                
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                                    <defs>
                                                                        <linearGradient id="ff" x1="50%" x2="50%" y1="6.771%" y2="103.953%">
                                                                            <stop offset="0%" stop-color="#53229D"/>
                                                                            <stop offset="100%" stop-color="#592BCB"/>
                                                                        </linearGradient>
                                                                    </defs>
                                                                    <g fill="url(#ff)" fill-rule="evenodd">
                                                                        <path d="M16.85 0h-9.7C3.207 0 0 3.207 0 7.15v9.7C0 20.793 3.207 24 7.15 24h9.7c3.943 0 7.15-3.207 7.15-7.15v-9.7C24 3.207 20.793 0 16.85 0zm4.736 16.85a4.735 4.735 0 0 1-4.736 4.736h-9.7a4.735 4.735 0 0 1-4.736-4.736v-9.7A4.735 4.735 0 0 1 7.15 2.414h9.7a4.735 4.735 0 0 1 4.736 4.736v9.7z"/>
                                                                        <path d="M12 5.838A6.17 6.17 0 0 0 5.838 12 6.17 6.17 0 0 0 12 18.162 6.17 6.17 0 0 0 18.162 12 6.17 6.17 0 0 0 12 5.838zm0 9.927a3.765 3.765 0 1 1 0-7.53 3.765 3.765 0 0 1 0 7.53z"/>
                                                                        <circle cx="18.486" cy="5.514" r="1.622"/>
                                                                    </g>
                                                                </svg>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www.linkedin.com/in/trups07/" target="_blank" data-hover>                                                                
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                                    <defs>
                                                                        <linearGradient id="gg" x1="50%" x2="50%" y1="6.771%" y2="103.953%">
                                                                            <stop offset="0%" stop-color="#53229D"/>
                                                                            <stop offset="100%" stop-color="#592BCB"/>
                                                                        </linearGradient>
                                                                    </defs>
                                                                    <g fill="none" fill-rule="evenodd">
                                                                        <path fill="#000" fill-rule="nonzero" d="M13.01 11.084v-.114c-.022.038-.055.076-.075.114h.076z"/>
                                                                        <path fill="url(#gg)" d="M0 0v24h24V0H0zm7.465 19.939h-3.56V9.226h3.56v10.713zM5.685 7.764H5.66c-1.194 0-1.969-.823-1.969-1.852 0-1.051.797-1.85 2.016-1.85 1.219 0 1.968.799 1.991 1.85 0 1.029-.772 1.852-2.014 1.852zm14.623 12.175h-3.562v-5.732c0-1.44-.515-2.422-1.804-2.422-.984 0-1.57.662-1.827 1.303-.094.228-.118.547-.118.868v5.983H9.435s.047-9.708 0-10.713h3.562v1.518c.473-.728 1.318-1.77 3.21-1.77 2.344 0 4.1 1.531 4.1 4.821v6.144z"/>
                                                                    </g>
                                                                </svg>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="ti-cwc-about-me-section__right">
                            <img src="images/mockupinstagram.png" alt="mockupinstagram">
                        </div>
                    </div>
                    <ul class="ti-cawa-instagram-section">

                    </ul>
                </div>
            </div>
            {{!-- <footer class="ti-footer">
                <div class="container">
                    <div class="ti-footer__content">
                        <div class="ti-footer__content-left">
                            <span class="ti-footer-head ti-footer-head--left">By</span>
                            <ul class="ti-footer__content-left-list">
                                <li>
                                    © Trupti Shirodkar, 2019 
                                </li>
                                <li>
                                    Developed by <a href="https://www.linkedin.com/in/arun-venugopal-16768967/" target="_blank" data-hover>Arun Venugopal</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ti-footer__content-right">
                            <span class="ti-footer-head ti-footer-head--right">Connect</span>
                            <ul class="ti-footer__content-right-list">
                                <li><a href="work.html" data-hover>Work</a></li>
                                <li><a href="connect.html" data-hover>Connect with me</a></li>
                                <li><a href="http://localhost:9000/pdf/Resume_2019.pdf" download data-hover>Download Resume</a></li>
                                <li>
                                    <ol class="ti-footer-social-media-list">
                                        <li>
                                            <a href="https://medium.com/@trupti.shirodkar" data-hover target="_blank">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
                                                    <defs>
                                                        <linearGradient id="a" x1="50%" x2="50%" y1="0%" y2="100%">
                                                            <stop offset="0%" stop-color="#75D5D4"/>
                                                            <stop offset="100%" stop-color="#ACFA98"/>
                                                        </linearGradient>
                                                    </defs>
                                                    <path fill="url(#a)" fill-rule="evenodd" d="M0 0h17v17H0V0zm14.112 3.78h-3.144L8.732 9.41 6.191 3.78H2.832v.28l1.183 1.445L4 11.091l-1.17 1.596.003.264h3.303l.009-.243-1.384-1.617.037-4.52 2.918 6.38h.351l2.592-6.531v5.313l-1.062 1.004v.214h4.516v-.256l-1.036-.982-.014-6.754 1.05-.897v-.281z"/>
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.behance.net/trupsfolio" data-hover target="_blank">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                                    <defs>
                                                        <linearGradient id="ab" x1="50%" x2="50%" y1="0%" y2="100%">
                                                            <stop offset="0%" stop-color="#75D5D4"/>
                                                            <stop offset="100%" stop-color="#ACFA98"/>
                                                        </linearGradient>
                                                        <linearGradient id="bc" x1="50%" x2="50%" y1="0%" y2="100%">
                                                            <stop offset="0%" stop-color="#75D5D4"/>
                                                            <stop offset="100%" stop-color="#ACFA98"/>
                                                        </linearGradient>
                                                        <linearGradient id="cd" x1="50%" x2="50%" y1="0%" y2="100%">
                                                            <stop offset="0%" stop-color="#75D5D4"/>
                                                            <stop offset="100%" stop-color="#ACFA98"/>
                                                        </linearGradient>
                                                    </defs>
                                                    <g fill="none" fill-rule="evenodd">
                                                        <path fill="url(#ab)" d="M5.754 5.895H3.79v1.684h1.965c.542 0 .983-.378.983-.842 0-.464-.441-.842-.983-.842zM5.754 8.421H3.79v1.684h1.965c.542 0 .983-.378.983-.842 0-.464-.441-.842-.983-.842z"/>
                                                        <path fill="url(#bc)" d="M10.947 7.579c-.582 0-1.078.352-1.263.842h2.527c-.185-.49-.682-.842-1.264-.842z"/>
                                                        <path fill="url(#cd)" d="M13.625 0H2.344A2.347 2.347 0 0 0 0 2.344v11.312A2.347 2.347 0 0 0 2.344 16h11.281C14.917 16 16 14.948 16 13.656V2.344C16 1.052 14.917 0 13.625 0zM8.937 4.719h3.75v.937h-3.75V4.72zM7.532 9.406c0 1.034-.84 1.875-1.875 1.875H2.844V4.72h2.812c1.034 0 1.875.84 1.875 1.875 0 .562-.254 1.062-.648 1.406.394.344.648.844.648 1.406zm5.625 0h-3.67a1.41 1.41 0 0 0 1.326.938c.5 0 .968-.27 1.219-.704l.811.47a2.352 2.352 0 0 1-2.03 1.171A2.347 2.347 0 0 1 8.47 8.937a2.347 2.347 0 0 1 2.344-2.343 2.347 2.347 0 0 1 2.343 2.343v.47z"/>
                                                    </g>
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/trupsfolio/" data-hover target="_blank">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                    <defs>
                                                        <linearGradient id="ab" x1="50%" x2="50%" y1="0%" y2="100%">
                                                            <stop offset="0%" stop-color="#75D5D4"></stop>
                                                            <stop offset="100%" stop-color="#ACFA98"></stop>
                                                        </linearGradient>
                                                        <linearGradient id="ba" x1="50%" x2="50%" y1="0%" y2="100%">
                                                            <stop offset="0%" stop-color="#75D5D4"></stop>
                                                            <stop offset="100%" stop-color="#ACFA98"></stop>
                                                        </linearGradient>
                                                    </defs>
                                                    <g fill="none" fill-rule="evenodd">
                                                        <path fill="url(#ab)" d="M16.82 0H7.138A7.145 7.145 0 0 0 0 7.137v9.684a7.145 7.145 0 0 0 7.137 7.137h9.684a7.145 7.145 0 0 0 7.137-7.137V7.137C23.958 3.202 20.756 0 16.821 0zm4.728 16.82a4.727 4.727 0 0 1-4.727 4.728H7.137A4.727 4.727 0 0 1 2.41 16.82V7.137A4.727 4.727 0 0 1 7.137 2.41h9.684a4.727 4.727 0 0 1 4.727 4.727v9.684z"></path>
                                                        <path fill="url(#ba)" d="M11.979 5.783a6.203 6.203 0 0 0-6.196 6.196 6.203 6.203 0 0 0 6.196 6.196 6.203 6.203 0 0 0 6.196-6.196 6.203 6.203 0 0 0-6.196-6.196zm0 9.982a3.786 3.786 0 1 1 0-7.572 3.786 3.786 0 0 1 0 7.572z"></path>
                                                        <circle cx="18.187" cy="5.829" r="1.485" fill="url(#a)"></circle>
                                                    </g>
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/in/trupsfolio/" data-hover target="_blank">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                    <defs>
                                                        <linearGradient id="a" x1="50%" x2="50%" y1="0%" y2="100%">
                                                            <stop offset="0%" stop-color="#75D5D4"></stop>
                                                            <stop offset="100%" stop-color="#ACFA98"></stop>
                                                        </linearGradient>
                                                    </defs>
                                                    <g fill="none" fill-rule="evenodd">
                                                        <path fill="#000" fill-rule="nonzero" d="M13.082 10.878v-.114c-.023.038-.055.076-.075.114h.075z"></path>
                                                        <path fill="url(#a)" d="M0 0v24h24V0H0zm7.465 19.939h-3.56V9.226h3.56v10.713zM5.685 7.764H5.66c-1.194 0-1.969-.823-1.969-1.852 0-1.051.797-1.85 2.016-1.85 1.219 0 1.968.799 1.991 1.85 0 1.029-.772 1.852-2.014 1.852zm14.623 12.175h-3.562v-5.732c0-1.44-.515-2.422-1.804-2.422-.984 0-1.57.662-1.827 1.303-.094.228-.118.547-.118.868v5.983H9.435s.047-9.708 0-10.713h3.562v1.518c.473-.728 1.318-1.77 3.21-1.77 2.344 0 4.1 1.531 4.1 4.821v6.144z"></path>
                                                    </g>
                                                </svg>
                                            </a>
                                        </li>
                                    </ol>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer> --}}
        </section>
        <div class="cursor">
            <div class="cursor__inner cursor__inner--circle"></div>
            <div class="cursor__inner cursor__inner--dot"></div>
        </div>
    </main>
</body>

</html>