<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
   <title>{{htmlWebpackPlugin.options.title}}</title>
   <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Rozha+One" rel="stylesheet">
</head>

<body class="moodilics_single">
   <section class="ti-section ti-preloader-section">
      <div class="ti-preloader__content">
         <div class="ti-preloader__circle">
            <h6 class="ti-preloader__progress-count"></h6>
         </div>
         <p class="ti-preloader__text">प्रगति</p>
      </div>
   </section>
   <main class="ti-main-content">
      <section class="ti-section ti-work-section--one ti-work-section--moodilics">
         <div class="container">
            <div class="ti-work-section__title-wrapper">
               <h1 class="ti-work-section__title">Moodilics</h1>
               <p class="ti-work-section__sub-title">Changing the experience to buy ice cream</p>
            </div>
            <div class="ti-work-section__highlight-card">
               <div class="ti-work-section-highlight-card__left">
                  <h2 class="ti-work-highlight-card__title">Case Study / Concept Design </h2>
                  <p class="ti-work-highlight-card__description">Using superfood as core ingredients it helps boost mood
                     and energy levels. Superfood consumed in form of icecream brings happiness to the mind as well as
                     body.</p>
                  <ul class="ti-work-highlight-card__stats-list">
                     <li>
                        <h3 class="ti-work-highlight-card__stats-head">Focus Areas</h3>
                        <ul class="ti-work-highlight-card__stats-points-list">
                           <li>Brand Strategy </li>
                           <li>Brand Experience</li>
                           <li>Healthy Product</li>
                        </ul>
                     </li>
                     <li>
                        <h3 class="ti-work-highlight-card__stats-head">Touch Points</h3>
                        <ul class="ti-work-highlight-card__stats-points-list">
                           <li> Package Design </li>
                           <li>App Design</li>
                           <li>Interactive Billboards</li>
                        </ul>
                     </li>
                     <li>
                        <h3 class="ti-work-highlight-card__stats-head">Type</h3>
                        <ul class="ti-work-highlight-card__stats-points-list">
                           <li>Jan 2018</li>
                        </ul>
                     </li>
                  </ul>
               </div>
               <div class="ti-work-highlight-card__right">
                  <img src="images/img_moodlics_banner.png" alt="moodlics banner">
               </div>
            </div>
            <span class="ti-back-button" title="Back" data-hover>
               <span class="ti-back-button__icon"></span>
               <span class="ti-back-button__text">Back</span>
            </span>
         </div>
         <div class="ti-hero-section__particles-wrapper">
            <span class="ti-hero-particle-type-one ti-hero-particle-type-one--small" style="left: 78%;top: 25%;"></span>
            <span class="ti-hero-particle-type-one ti-hero-particle-type-one--medium" style="left: 20%;top: 17%"></span>
            <span class="ti-hero-particle-type-one ti-hero-particle-type-one--medium" style="left: 80%;top: 65%"></span>
            <span class="ti-hero-particle-type-one ti-hero-particle-type-one--large"></span>
            <span class="ti-hero-particle-type-one ti-hero-particle-type-one--extra-large"></span>
         </div>
      </section>
      <section class="ti-section ti-work-section--two">
         <div class="container">
            <div class="ti-work-section-two__title-wrapper">
               <h3 class="ti-work-section-two__title">Problem Statements</h3>
            </div>
            <div class="ti-work-section-two__content-wrapper">
               <ul class="ti-work-section-two__content-card-list">
                  <li>
                     <div class="ti-work-section-two__content-card ti-work-section-two__content-card--moodlics">
                        <div class="ti-work-section-two__content-card-content">
                           <h4 class="ti-work-section-two__content-card-head">How can we convert our favourite treat
                              into a healthy mood booster?</h4>
                        </div>
                        <img src="images/moodlics-shape-1.svg" alt="sieva-shape-1"
                           class="ti-work-section-two__content-card-bg">
                     </div>
                  </li>
                  <li>
                     <div class="ti-work-section-two__content-card">
                        <div class="ti-work-section-two__content-card-content">
                           <h4 class="ti-work-section-two__content-card-head">The global Ice Cream market is valued at
                              USD 20.2 billion by the end of 2024, growing by 4.33%</h4>
                        </div>
                        <img src="images/moodlics-shape-2.svg" alt="sieva-shape-2"
                           class="ti-work-section-two__content-card-bg moodlics_shape_two">
                     </div>
                     <img src="images/moodlics-shape-3.svg" alt="sieva-shape-3"
                        class="ti-work-section-two__content-card-shape">
                  </li>
               </ul>
            </div>
         </div>
      </section>
      <div class="ice-flavors">
         <div class="container">
            <div class="row">
               <div class="col-md-3">
                  <img src="images/ice-01.png" alt="ice image">
               </div>
               <div class="col-md-3">
                  <img src="images/ice-02.png" alt="ice image">
               </div>
               <div class="col-md-3">
                  <img src="images/ice-03.png" alt="ice image">
               </div>
               <div class="col-md-3">
                  <img src="images/ice-04.png" alt="ice image">
               </div>
            </div>
         </div>
      </div>
      <div class="product-contain">
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <h1 class="product-head-mobile">
                     Your scoop of happiness for every mood.
                  </h1>
                  <img src="images/bottle.png" alt="bottle image" class="bottle">
               </div>
               <div class="col-md-3">
                  <img src="images/hand.svg" alt="moodi logo image" class="hand-icon">
               </div>
               <div class="col-md-5">
                  <h1 class="product-head">
                     Your scoop of happiness for every mood.
                  </h1>
                  <p>
                     Using superfood as core ingredients it helps boost mood and energy levels.
                     Superfood consumed in form of icecream brings happiness to the mind as well as body.
                  </p>
               </div>
            </div>
         </div>
      </div>
      <div class="super-food">
         <div class="container">
            <h2>How Superfood enhances Moodilics?</h2>
            <div class="row">
               <div class="col-md-3 col-6">
                  <img src="images/super-food-01.svg" alt="moodi logo image" class="hand-icon">
                  <h3>
                     Healthy & <br>
                     organic
                  </h3>
               </div>
               <div class="col-md-3 col-6">
                  <img src="images/super-food-02.svg" alt="moodi logo image" class="hand-icon">
                  <h3>
                     Boosts & helps <br>
                     maintain Mood
                  </h3>
               </div>
               <div class="col-md-3 col-6">
                  <img src="images/super-food-03.svg" alt="moodi logo image" class="hand-icon">
                  <h3>
                     Maintains sugar <br>
                     levels over interval
                  </h3>
               </div>
               <div class="col-md-3 col-6">
                  <img src="images/super-food-04.svg" alt="moodi logo image" class="hand-icon">
                  <h3>
                     Helps improve <br>
                     your sleep
                  </h3>
               </div>
            </div>
         </div>
      </div>
      <div class="brand-vision">
         <div class="container">
            <div class="row">
               <div class="col-md-5">
                  <h4>Brand Vision and Identity</h4>
                  <p>
                     Using natural ingredients for creating the ice cream flavours,
                     these flavours are superfoods which help boosting moods of individuals.
                     Different ingredients have different effect on the mood
                  </p>
               </div>
               <div class="col-md-7 brand-vision-inner">
                  <img src="images/moodibics.svg" alt="moodi logo image" class="moodibics logo">
               </div>
            </div>
            <div class="row font-details">
               <div class="col-md-6">
                  <span>Responsive Logo</span>
                  <div class="font-logo">
                     <img src="images/brand_moodilics.svg" alt="moodi logo image" class="moodibics logo">
                  </div>
               </div>
               <div class="col-md-6 font-demo-right">
                  <div class="fomnt-box">
                     <span>Font used across</span>
                     <div class="font-box">
                        <div class="font-sample">Aa</div>
                        <small>Circular Sans</small>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="food-flavour">
         <div class="container">
            <h1>Superfood flavours</h1>
            <div class="row row-one">
               <div class="col-md-5 row-one-content">
                  <div class="food-flavour-inner">
                     <h2>Roasted Almonds</h2>
                     <p>
                        Almonds are touted as the most diet-friendly nut because
                        they are high in protein, heart-friendly due to high levels
                        of MUFAs and very filling.
                     </p>
                     <div class="public-response">
                        <div class="response-inner">
                           <img src="images/ic_heart_dark.svg" alt="heart image">
                           <p>Crucial for Healthy hearts</p>
                        </div>
                        <div class="response-inner">
                           <img src="images/ic_like_dark.svg" alt="heart image">
                           <p>Lowers bad cholesterol</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-5 box-img">
                  <img src="images/img_roasted_almonds.png" alt="">
               </div>
            </div>
            <div class="row row-one row-two">
               <div class="col-md-5 box-img">
                  <img src="images/img_tangy oranges.png" alt="">
               </div>
               <div class="col-md-5 row-one-content">
                  <div class="food-flavour-inner">
                     <h2>Tangy Oranges</h2>
                     <p>
                        They boast a wealth of nutritious benefits. This juicy and sweet fruit
                        provides over 100% of the daily value for vitamin C making it an immune-boosting superfood.
                     </p>
                     <div class="public-response">
                        <div class="response-inner">
                           <img src="images/ic_heart_tangy orange.svg" alt="heart image">
                           <p>Help to fight cancer</p>
                        </div>
                        <div class="response-inner">
                           <img src="images/ic_like_tangy orange.svg" alt="heart image">
                           <p>Lowers blood pressure</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row row-one">
               <div class="col-md-5 row-one-content">
                  <div class="food-flavour-inner">
                     <h2>Creamy Avocado</h2>
                     <p>
                        The avocado is one of the most nutrient-dense foods available.
                        Ounce for ounce, they are among the richest in fiber, folate,
                        potassium, vitamin E, and magnesium among all fruits
                     </p>
                     <div class="public-response">
                        <div class="response-inner">
                           <img src="images/ic_heart_creamy avocado.svg" alt="heart image">
                           <p>Boosting immune system</p>
                        </div>
                        <div class="response-inner">
                           <img src="images/ic_like_creamy avocado.svg" alt="heart image">
                           <p>Calms nerves & anxiety</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-5 box-img">
                  <img src="images/img_creamy_avocado.png" alt="">
               </div>
            </div>
            <div class="row row-one row-two">
               <div class="col-md-5 box-img">
                  <img src="images/img_cocunut paradaise.png" alt="">
               </div>
               <div class="col-md-5 row-one-content">
                  <div class="food-flavour-inner">
                     <h2>Coconut Paradise</h2>
                     <p>
                        Its unique combination of fatty acids can have positive effects on your health.
                        This includes fat loss, better brain function and various other impressive benefits.
                     </p>
                     <div class="public-response">
                        <div class="response-inner">
                           <img src="images/ic_heart_dark.svg" alt="heart image">
                           <p>Help to reduce hunger</p>
                        </div>
                        <div class="response-inner">
                           <img src="images/ic_like_dark.svg" alt="heart image">
                           <p>Boosts energy levels</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row row-one">
               <div class="col-md-5 row-one-content">
                  <div class="food-flavour-inner">
                     <h2>Dark Cocoa</h2>
                     <p>
                        Raw cacao is fermented and sun-dried. It is then turned into a paste
                        (also known as cacao liquor) made by crushing the raw cacao beans into a liquid.
                     </p>
                     <div class="public-response">
                        <div class="response-inner">
                           <img src="images/ic_heart_dark.svg" alt="heart image">
                           <p>Balancing Hormonal Mood </p>
                        </div>
                        <div class="response-inner">
                           <img src="images/ic_like_dark.svg" alt="heart image">
                           <p>Prevents Premature Aging</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-5 box-img">
                  <img src="images/img_dark coco.png" alt="">
               </div>
            </div>
         </div>
      </div>
      <div class="building-awareness">
         <div class="container">
            <h1>Building Awareness</h1>
            <div class="row awareness-row">
               <div class="col-md-6 inner-img">
                  <img src="images/img_web_campaigns.png" alt="">
               </div>
               <div class="col-md-5">
                  <div class="number">01</div>
                  <div class="awareness-inner-content">
                     <h2>Web campaigns </h2>
                     <p>
                        Web presence to look at the ingredients and the creating
                        brand awareness. Linking all the social media to the web site.
                     </p>
                  </div>
               </div>
            </div>
            <div class="row awareness-row awareness-row-one">
               <div class="col-md-5">
                  <div class="number">02</div>
                  <div class="awareness-inner-content">
                     <h2>Interactive Posters</h2>
                     <p>
                        It scans the faces of people and tracks the faces features to
                        detect the mood and suggest the best ice cream flavour to help with the mood
                     </p>
                  </div>
               </div>
               <div class="col-md-6 inner-img">
                  <img src="images/img_interactive_posters.png" alt="">
               </div>
            </div>
            <div class="row awareness-row">
               <div class="col-md-6 inner-img">
                  <img src="images/img_mobile_website.png" alt="">
               </div>
               <div class="col-md-5">
                  <div class="number">03</div>
                  <div class="awareness-inner-content">
                     <h2>Mobile & Website </h2>
                     <p>
                        Its crucial to have the website of the brand to establish a social existence
                        and spread the knowledge rapidly locally , regionally and globally
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="mobile-screen">
         <div class="container">
            <div class="row mobile-screen-row mobile-screen-row-one">
               <div class="col-md-6 mobile-cnt">
                  <div class="mobile-screen-cnt">
                     <h4>Home Page</h4>
                     <p>
                        Each flavour has its own benefits you can check out benefits of each
                        flavours benefit, access the menu easily
                     </p>
                  </div>
               </div>
               <div class="col-md-6 mobile-img mobile-right">
                  <img src="images/mob-screen-01.png" alt="">
               </div>
            </div>
            <div class="row mobile-screen-row">
               <div class="col-md-6 mobile-img">
                  <img src="images/img_whats_mood.png" alt="">
               </div>
               <div class="col-md-6 mobile-cnt mobile-right">
                  <div class="mobile-screen-cnt">
                     <h4>What’s your mood</h4>
                     <p>
                        Moodilics detects your mood and suggests a special flavour to maintain or
                        enhance the current mood
                     </p>
                  </div>
               </div>
            </div>
            <div class="row mobile-screen-row mobile-screen-row-one">
               <div class="col-md-6 mobile-cnt">
                  <div class="mobile-screen-cnt">
                     <h4>Moodilic’s suggestion</h4>
                     <p>
                        Special ingredients and flavours help balance the mood or enhance it
                     </p>
                  </div>
               </div>
               <div class="col-md-6 mobile-img mobile-right">
                  <img src="images/img_sweet.png" alt="">
               </div>
            </div>
            <div class="row mobile-screen-row">
               <div class="col-md-6 mobile-img">
                  <img src="images/img_healthy_reciepts.png" alt="">
               </div>
               <div class="col-md-6 mobile-cnt mobile-right">
                  <div class="mobile-screen-cnt">
                     <h4>Healthy Recipes</h4>
                     <p>
                        When you buy a flavour, it will suggest you few recipes which is
                        contributed by the community or by Moodilics to help you enjoy the Flavour more!
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <footer class="ti-work-footer ti-work-footer--gray">
         <div class="container">
            <div class="ti-work-footer__content">
               <div class="ti-work-footer__content-left">
                  <a href="zappie.html" class="ti-work-footer__link" data-hover>
                     <h6 class="ti-work-footer__link-head">Previous</h6>
                     <div class="ti-work-footer__link-row">
                        <div class="ti-work-footer__link-column">Zappie</div>
                        <div class="ti-work-footer__link-column">02</div>
                     </div>
                  </a>
               </div>
               <div class="ti-work-footer__content-right">
                  <a href="azap.html" class="ti-work-footer__link" data-hover>
                     <h6 class="ti-work-footer__link-head">Next project</h6>
                     <div class="ti-work-footer__link-row">
                        <div class="ti-work-footer__link-column">04</div>
                        <div class="ti-work-footer__link-column">Azap</div>
                     </div>
                  </a>
               </div>
            </div>
         </div>
      </footer>
      <a id="scrollTop" title="Go to top">
         <p>Scroll up</p>
         <img src="images/back-to-top.svg" alt="back to top">
      </a>
      <div class="cursor">
         <div class="cursor__inner cursor__inner--circle"></div>
         <div class="cursor__inner cursor__inner--dot"></div>
      </div>
   </main>
</body>

</html>