<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Rozha+One" rel="stylesheet">
</head>

<body>
    <section class="ti-section ti-preloader-section">
        <div class="ti-preloader__content">
            <div class="ti-preloader__circle">
                <h6 class="ti-preloader__progress-count"></h6>
            </div>
            <p class="ti-preloader__text">प्रगति</p>
        </div>
    </section>
    <main class="ti-main-content">
        <section class="ti-section ti-work-section--one ti-work-section--personal-branding">
            <div class="container">
                <div class="ti-work-section__title-wrapper">
                    <h1 class="ti-work-section__title">Personal Branding</h1>
                    <p class="ti-work-section__sub-title">Taste of my design</p>
                </div>
                <div class="ti-work-section__highlight-card">
                    <div class="ti-work-section-highlight-card__left">
                        <h2 class="ti-work-highlight-card__title">Discovering your own Design </h2>
                        <p class="ti-work-highlight-card__description">Personal branding is about deciding to take an
                            challenge in the direction of my life. By creating a personal brand it allows you to
                            discover your strengths and weakness. Gain expertise in the direction you decide your brand
                            would take and make the most of what you've got to offer.</p>
                        <ul class="ti-work-highlight-card__stats-list">
                            <li>
                                <h3 class="ti-work-highlight-card__stats-head">Focus Areas</h3>
                                <ul class="ti-work-highlight-card__stats-points-list">
                                    <li>Brand Story</li>
                                    <li>Brand Design</li>
                                    <li>User Interface Design</li>
                                    <li>Social Media</li>
                                </ul>
                            </li>
                            <li>
                                <h3 class="ti-work-highlight-card__stats-head">Touch Points</h3>
                                <ul class="ti-work-highlight-card__stats-points-list">
                                    <li>Mobile Application </li>
                                    <li>Wesbites</li>
                                    <li>Social Media</li>
                                </ul>
                            </li>
                            <li>
                                <h3 class="ti-work-highlight-card__stats-head">Type</h3>
                                <ul class="ti-work-highlight-card__stats-points-list">
                                    <li>Feb 2019</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="ti-work-highlight-card__right">
                        <img src="images/personal-branding-highlight-card-image.png"
                            alt="personal-branding-highlight-card-image">
                    </div>
                    <div class="ti-work-highlight-card__brand-logo">
                        <img src="images/personal-branding-logo.svg" alt="personal-branding-logo">
                    </div>
                </div>
                <span class="ti-back-button" title="Back" data-hover>
                    <span class="ti-back-button__icon"></span>
                    <span class="ti-back-button__text">Back</span>
                </span>
            </div>
            <div class="ti-hero-section__particles-wrapper">
                <span class="ti-hero-particle-type-one ti-hero-particle-type-one--small"
                    style="left: 78%;top: 25%;"></span>
                <span class="ti-hero-particle-type-one ti-hero-particle-type-one--medium"
                    style="left: 20%;top: 17%"></span>
                <span class="ti-hero-particle-type-one ti-hero-particle-type-one--medium"
                    style="left: 80%;top: 65%"></span>
                <span class="ti-hero-particle-type-one ti-hero-particle-type-one--large"></span>
                <span class="ti-hero-particle-type-one ti-hero-particle-type-one--extra-large"></span>
            </div>
        </section>
        <section class="ti-section ti-work-section--two ti-work-section--two-personal-branding">
            <div class="container">
                <div class="ti-work-section-two__title-wrapper">
                    <h3 class="ti-work-section-two__title">Problem Statements</h3>
                </div>
                <div class="ti-work-section-two__content-wrapper">
                    <ul class="ti-work-section-two__content-card-list">
                        <li>
                            <div
                                class="ti-work-section-two__content-card ti-work-section-two__content-card--personal-branding">
                                <div class="ti-work-section-two__content-card-content">
                                    <h4 class="ti-work-section-two__content-card-head">Discover my strengths and
                                        offering as a designer</h4>
                                    <p class="ti-work-section-two__content-card-description">The main objective identify
                                        my best characteristics and ensuring to build on my brand on my strengths,
                                        expertise and hence make a emotional connection with my brand</p>
                                </div>
                                <img src="images/personal-branding-shape-1.svg" alt="personal-branding-1"
                                    class="ti-work-section-two__content-card-bg">
                            </div>
                        </li>
                        <li>
                            <div class="ti-work-section-two__content-card">
                                <div class="ti-work-section-two__content-card-content">
                                    <h4 class="ti-work-section-two__content-card-head">Why should people choose me over
                                        other as a brand? </h4>
                                    <p class="ti-work-section-two__content-card-description">Building a credibility
                                        through a visual showacase of my work and though process, living by the personal
                                        brand promises ensures to keep it authentic and honest.</p>
                                </div>
                                <img src="images/personal-branding-shape-2.svg" alt="personal-branding-2"
                                    class="ti-work-section-two__content-card-bg">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="ti-section ti-work-section--three">
            <div class="container">
                <ul class="ti-work-section__stats-list">
                    <li>
                        <h4 class="ti-work-section__stats__head">60%</h4>
                        <p class="ti-work-section__stats__description">Consumers feel more positive about a brand after
                            consuming content from it.</p>
                    </li>
                    <li>
                        <h4 class="ti-work-section__stats__head">83%</h4>
                        <p class="ti-work-section__stats__description">Say seamless experienace across devices are very
                            important to them</p>
                    </li>
                    <li>
                        <h4 class="ti-work-section__stats__head">79%</h4>
                        <p class="ti-work-section__stats__description">People who don’t like what they find on one site
                            will go back and search for another site</p>
                    </li>
                </ul>
            </div>
        </section>
        <section class="ti-section ti-pb-work-section--four">
            <img src="images/personal-branding-section-4-bg.svg" alt="personal-branding-section-4-bg"
                class="ti-personal-branding-section-four-bg">
            <div class="container">
                <div class="ti-pb-work-section__content-top">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="ti-pb-work-section__video-wrapper">
                                <h2 class="ti-pb-work-section__video-head">What inspired me?</h2>
                                <div class="ti-pb-work-section__video-container">
                                    <a href="https://www.youtube.com/watch?v=nnst67NWW6w?autoplay=1&rel=0"
                                        class="ti-pb-work-section__video-trigger popup-youtube" data-hover>
                                        <img src="images/video-poster.png" alt="video-poster">
                                        {{!-- <div class="ay-video-play-btn"></div> --}}
                                    </a>
                                </div>
                                <div class="ti-pb-work-section__video-details">
                                    <h3 class="ti-pb-work-section-four__head">3 Pillar Design</h3>
                                    <p class="ti-pb-work-section-four__para">Inspired from the 5 senses design, its a
                                        way to quantify what matters to human beings being complimentory to our existing
                                        research and design pratices.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="ti-pb-work-section__video-details-right">
                                <h3 class="ti-pb-work-section-four__head">“Our senses define our experiences”</h3>
                                <p class="ti-pb-work-section-four__para"> As a designer, Rather then creating
                                    meaningless digital interactions, being able to support people to live a greater
                                    portion of life in the real world with help of technology. Designers should focus on
                                    screen time minimization by actively engaging in solving real human problems. The
                                    interface, whether invisible or completely in your face, is to end a problem for
                                    them.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ti-work-section-thriteen__content-wrapper">
                    <ul
                        class="ti-work-section-thriteen__evaluation-card-list ti-work-section-thriteen__evaluation-card-list--style-two">
                        <li class="ti-work-section-thriteen__evaluation-card">
                            <div class="ti-work-section-thriteen__evaluation-card-head-wrapper">
                                <div class="ti-work-section-thriteen__evaluation-card-head-number"><span>01</span></div>
                                <h4 class="ti-work-section-thriteen__evaluation-card-head">Value</h4>
                            </div>
                            <div class="ti-work-section-thriteen__evaluation-card-content">
                                <p class="ti-work-section-thriteen__evaluation-card-content-para">It is first about
                                    defining the human objective then the process of designing an experience that
                                    enables objective to be fulfilled effectively.</p>
                            </div>
                        </li>
                        <li class="ti-work-section-thriteen__evaluation-card">
                            <div class="ti-work-section-thriteen__evaluation-card-head-wrapper">
                                <div class="ti-work-section-thriteen__evaluation-card-head-number"><span>02</span></div>
                                <h4 class="ti-work-section-thriteen__evaluation-card-head">Meaning</h4>
                            </div>
                            <div class="ti-work-section-thriteen__evaluation-card-content">
                                <p class="ti-work-section-thriteen__evaluation-card-content-para">Beyond value, great
                                    experiences should be memorable and create a significant impact. Designing an
                                    experience that quanitfies achievement of the outcome.</p>
                            </div>
                        </li>
                        <li class="ti-work-section-thriteen__evaluation-card">
                            <div class="ti-work-section-thriteen__evaluation-card-head-wrapper">
                                <div class="ti-work-section-thriteen__evaluation-card-head-number"><span>03</span></div>
                                <h4 class="ti-work-section-thriteen__evaluation-card-head">Enagagement</h4>
                            </div>
                            <div class="ti-work-section-thriteen__evaluation-card-content">
                                <p class="ti-work-section-thriteen__evaluation-card-content-para">It is all about making
                                    the experience of attaining the objectives more fun. Entertaining our senses and
                                    filling us with a rush of endorphins rather then dose of addictive dopamines.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="ti-section ti-pb-work-section--five">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-xl-5 flex-fill">
                        <span class="ti-pb-work-section-grey-title-small d-block">Saul bass said -</span>
                        <h3 class="ti-pb-work-section-blue-title">Design is thinking made visual.</h3>
                        <h4 class="ti-pb-work-section-green-title">सोच</h4>
                        <div class="ti-pb-work-section-video-wrapper">
                            <video autoplay loop muted>
                                <source src="videos/logo.mp4" type="video/mp4">
                                Your browser does not support HTML5 video.
                            </video>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-7 flex-fill">
                        <div class="ti-pb-work-section-five-right-content">
                            <div class="ti-pb-work-section-five-image-wrapper">
                                <img src="images/trupti-personal-branding-case-study.png"
                                    alt="trupti-personal-branding-case-study" class="ti-pb-work-section-five-image">
                            </div>
                            <p class="ti-pb-work-section-five-image-details-text">When different perspectives come
                                together through the funnel to build a product or a service for a specific target of
                                users.</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12 col-lg-4 ti-pb-work-section-five-cricle-head">
                        <div class="ti-circle-head__wrapper">
                            <div class="ti-circle-head__circle">
                                <h5 class="ti-circle-head__text--english">Colors</h5>
                            </div>
                            <p class="ti-circle-head__text">रंग</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-8">
                        <ul class="ti-pb-work-section-color-list">
                            <li>
                                <div class="ti-pb-work-section-color-swatch">
                                    <img src="images/swatch-1.svg" alt="swatch-1">
                                </div>
                                <span class="ti-pb-work-section-color-value">79D3CC</span>
                                <span class="ti-pb-work-section-color-value">B7FA82</span>
                            </li>
                            <li>
                                <div class="ti-pb-work-section-color-swatch">
                                    <img src="images/swatch-2.svg" alt="swatch-2">
                                </div>
                                <span class="ti-pb-work-section-color-value">FFC1C7</span>
                                <span class="ti-pb-work-section-color-value">F38DFF</span>
                            </li>
                            <li>
                                <div class="ti-pb-work-section-color-swatch">
                                    <img src="images/swatch-3.svg" alt="swatch-3">
                                </div>
                                <span class="ti-pb-work-section-color-value">CC3BDE</span>
                                <span class="ti-pb-work-section-color-value">5E2ED0</span>
                            </li>
                            <li>
                                <div class="ti-pb-work-section-color-swatch">
                                    <img src="images/swatch-4.svg" alt="swatch-4">
                                </div>
                                <span class="ti-pb-work-section-color-value">4113A5</span>
                                <span class="ti-pb-work-section-color-value">9C65F6</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="ti-section ti-pb-work-section--six">
            <div class="container">
                <div class="ti-pb-work-section-six-font-details-wrapper">
                    <ul class="ti-pb-font-details-list">
                        <li>
                            <div class="ti-circle-head__wrapper">
                                <div class="ti-circle-head__circle">
                                    <h5 class="ti-circle-head__text--english">Type</h5>
                                </div>
                                <p class="ti-circle-head__text">प्रकार</p>
                            </div>
                        </li>
                        <li class="ti-pb-font-details__font--rozha-one">
                            <span class="ti-pb-font-details__font-type">Primary Font</span>
                            <span
                                class="ti-pb-font-details__font-display ti-pb-font-details__font-display--bold">Aa</span>
                            <p class="ti-pb-font-details__font-para ti-pb-font-details__font-para--bold">
                                abcdefghijklmnopqrstuvwxyz</p>
                            <span class="ti-pb-font-details__font-family">Rozha One Latin</span>
                        </li>
                        <li class="ti-pb-font-details__font--ibm-plex">
                            <span class="ti-pb-font-details__font-type">Secondary font</span>
                            <span
                                class="ti-pb-font-details__font-display ti-pb-font-details__font-display--bold">Aa</span>
                            <p class="ti-pb-font-details__font-para">abcdefghijklmnopqrstuvwxyz</p>
                            <span class="ti-pb-font-details__font-family">IBM Plex Sans</span>
                        </li>
                        <li class="ti-pb-font-details__font--rozha-one-devanagari">
                            <span class="ti-pb-font-details__font-type">Secondary Language</span>
                            <span
                                class="ti-pb-font-details__font-display ti-pb-font-details__font-display--bold">आ</span>
                            <span class="ti-pb-font-details__font-family">Rozha One Devanagari</span>
                        </li>
                    </ul>
                </div>
                <div class="ti-pb-idol-list-wrapper">
                    <ul class="ti-pb-idol-list">
                        <li>
                            <span class="ti-pb-idol-fig"><img src="images/pb-sight.svg" alt="pb-sight"></span>
                            <span class="ti-pb-idol-fig-caption">Sight - See my work</span>
                        </li>
                        <li>
                            <span class="ti-pb-idol-fig"><img src="images/pb-touch.svg" alt="pb-touch"></span>
                            <span class="ti-pb-idol-fig-caption">Smell - Latest Work</span>
                        </li>
                        <li>
                            <span class="ti-pb-idol-fig"><img src="images/pb-taste.svg" alt="pb-taste"></span>
                            <span class="ti-pb-idol-fig-caption">Taste - Personal Branding</span>
                        </li>
                        <li>
                            <span class="ti-pb-idol-fig"><img src="images/pb-smell.svg" alt="pb-smell"></span>
                            <span class="ti-pb-idol-fig-caption">Touch - About Me</span>
                        </li>
                        <li>
                            <span class="ti-pb-idol-fig"><img src="images/pb-sound.svg" alt="pb-sound"></span>
                            <span class="ti-pb-idol-fig-caption">Hear - Contact us</span>
                        </li>
                    </ul>

                </div>
            </div>
        </section>
        <section class="ti-section ti-pb-work-section--seven">
            <div class="container">
                <div class="ti-pb-work-section-seven__content">
                    <div class="row">
                        <div class="col-12 col-md-7">
                            <div class="ti-pb-work-section-seven-top-content__image">
                                <img src="images/scene1.png" alt="scene1">
                            </div>
                        </div>
                        <div class="col-12 col-md-5">
                            <div class="ti-pb-work-section-seven-top-content__details">
                                <h4 class="ti-pb-work-section-seven-top-content__head">brand touchpoints</h4>
                                <p class="ti-pb-work-section-seven-top-content__para">Online and offline presence of our
                                    brand increases the credibility and also generate awareness amoung others in the
                                    design industry, also in terms of business leads</p>
                            </div>
                        </div>
                    </div>
                    <div class="ti-pb-work-section-seven-bottom-content">
                        <div class="ti-pb-work-section-seven-bottom-content__slider">
                            <div class="ti-pb-work-section-seven-bottom-content__slide">
                                <div class="ti-pb-work-section-seven-bottom-content__slide-content">
                                    <div class="ti-pb-work-section-seven-bottom-content__slide-left">
                                        <div class="ti-pb-work-section-seven-bottom-content__slide-left-top">
                                            <img src="images/poster-small/1.png">
                                        </div>
                                        <div class="ti-pb-work-section-seven-bottom-content__slide-left-bottom">
                                            <img src="images/poster-small/2.png">
                                        </div>
                                    </div>
                                    <div class="ti-pb-work-section-seven-bottom-content__slide-right">
                                        <img src="images/poster-big/1.png" alt="brand-touch-point-big-1">
                                    </div>
                                </div>
                            </div>
                            <div class="ti-pb-work-section-seven-bottom-content__slide">
                                <div class="ti-pb-work-section-seven-bottom-content__slide-content">
                                    <div class="ti-pb-work-section-seven-bottom-content__slide-left">
                                        <div class="ti-pb-work-section-seven-bottom-content__slide-left-top">
                                            <img src="images/poster-small/8.png">
                                        </div>
                                        <div class="ti-pb-work-section-seven-bottom-content__slide-left-bottom">
                                            <img src="images/poster-small/4.png">
                                        </div>
                                    </div>
                                    <div class="ti-pb-work-section-seven-bottom-content__slide-right">
                                        <img src="images/poster-big/2.png" alt="brand-touch-point-big-1">
                                    </div>
                                </div>
                            </div>
                            <div class="ti-pb-work-section-seven-bottom-content__slide">
                                <div class="ti-pb-work-section-seven-bottom-content__slide-content">
                                    <div class="ti-pb-work-section-seven-bottom-content__slide-left">
                                        <div class="ti-pb-work-section-seven-bottom-content__slide-left-top">
                                            <img src="images/poster-small/5.png">
                                        </div>
                                        <div class="ti-pb-work-section-seven-bottom-content__slide-left-bottom">
                                            <img src="images/poster-small/6.png">
                                        </div>
                                    </div>
                                    <div class="ti-pb-work-section-seven-bottom-content__slide-right">
                                        <img src="images/poster-big/3.png" alt="brand-touch-point-big-1">
                                    </div>
                                </div>
                            </div>
                            <div class="ti-pb-work-section-seven-bottom-content__slide">
                                <div class="ti-pb-work-section-seven-bottom-content__slide-content">
                                    <div class="ti-pb-work-section-seven-bottom-content__slide-left">
                                        <div class="ti-pb-work-section-seven-bottom-content__slide-left-top">
                                            <img src="images/poster-small/7.png">
                                        </div>
                                        <div class="ti-pb-work-section-seven-bottom-content__slide-left-bottom">
                                            <img src="images/poster-small/8.png">
                                        </div>
                                    </div>
                                    <div class="ti-pb-work-section-seven-bottom-content__slide-right">
                                        <img src="images/poster-big/3.png" alt="brand-touch-point-big-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <a id="scrollTop" title="Go to top">
            <p>Scroll up</p>
            <img src="images/back-to-top.svg" alt="back to top">
        </a>
        <footer class="ti-work-footer">
            <div class="container">
                <div class="ti-work-footer__content">
                    <div class="ti-work-footer__content-left">
                        <a href="index.html" class="ti-work-footer__link" data-hover>
                            <span class="ti-work-footer__link-image ti-work-footer__idol-see">
                                <img src="images/idol-see.png" alt="idol see">
                            </span>
                            <h6 class="ti-work-footer__link-head">Go back</h6>
                            <div class="ti-work-footer__link-row">
                                <div class="ti-work-footer__link-column">Home</div>
                                <div class="ti-work-footer__link-column"></div>
                            </div>
                        </a>
                    </div>
                    <div class="ti-work-footer__content-right">
                        <a href="sieva.html" class="ti-work-footer__link" data-hover>
                            <span class="ti-work-footer__link-image ti-work-footer__sieva">
                                <img src="images/sieva-highlight-card-image.png" alt="sieva highlight card image">
                            </span>
                            <h6 class="ti-work-footer__link-head">Next project</h6>
                            <div class="ti-work-footer__link-row">
                                <div class="ti-work-footer__link-column">02</div>
                                <div class="ti-work-footer__link-column">Sieva</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
        <div class="cursor">
            <div class="cursor__inner cursor__inner--circle"></div>
            <div class="cursor__inner cursor__inner--dot"></div>
        </div>
    </main>
</body>

</html>