<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Rozha+One" rel="stylesheet">
</head>

<body>
    <section class="ti-section ti-preloader-section">
        <div class="ti-preloader__content">
            <div class="ti-preloader__circle">
                <h6 class="ti-preloader__progress-count"></h6>
            </div>
            <p class="ti-preloader__text">प्रगति</p>
        </div>
    </section>
    <main class="ti-main-content">
        <section class="ti-section ti-work-section--one ti-work-section--sieva">
            <div class="container">
                <div class="ti-work-section__title-wrapper">
                    <h1 class="ti-work-section__title">Sieva</h1>
                    <p class="ti-work-section__sub-title">Skin care specially made for you</p>
                </div>
                <div class="ti-work-section__highlight-card">
                    <div class="ti-work-section-highlight-card__left">
                        <h2 class="ti-work-highlight-card__title">Case Study <span>/ Concept Design</span> </h2>
                        <p class="ti-work-highlight-card__description">According to the ads all skin care products
                            produce miracles, which sounds too good to be true? Seiva is focussed on simplifying the
                            process of picking the perfect skin care product from the shelf or the online store. The
                            ideation and the concept building is done weeks using the design sprint process.</p>
                        <ul class="ti-work-highlight-card__stats-list">
                            <li>
                                <h3 class="ti-work-highlight-card__stats-head">Focus Areas</h3>
                                <ul class="ti-work-highlight-card__stats-points-list">
                                    <li>Product Design</li>
                                    <li>Brand Design</li>
                                </ul>
                            </li>
                            <li>
                                <h3 class="ti-work-highlight-card__stats-head">Touch Points</h3>
                                <ul class="ti-work-highlight-card__stats-points-list">
                                    <li>Mobile Application </li>
                                    <li>Smart Mirror</li>
                                </ul>
                            </li>
                            <li>
                                <h3 class="ti-work-highlight-card__stats-head">Type</h3>
                                <ul class="ti-work-highlight-card__stats-points-list">
                                    <li>March 2019</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="ti-work-highlight-card__right">
                        <img src="images/sieva-highlight-card-image.png" alt="sieva highlight card image">
                    </div>
                    <div class="ti-work-highlight-card__brand-logo">
                        <img src="images/sieva-logo.svg" alt="sieva-logo">
                    </div>
                </div>
                <span class="ti-back-button" title="Back" data-hover>
                    <span class="ti-back-button__icon"></span>
                    <span class="ti-back-button__text">Back</span>
                </span>
            </div>
            <div class="ti-hero-section__particles-wrapper">
                <span class="ti-hero-particle-type-one ti-hero-particle-type-one--small"
                    style="left: 78%;top: 25%;"></span>
                <span class="ti-hero-particle-type-one ti-hero-particle-type-one--medium"
                    style="left: 20%;top: 17%"></span>
                <span class="ti-hero-particle-type-one ti-hero-particle-type-one--medium"
                    style="left: 80%;top: 65%"></span>
                <span class="ti-hero-particle-type-one ti-hero-particle-type-one--large"></span>
                <span class="ti-hero-particle-type-one ti-hero-particle-type-one--extra-large"></span>
            </div>
        </section>
        <section class="ti-section ti-work-section--two">
            <div class="container">
                <div class="ti-work-section-two__title-wrapper">
                    <h3 class="ti-work-section-two__title">Problem Statements</h3>
                </div>
                <div class="ti-work-section-two__content-wrapper">
                    <ul class="ti-work-section-two__content-card-list">
                        <li>
                            <div class="ti-work-section-two__content-card ti-work-section-two__content-card--sieva">
                                <div class="ti-work-section-two__content-card-content">
                                    <h4 class="ti-work-section-two__content-card-head">Different people have different
                                        texture of the skin</h4>
                                    <p class="ti-work-section-two__content-card-description">The main objective was to
                                        make skin care information accessible to all genders, age, ethinicity
                                        personalised according to their skin</p>
                                </div>
                                <img src="images/sieva-shape-1.svg" alt="sieva-shape-1"
                                    class="ti-work-section-two__content-card-bg">
                            </div>
                        </li>
                        <li>
                            <div class="ti-work-section-two__content-card">
                                <div class="ti-work-section-two__content-card-content">
                                    <h4 class="ti-work-section-two__content-card-head">Transparency of the product usage
                                        and contents.</h4>
                                    <p class="ti-work-section-two__content-card-description">Preferences of buying
                                        natural products, and how to use the products in the most optimal way that
                                        derieves great results for you skin</p>
                                </div>
                                <img src="images/sieva-shape-2.svg" alt="sieva-shape-2"
                                    class="ti-work-section-two__content-card-bg">
                            </div>
                            <img src="images/sieva-shape-3.svg" alt="sieva-shape-3"
                                class="ti-work-section-two__content-card-shape">
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="ti-section ti-work-section--three">
            <div class="container">
                <ul class="ti-work-section__stats-list">
                    <li>
                        <h4 class="ti-work-section__stats__head">$131</h4>
                        <p class="ti-work-section__stats__description">Skin care sales expected to be $131 billion in
                            2019</p>
                    </li>
                    <li>
                        <h4 class="ti-work-section__stats__head">7/10</h4>
                        <p class="ti-work-section__stats__description">Millennial women research on beauty products
                            before purchasing the beauty products. </p>
                    </li>
                    <li>
                        <h4 class="ti-work-section__stats__head">73%</h4>
                        <p class="ti-work-section__stats__description">Millennial women seek out cleaner and all-natural
                            products.</p>
                    </li>
                </ul>
            </div>
        </section>
        <section class="ti-section ti-work-section--four">
            <div class="container">
                <div class="ti-work-section-four__content-wrapper">
                    <div class="ti-work-section-four__content-left">
                        <h5 class="ti-work-section__head">Building Solutions</h5>
                        <p class="ti-work-section__description">Converting our problem statements into our value
                            proposition,This brands help you pick a cosmetic based on your skin.</p>
                        <p class="ti-work-section__description"><strong>How might we achieve those values?</strong>
                            Mapping ideas and actionables into a impact VS efforts, helps us plan our project milestones
                            and we can focus on these actionables based on the effort it will take.</p>
                    </div>
                    <div class="ti-work-section-four__content-right">
                        <img src="images/sieva-building-solutions.png" alt="sieva building solutions">
                    </div>
                </div>
                {{!-- <div class="ti-work-section__carousel-wrapper">
                    <ul class="ti-work-section-four__carousel">
                        <li>
                            <img src="images/building-solution-slider-1.png" alt="building solution slider 1">
                        </li>
                        <li>
                            <img src="images/building-solution-slider-2.png" alt="building solution slider 2">
                        </li>
                        <li>
                            <img src="images/building-solution-slider-3.png" alt="building solution slider 3">
                        </li>
                    </ul>
                </div> --}}
            </div>
        </section>
        <section class="ti-section ti-work-section--five">
            <div class="container">
                <div class="ti-work-section-five__content-wrapper">
                    <div class="ti-work-section-five__content-column ti-work-section-five__content-column--one">
                        <div class="ti-work-section-five__content-column-head-wrapper">
                            <h4 class="ti-work-section-five__content-column-head">Lora Kraus</h4>
                            <p class="ti-work-section-five__content-column-sub-head">27 years | Marketing Consultant</p>
                        </div>
                        <div class="ti-work-section-five__column-content">
                            <div class="ti-work-section-five__column-content-image">
                                <img src="images/persona-1.png" alt="persona-1">
                            </div>
                            <div class="ti-work-section-five__column-content-card">
                                <div class="ti-work-section-five__column-content-card-head-wrapper">
                                    <span
                                        class="ti-work-section-five__column-content-card-icon ti-work-section-five__column-content-card-icon--orange"></span>
                                    <h6 class="ti-work-section-five__column-content-card-head">Lora Kraus</h6>
                                </div>
                                <p class="ti-work-section-five__column-content-card-para">Her entire day comprises of
                                    tons of meeting in same city or different cities. She’s up to date with all market
                                    trends . Generally shes meeting new people and travelling for work.</p>
                            </div>
                        </div>
                    </div>
                    <div class="ti-work-section-five__content-column ti-work-section-five__content-column--two">
                        <div class="ti-work-section-five__content-column-head-wrapper">
                            <h4 class="ti-work-section-five__content-column-head">Mattew Sanders</h4>
                            <p class="ti-work-section-five__content-column-sub-head">26 years | Mid Level Business
                                Analyst</p>
                        </div>
                        <div class="ti-work-section-five__column-content">
                            <div class="ti-work-section-five__column-content-image">
                                <img src="images/persona-2.png" alt="persona-2">
                            </div>
                            <div class="ti-work-section-five__column-content-card">
                                <div class="ti-work-section-five__column-content-card-head-wrapper">
                                    <span
                                        class="ti-work-section-five__column-content-card-icon ti-work-section-five__column-content-card-icon--black"></span>
                                    <h6 class="ti-work-section-five__column-content-card-head">Mattew Sanders</h6>
                                </div>
                                <p class="ti-work-section-five__column-content-card-para">He’s been working with ABC
                                    company since 3 years and he handles his own small team. Lives alone in the city
                                    with couple of roommates. Dating since 6 months.</p>
                            </div>
                        </div>
                    </div>
                    <div class="ti-work-section-five__content-column ti-work-section-five__content-column--three">
                        <div class="ti-work-section-five__content-column-three-head-wrapper">
                            <h4 class="ti-work-section-five__content-column-three-head">Personas</h4>
                            <p class="ti-work-section-five__content-column-three-para">We need to understand the our
                                users and their needs. </p>
                        </div>
                        <div
                            class="ti-work-section-five__content-column-three-dialogue-card ti-work-section-five__content-column-three-dialogue-card--orange">
                            <p>Lora says “ <br>I keep looking for natural products and routines that can help me take
                                care of my skin ”</p>
                        </div>
                        <div
                            class="ti-work-section-five__content-column-three-dialogue-card ti-work-section-five__content-column-three-dialogue-card--black">
                            <p>Mattew Says <br>“Guys generally never talk about skin care, occasionally when there’s
                                some issue, my girlfriend just points it out and gives me advice”</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="ti-section ti-work-section--six">
            <div class="container">
                <div class="ti-work-section-six__head-wrapper">
                    <h3 class="ti-work-section-six__head">Story Boarding</h3>
                </div>
                <div class="ti-work-section-six__content-wrapper">
                    <ul class="ti-work-section-six__cards-list">
                        <li>
                            <div class="ti-work-section-six__card">
                                <div class="ti-work-section-six__card-image">
                                    <img src="images/story-board-1.png" alt="story-board-1">
                                </div>
                                <div class="ti-work-section-six__card-content">
                                    <div class="ti-work-section-six__card-head">
                                        <span class="ti-work-section-six__card-head-count">1</span>
                                        <span class="ti-work-section-six__card-head-text">Her work</span>
                                    </div>
                                    <p class="ti-work-section-six__card-para">As a consultant Lora has to meet number of
                                        people and be a part of various meetings</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ti-work-section-six__card">
                                <div class="ti-work-section-six__card-image">
                                    <img src="images/story-board-2.png" alt="story-board-2">
                                </div>
                                <div class="ti-work-section-six__card-content">
                                    <div class="ti-work-section-six__card-head">
                                        <span class="ti-work-section-six__card-head-count">2</span>
                                        <span class="ti-work-section-six__card-head-text">Her daily routine</span>
                                    </div>
                                    <p class="ti-work-section-six__card-para">She has to look her best everyday, as
                                        she’s meeting alot of people and shes representing her company and ideas</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ti-work-section-six__card">
                                <div class="ti-work-section-six__card-image">
                                    <img src="images/story-board-3.png" alt="story-board-3">
                                </div>
                                <div class="ti-work-section-six__card-content">
                                    <div class="ti-work-section-six__card-head">
                                        <span class="ti-work-section-six__card-head-count">3</span>
                                        <span class="ti-work-section-six__card-head-text">Research and buy</span>
                                    </div>
                                    <p class="ti-work-section-six__card-para">She comes numerous ads online, offline of
                                        cosmetic products and buys based on the basis of reviews</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ti-work-section-six__card">
                                <div class="ti-work-section-six__card-image">
                                    <img src="images/story-board-1.png" alt="story-board-1">
                                </div>
                                <div class="ti-work-section-six__card-content">
                                    <div class="ti-work-section-six__card-head">
                                        <span class="ti-work-section-six__card-head-count">4</span>
                                        <span class="ti-work-section-six__card-head-text">Her work</span>
                                    </div>
                                    <p class="ti-work-section-six__card-para">As a consultant Lora has to meet number of
                                        people and be a part of various meetings</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ti-work-section-six__card">
                                <div class="ti-work-section-six__card-image">
                                    <img src="images/story-board-2.png" alt="story-board-2">
                                </div>
                                <div class="ti-work-section-six__card-content">
                                    <div class="ti-work-section-six__card-head">
                                        <span class="ti-work-section-six__card-head-count">5</span>
                                        <span class="ti-work-section-six__card-head-text">Her daily routine</span>
                                    </div>
                                    <p class="ti-work-section-six__card-para">She has to look her best everyday, as
                                        she’s meeting alot of people and shes representing her company and ideas</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ti-work-section-six__card">
                                <div class="ti-work-section-six__card-image">
                                    <img src="images/story-board-3.png" alt="story-board-3">
                                </div>
                                <div class="ti-work-section-six__card-content">
                                    <div class="ti-work-section-six__card-head">
                                        <span class="ti-work-section-six__card-head-count">6</span>
                                        <span class="ti-work-section-six__card-head-text">Research and buy</span>
                                    </div>
                                    <p class="ti-work-section-six__card-para">She comes numerous ads online, offline of
                                        cosmetic products and buys based on the basis of reviews</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="ti-section ti-work-section--seven">
            <div class="container">
                <div class="ti-work-section-four__content-wrapper ti-work-section-four__content-wrapper--alternate">
                    <div class="ti-work-section-four__content-left">
                        <h5 class="ti-work-section__head">Customer Journey</h5>
                        <p class="ti-work-section__description">To understand the user’s context and needs, it helps to
                            establish the environment in which the tool in question might be used. </p>
                    </div>

                    <div class="ti-work-section-four__content-right">
                        <img src="images/sieva-customer-journey.png" alt="sieva customer journey">
                    </div>
                </div>
            </div>
        </section>
        <section class="ti-section ti-work-section--eight">
            <div class="container">
                <h5 class="ti-work-section__head">Wireframes</h5>
            </div>
            <div class="ti-work-section-eight__content-wrapper">
                <div class="container">
                    <div class="ti-work-section-eight__slider">
                        <div class="ti-work-section-eight__slide">
                            <img src="images/wireframe-1.png" alt="wireframe 1">
                        </div>
                        <div class="ti-work-section-eight__slide">
                            <img src="images/wireframe-2.png" alt="wireframe 2">
                        </div>
                        <div class="ti-work-section-eight__slide">
                            <img src="images/wireframe-3.png" alt="wireframe 3">
                        </div>
                        <div class="ti-work-section-eight__slide">
                            <img src="images/wireframe-4.png" alt="wireframe 4">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="ti-section ti-work-section--nine">
            <div class="container">
                <h5 class="ti-work-section__head">Bringing it <br>all together</h5>
            </div>
            <div class="ti-work-section-nine__content-wrapper">
                <div class="container">
                    <div class="ti-work-section-text-image-card ti-work-section-text-image-card--has-bg">
                        <div class="ti-work-section-text-image-card__left">
                            <div class="ti-work-section-text-image-card__text-block">
                                <div class="ti-work-section-text-image-card__text-block-left">01</div>
                                <div class="ti-work-section-text-image-card__text-block-right">
                                    <h4 class="ti-work-section-text-image-card__text-block-head">The Perfect Match</h4>
                                    <p class="ti-work-section-text-image-card__text-block-para">After gender
                                        specification, next few steps help you decide your perfect skin tone for product
                                        & routine recommendation</p>
                                </div>
                            </div>
                        </div>
                        <div class="ti-work-section-text-image-card__right">
                            <div class="ti-work-section-text-image-card__right-single-image-wrapper">
                                {{!-- <video muted autoplay class="ti-work-section-text-image-card__pick-gender-video">
                                    <source src="videos/pick-gender.mp4" type="video/mp4">
                                    Your browser does not support HTML5 video.
                                </video> --}}
                                <img src="images/pick-gender.gif" alt="pick gender"
                                    class="ti-work-section--pick-gender-img">
                                <span class="ti-work-section-text-image-card__right-bg"></span>
                            </div>
                        </div>
                    </div>
                    <div class="ti-work-section-text-image-card ti-work-section-text-image-card--alternate">
                        <div class="ti-work-section-text-image-card__left">
                            <div class="ti-work-section-text-image-card__text-block">
                                <div class="ti-work-section-text-image-card__text-block-left">02</div>
                                <div class="ti-work-section-text-image-card__text-block-right">
                                    <h4 class="ti-work-section-text-image-card__text-block-head">Skin Sensor Tool</h4>
                                    <p class="ti-work-section-text-image-card__text-block-para">This tool scans the
                                        face, detect the irregularities in the face and gives you recommendation based
                                        on the scan.</p>
                                </div>
                            </div>
                        </div>
                        <div class="ti-work-section-text-image-card__right">
                            <ul class="ti-work-section-text-image-card__right-image-list">
                                <li>
                                    {{!-- <video muted autoplay class="ti-work-section-text-image-card__pick-gender-video">
                                        <source src="videos/skin-sensor-tool.mp4" type="video/mp4">
                                        Your browser does not support HTML5 video.
                                    </video> --}}
                                    <img src="images/skin-sensor-tool.gif" alt="skin-sensor-tool"
                                        class="ti-work-section--skin-sensor-img">
                                </li>
                                <li class="ti-work-section-text-image-card__right-static-image"><img
                                        src="images/skin-sensor-tool.jpg" alt="skin-sensor-tool"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="ti-work-section-text-image-card">
                        <div class="ti-work-section-text-image-card__left">
                            <div class="ti-work-section-text-image-card__text-block">
                                <div class="ti-work-section-text-image-card__text-block-left">03</div>
                                <div class="ti-work-section-text-image-card__text-block-right">
                                    <h4 class="ti-work-section-text-image-card__text-block-head">Perfect Routines for
                                        you</h4>
                                    <p class="ti-work-section-text-image-card__text-block-para">The routines have a
                                        listing for products and how to use the products well , that would help your
                                        skin.</p>
                                </div>
                            </div>
                        </div>
                        <div class="ti-work-section-text-image-card__right">
                            <ul class="ti-work-section-text-image-card__right-image-list">
                                <li class="ti-work-section-text-image-card__right-static-image">
                                    {{!-- <video muted autoplay class="ti-work-section-text-image-card__pick-gender-video">
                                        <source src="videos/perfect-routine.mp4" type="video/mp4">
                                        Your browser does not support HTML5 video.
                                    </video> --}}
                                    <img src="images/perfect-routine.png" alt="perfect-routine">
                                </li>
                                <li><img src="images/perfect-routine.gif" alt="perfect-routine"
                                        class="ti-work-section-text-image-card__perfect-routine-img"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="ti-work-section-text-image-card ti-work-section-text-image-card--alternate">
                        <div class="ti-work-section-text-image-card__left">
                            <div class="ti-work-section-text-image-card__text-block">
                                <div class="ti-work-section-text-image-card__text-block-left">04</div>
                                <div class="ti-work-section-text-image-card__text-block-right">
                                    <h4 class="ti-work-section-text-image-card__text-block-head">Choose Natural Products
                                    </h4>
                                    <p class="ti-work-section-text-image-card__text-block-para">The product listing will
                                        only come when you do the skin scan or the skin test, they are recommended to
                                        you. The ingredient list in the label is scanned and a natural parameter is
                                        calculated, also the no of times you can use the product is specified</p>
                                </div>
                            </div>
                        </div>
                        <div class="ti-work-section-text-image-card__right">
                            <ul class="ti-work-section-text-image-card__right-image-list">
                                <li><img src="images/choose-natural-products.png" alt="choose-natural-products"
                                        class="ti-work-section-text-image-card__natural-products-img"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="ti-work-section-text-image-card">
                        <div class="ti-work-section-text-image-card__left">
                            <div class="ti-work-section-text-image-card__text-block">
                                <div class="ti-work-section-text-image-card__text-block-left">05</div>
                                <div class="ti-work-section-text-image-card__text-block-right">
                                    <h4 class="ti-work-section-text-image-card__text-block-head">Home Page</h4>
                                    <p class="ti-work-section-text-image-card__text-block-para">It contains of the no of
                                        products, routines current in use. Indicating the used product percentage to
                                        track when is your next purchase.</p>
                                </div>
                            </div>
                        </div>
                        <div class="ti-work-section-text-image-card__right">
                            <ul class="ti-work-section-text-image-card__right-image-list">
                                <li><img src="images/sieva-homepage-image-one.png" alt="sieva-homepage-image-one"></li>
                                <li class="ti-work-section-text-image-card__right-static-image"><img
                                        src="images/sieva-homepage-image-two.png" alt="sieva-homepage-image-two"
                                        class="ti-work-section-text-image-card__homepage-img-two"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="ti-section ti-work-section--ten">
            <img src="images/section-ten-bg.svg" alt="section ten bg" class="ti-work-section--ten-bg">
            <div class="container">
                <div class="ti-work-section-ten__head-wrapper">
                    <h3 class="ti-work-section-ten__head">User Interviews</h3>
                </div>
                <div class="ti-work-section-ten__content-wrapper">
                    <div class="ti-work-section-ten__grid-wrapper">
                        <div class="ti-work-section-ten__grid">
                            <div class="ti-work-section-ten__grid-image">
                                <img src="https://pbs.twimg.com/profile_images/1006266234181210117/oedmUmVc.jpg"
                                    alt="user interview 1">
                            </div>
                            <div class="ti-work-section-ten__grid-content">
                                <h4 class="ti-work-section-ten__grid-head">Ishita Malhi</h4>
                                <h4 class="ti-work-section-ten__grid-characteristic">28 | F | Cosmetic Buff</h4>
                                <p class="ti-work-section-ten__grid-description">Most of the websites dump the
                                    information, so I spend hours searching for new products, brands which can be suited
                                    for my skin. This app can help me save time and find better natural products for
                                    skin care</p>
                            </div>
                            <img src="images/sieva-card-bg.svg" alt="user interview 1"
                                class="ti-work-section-ten__grid-bg">
                        </div>
                        <div class="ti-work-section-ten__grid">
                            <div class="ti-work-section-ten__grid-image">
                                <img src="https://tinyfac.es/data/avatars/7D3FA6C0-83C8-4834-B432-6C65ED4FD4C3-500w.jpeg"
                                    alt="user interview 1">
                            </div>
                            <div class="ti-work-section-ten__grid-content">
                                <h4 class="ti-work-section-ten__grid-head">Ashish Patil</h4>
                                <h4 class="ti-work-section-ten__grid-characteristic">28 | M | Daily Care</h4>
                                <p class="ti-work-section-ten__grid-description">Guys have less options to pick from,
                                    all the cosmetic websites are catered towards women, the app look & feel is very
                                    neutral and welcoming for a guy, to use the product. I would use a routine maybe one
                                    or twice a week.</p>
                            </div>
                            <img src="images/sieva-card-bg.svg" alt="user interview 2"
                                class="ti-work-section-ten__grid-bg">
                        </div>
                        <div class="ti-work-section-ten__grid">
                            <div class="ti-work-section-ten__grid-image">
                                <img src="https://pbs.twimg.com/profile_images/501759258665299968/3799Ffxy.jpeg"
                                    alt="user interview 1">
                            </div>
                            <div class="ti-work-section-ten__grid-content">
                                <h4 class="ti-work-section-ten__grid-head">Rupali Gala</h4>
                                <h4 class="ti-work-section-ten__grid-characteristic">26 | F | Very Sensitive Skin</h4>
                                <p class="ti-work-section-ten__grid-description">My skin has been very sensitive since I
                                    hit puberty, I do not pick up anything off the shelf before getting a recommendation
                                    for my dermatologist. But sometimes I do not know how to use them, a routine with
                                    those products would be great help!</p>
                            </div>
                            <img src="images/sieva-card-bg.svg" alt="user interview 3"
                                class="ti-work-section-ten__grid-bg">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="ti-section ti-work-section--eleven">
            <img src="images/section-eleven-bg.svg" alt="section eleven bg" class="ti-work-section--eleven-bg">
            <div class="container">
                <div class="ti-work-section-eleven__head-wrapper">
                    <h3 class="ti-work-section-eleven__head">Learning & Impact</h3>
                </div>
                <div class="ti-work-section-eleven__content-wrapper">
                    <div class="ti-work-section-eleven__sub-section ti-work-section-eleven__sub-section--one">
                        <div class="ti-work-section-eleven__sub-section-one__row">
                            <div class="ti-work-section-eleven__sub-section-column-left">
                                <div class="ti-work-section-eleven__sub-section-column-content">
                                    <div class="ti-work-section-eleven__sub-section-column-content-left">
                                        <h4 class="ti-work-section-eleven__sub-section-column-head">Conducting Surveys
                                        </h4>
                                        <p class="ti-work-section-eleven__sub-section-column-para">The surveys help me
                                            figure out the touchpoint of the product</p>
                                        <ul class="ti-work-section-eleven__sub-section-column-list">
                                            <li>1) Who uses skin care products ?</li>
                                            <li>2) When do they use skin care products ?</li>
                                            <li>3) Why will they use skin care products?</li>
                                        </ul>
                                    </div>
                                    <div class="ti-work-section-eleven__sub-section-column-content-right">
                                        <h3 class="ti-work-section-eleven__sub-section-column-content-right-head">43
                                        </h3>
                                        <span
                                            class="ti-work-section-eleven__sub-section-column-content-right-sub-head">Surveys</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ti-work-section-eleven__sub-section-column-right">
                                <div class="ti-work-section-eleven__sub-section-column-content">
                                    <div class="ti-work-section-eleven__sub-section-column-content-left">
                                        <h4 class="ti-work-section-eleven__sub-section-column-head">Taking Interviews
                                        </h4>
                                        <p class="ti-work-section-eleven__sub-section-column-para">The insights and
                                            comments were like priceless gems, the feedbacks helped me understand what
                                            is required to make the experience more easy</p>
                                    </div>
                                    <div class="ti-work-section-eleven__sub-section-column-content-right">
                                        <h3 class="ti-work-section-eleven__sub-section-column-content-right-head">03
                                        </h3>
                                        <span
                                            class="ti-work-section-eleven__sub-section-column-content-right-sub-head">In-dept
                                            Interviews</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ti-work-section-eleven__sub-section ti-work-section-eleven__sub-section--two">
                        <div class="ti-work-section-eleven__sub-section-two-left">
                            <h3 class="ti-work-section-eleven__sub-section-two-head">Positives</h3>
                            <ul class="ti-work-section-survey-result-list">
                                <li class="ti-work-section-survey-result-list--green">
                                    <div class="ti-work-section-survey-result-list__left">
                                        <span class="ti-work-section-survey-result-list__left-text">Skin Sensor tool was
                                            appreciated</span>
                                    </div>
                                    <div class="ti-work-section-survey-result-list__right">
                                        <img src="images/icon-positive.svg" alt="icon postive"
                                            class="ti-work-section-survey-result-list__right-icon">
                                    </div>
                                </li>
                                <li class="ti-work-section-survey-result-list--green">
                                    <div class="ti-work-section-survey-result-list__left">
                                        <span class="ti-work-section-survey-result-list__left-text">Gender neutral
                                            product recommendation was good</span>
                                    </div>
                                    <div class="ti-work-section-survey-result-list__right">
                                        <img src="images/icon-positive.svg" alt="icon postive"
                                            class="ti-work-section-survey-result-list__right-icon">
                                    </div>
                                </li>
                                <li class="ti-work-section-survey-result-list--green">
                                    <div class="ti-work-section-survey-result-list__left">
                                        <span class="ti-work-section-survey-result-list__left-text">Routines based on
                                            the products and filters</span>
                                    </div>
                                    <div class="ti-work-section-survey-result-list__right">
                                        <img src="images/icon-positive.svg" alt="icon postive"
                                            class="ti-work-section-survey-result-list__right-icon">
                                    </div>
                                </li>
                                <li class="ti-work-section-survey-result-list--green">
                                    <div class="ti-work-section-survey-result-list__left">
                                        <span class="ti-work-section-survey-result-list__left-text">The natural
                                            ingredient percentage makes me rethink of my purchase</span>
                                    </div>
                                    <div class="ti-work-section-survey-result-list__right">
                                        <img src="images/icon-positive.svg" alt="icon postive"
                                            class="ti-work-section-survey-result-list__right-icon">
                                    </div>
                                </li>
                                <li class="ti-work-section-survey-result-list--green">
                                    <div class="ti-work-section-survey-result-list__left">
                                        <span class="ti-work-section-survey-result-list__left-text">The look and feel is
                                            neutral so promotes gender neutrality</span>
                                    </div>
                                    <div class="ti-work-section-survey-result-list__right">
                                        <img src="images/icon-positive.svg" alt="icon postive"
                                            class="ti-work-section-survey-result-list__right-icon">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="ti-work-section-eleven__sub-section-two-right">
                            <div class="ti-work-section-eleven__sub-section-two-right-top">
                                <h3 class="ti-work-section-eleven__sub-section-two-head">Missed</h3>
                                <ul class="ti-work-section-survey-result-list">
                                    <li class="ti-work-section-survey-result-list--yellow">
                                        <div class="ti-work-section-survey-result-list__left">
                                            <span class="ti-work-section-survey-result-list__left-text">Bottom Menu
                                                Navigation will help me navigate</span>
                                        </div>
                                        <div class="ti-work-section-survey-result-list__right">
                                            <img src="images/icon-missed.svg" alt="icon missed"
                                                class="ti-work-section-survey-result-list__right-icon">
                                        </div>
                                    </li>
                                    <li class="ti-work-section-survey-result-list--yellow">
                                        <div class="ti-work-section-survey-result-list__left">
                                            <span class="ti-work-section-survey-result-list__left-text">Sharing with a
                                                friend</span>
                                        </div>
                                        <div class="ti-work-section-survey-result-list__right">
                                            <img src="images/icon-missed.svg" alt="icon missed"
                                                class="ti-work-section-survey-result-list__right-icon">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="ti-work-section-eleven__sub-section-two-right-bottom">
                                <h3 class="ti-work-section-eleven__sub-section-two-head">Suggestions</h3>
                                <ul class="ti-work-section-survey-result-list">
                                    <li class="ti-work-section-survey-result-list--orange">
                                        <div class="ti-work-section-survey-result-list__left">
                                            <span class="ti-work-section-survey-result-list__left-text">App can include
                                                premimum features - Dermatologist Help</span>
                                        </div>
                                        <div class="ti-work-section-survey-result-list__right">
                                            <img src="images/icon-suggestion.svg" alt="icon postive"
                                                class="ti-work-section-survey-result-list__right-icon">
                                        </div>
                                    </li>
                                    <li class="ti-work-section-survey-result-list--orange">
                                        <div class="ti-work-section-survey-result-list__left">
                                            <span class="ti-work-section-survey-result-list__left-text">Before and after
                                                results could help me get motivated</span>
                                        </div>
                                        <div class="ti-work-section-survey-result-list__right">
                                            <img src="images/icon-suggestion.svg" alt="icon postive"
                                                class="ti-work-section-survey-result-list__right-icon">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="ti-work-section-eleven__sub-section ti-work-section-eleven__sub-section--three"></div>
                </div>
            </div>
        </section>
        <section class="ti-section ti-work-section--twelve">
            <div class="container">
                <div class="ti-work-section-twelve__head-wrapper">
                    <h3 class="ti-work-section-twelve__head">Future developments</h3>
                </div>
                <div class="ti-work-section-twelve__content-wrapper">
                    <div class="ti-work-section-twelve__content-row">
                        <div class="ti-work-section-twelve__content-column-left">
                            <div class="ti-work-section-twelve__video-wrapper">
                                <video width="320" height="240" muted autoplay loop>
                                    <source src="videos/Mirror.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <span class="ti-work-section-twelve__video-title">1) Integration with smart mirror
                                interface.</span>
                        </div>
                        <div class="ti-work-section-twelve__content-column-right">
                            <div class="ti-work-section-twelve__video-wrapper">
                                <video width="320" height="240" muted autoplay loop>
                                    <source src="videos/Womenlookinginmirrow.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <span class="ti-work-section-twelve__video-title">2) Before & After results</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="ti-section ti-work-section--thriteen">
            <img src="images/sieva-section-13-bg.svg" alt="sieva-section-13-bg" class="ti-work-section-thriteen-bg">
            <div class="container">
                <div class="ti-work-section-thriteen__head-wrapper">
                    <h3 class="ti-work-section-thriteen__head">Evaluation of product</h3>
                </div>
                <div class="ti-work-section-thriteen__content-wrapper">
                    <ul class="ti-work-section-thriteen__evaluation-card-list">
                        <li class="ti-work-section-thriteen__evaluation-card">
                            <div class="ti-work-section-thriteen__evaluation-card-head-wrapper">
                                <div class="ti-work-section-thriteen__evaluation-card-head-number"><span>01</span></div>
                                <h4 class="ti-work-section-thriteen__evaluation-card-head">Value of product</h4>
                            </div>
                            <div class="ti-work-section-thriteen__evaluation-card-content">
                                <p class="ti-work-section-thriteen__evaluation-card-content-para">The goal is to help
                                    the user to buy skin care products easily, saving time and very customised for their
                                    skin type</p>
                            </div>
                        </li>
                        <li class="ti-work-section-thriteen__evaluation-card">
                            <div class="ti-work-section-thriteen__evaluation-card-head-wrapper">
                                <div class="ti-work-section-thriteen__evaluation-card-head-number"><span>02</span></div>
                                <h4 class="ti-work-section-thriteen__evaluation-card-head">Meaning</h4>
                            </div>
                            <div class="ti-work-section-thriteen__evaluation-card-content">
                                <p class="ti-work-section-thriteen__evaluation-card-content-para">Use of the product
                                    would have a significant impact on their choice of skin care and daily routine would
                                    help them utilize 100% of products</p>
                            </div>
                        </li>
                        <li class="ti-work-section-thriteen__evaluation-card">
                            <div class="ti-work-section-thriteen__evaluation-card-head-wrapper">
                                <div class="ti-work-section-thriteen__evaluation-card-head-number"><span>03</span></div>
                                <h4 class="ti-work-section-thriteen__evaluation-card-head">Enagagement</h4>
                            </div>
                            <div class="ti-work-section-thriteen__evaluation-card-content">
                                <p class="ti-work-section-thriteen__evaluation-card-content-para">Starting with the web
                                    screen, to the app later on the integration with mirror interface would make this
                                    daily care objective more fun</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="ti-section ti-work-section--fifteen">
            <div class="container">
                <div class="ti-buy-case-study-box">
                    <div class="ti-buy-case-study-box__left">
                        <div class="ti-buy-case-study-box__left-content-box">
                            <h6 class="ti-buy-case-study-box__head">Case Study</h6>
                            <p class="ti-buy-case-study-box__description">It includes 70+ screens of sketch file, the
                                invision prototype, 4 interviews, totally wrapped up into 5/6 weeks.</p>
                            <ul class="ti-buy-case-study-box__stats-list">
                                <li>
                                    <span class="ti-buy-case-study-box__stats-value">04</span>
                                    Interviews
                                </li>
                                <li>
                                    <span class="ti-buy-case-study-box__stats-value">78</span>
                                    Screens
                                </li>
                                <li>
                                    <span class="ti-buy-case-study-box__stats-value">05</span>
                                    Weeks
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="ti-buy-case-study-box__right">
                        <img src="images/sieva-mobile.png" alt="sieva mobile">
                    </div>
                </div>
            </div>
        </section>
        <a id="scrollTop" title="Go to top">
            <p>Scroll up</p>
            <img src="images/back-to-top.svg" alt="back to top">
        </a>
        <footer class="ti-work-footer">
            <div class="container">
                <div class="ti-work-footer__content">
                    <div class="ti-work-footer__content-left">
                        <a href="index.html" class="ti-work-footer__link" data-hover>
                            <h6 class="ti-work-footer__link-head">Go back</h6>
                            <div class="ti-work-footer__link-row">
                                <div class="ti-work-footer__link-column">Home</div>
                                <div class="ti-work-footer__link-column"></div>
                            </div>
                        </a>
                    </div>
                    <div class="ti-work-footer__content-right">
                        <a href="moodilics.html" class="ti-work-footer__link" data-hover>
                            <h6 class="ti-work-footer__link-head">Next project</h6>
                            <div class="ti-work-footer__link-row">
                                <div class="ti-work-footer__link-column">02</div>
                                <div class="ti-work-footer__link-column">Moodilics</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
        <div class="cursor">
            <div class="cursor__inner cursor__inner--circle"></div>
            <div class="cursor__inner cursor__inner--dot"></div>
        </div>
    </main>
</body>

</html>