<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Rozha+One" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body class="ti-work-list-page">
    <section class="ti-section ti-preloader-section">
        <div class="ti-preloader__content">
            <div class="ti-preloader__circle">
                <h6 class="ti-preloader__progress-count"></h6>
            </div>
            <p class="ti-preloader__text">प्रगति</p>
        </div>
    </section>
    <main class="ti-main-content">
        <section class="ti-section ti-hero-section">
            <header class="ti-header">
                <div class="container">
                    <div class="ti-header__content">
                        <a href="index.html" class="ti-header__logo" data-hover>
                            <img src="images/pb-sight.svg" alt="pb-sight">
                            <span class="ti-header__logo-text">See my Work</span>
                        </a>
                        <span class="ti-back-button" title="Back" data-hover="">
                            <span class="ti-back-button__icon"></span>
                            <span class="ti-back-button__text">Back</span>
                        </span>
                    </div>
                </div>
            </header>
            <div class="ti-header-dropdown-container ti-work-list-container" style="display:block;">
                <div class="ti-header-dropdown">
                    <div class="container ti-header-dropdown__content-container">
                        <div class="ti-header-dropdown__content">
                            <div class="ti-header-dropdown__content-inner-wrap">
                                <ul class="ti-header-dropdown__item-list">
                                    <li>
                                        <a href="sieva.html" data-hover></a>
                                        <div class="ti-header-dropdown__item-top">
                                            <div class="ti-header-dropdown__item-top-image">
                                                <img src="images/sieva-mobile.png" alt="sieva-mobile">
                                            </div>
                                        </div>
                                        <div class="ti-header-dropdown__item-bottom">
                                            <span class="ti-header-dropdown__item-name">Sieva</span>
                                            <span class="ti-header-dropdown__item-description">Customised skin care for
                                                everyone</span>
                                            <span class="ti-header-dropdown__item-date">MAR 2019</span>
                                        </div>
                                        <span class="ti-header-dropdown__item-secondary-name">Sieva</span>
                                    </li>
                                    <li>
                                        <a href="moodilics.html" data-hover></a>
                                        <div class="ti-header-dropdown__item-top">
                                            <div class="ti-header-dropdown__item-top-image">
                                                <img src="images/moodilics.png" alt="moodilics">
                                            </div>
                                        </div>
                                        <div class="ti-header-dropdown__item-bottom">
                                            <span class="ti-header-dropdown__item-name">Moodilics</span>
                                            <span class="ti-header-dropdown__item-description">Icecream for health and
                                                mood</span>
                                            <span class="ti-header-dropdown__item-date">FEB 2018</span>
                                        </div>
                                        <span class="ti-header-dropdown__item-secondary-name">Moodilics</span>
                                    </li>
                                    <li>
                                        <a href="zappie.html" data-hover></a>
                                        <div class="ti-header-dropdown__item-top">
                                            <div class="ti-header-dropdown__item-top-image">
                                                <img src="images/zappie-menu.png" alt="zappie-menu">
                                            </div>
                                        </div>
                                        <div class="ti-header-dropdown__item-bottom">
                                            <span class="ti-header-dropdown__item-name">Zappie</span>
                                            <span class="ti-header-dropdown__item-description">Enabling storing to build
                                                relationships</span>
                                            <span class="ti-header-dropdown__item-date">SEP 2019</span>
                                        </div>
                                        <span class="ti-header-dropdown__item-secondary-name">Zappie</span>
                                    </li>
                                    <li>
                                        <a href="azap.html" data-hover></a>
                                        <div class="ti-header-dropdown__item-top">
                                            <div class="ti-header-dropdown__item-top-image">
                                                <img src="images/azap-banner.png" alt="wip-menu">
                                            </div>
                                        </div>
                                        <div class="ti-header-dropdown__item-bottom">
                                            <span class="ti-header-dropdown__item-name">AZAP</span>
                                            <span class="ti-header-dropdown__item-description">Financial Ecosystem for
                                                Kids</span>
                                            <span class="ti-header-dropdown__item-date">NOV 2019</span>
                                        </div>
                                        <span class="ti-header-dropdown__item-secondary-name">AZAP</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ti-hero-section__particles-wrapper">
                <span class="ti-hero-particle-type-one ti-hero-particle-type-one--small"
                    style="left: 78%;top: 25%;"></span>
                <span class="ti-hero-particle-type-one ti-hero-particle-type-one--medium"
                    style="left: 20%;top: 20%"></span>
                <span class="ti-hero-particle-type-one ti-hero-particle-type-one--medium"
                    style="left: 80%;top: 65%"></span>
                <span class="ti-hero-particle-type-one ti-hero-particle-type-one--large"></span>
                <span class="ti-hero-particle-type-one ti-hero-particle-type-one--extra-large"></span>
            </div>
            <footer class="ti-footer">
                <div class="container">
                    <div class="ti-footer__content">
                        <div class="ti-footer__content-left">
                            <span class="ti-footer-head ti-footer-head--left">By</span>
                            <ul class="ti-footer__content-left-list">
                                <li>
                                    © Designed by Trupti Shirodkar, 2020
                                </li>
                                <li>
                                    Developed by <a href="https://www.linkedin.com/in/arun-venugopal-16768967/"
                                        target="_blank" data-hover>Arun Venugopal</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ti-footer__content-right">
                            <span class="ti-footer-head ti-footer-head--right">Connect</span>
                            <ul class="ti-footer__content-right-list">
                                <li><a href="work.html" data-hover>See My Work</a></li>
                                <li><a href="schedule-session.html" data-hover>Coaching</a></li>
                                <li><a href="design-services.html" data-hover>Design Services</a></li>
                                <li>
                                    <ol class="ti-footer-social-media-list">
                                        <li>
                                            <a href="https://medium.com/@trupti.shirodkar" data-hover target="_blank">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"
                                                    viewBox="0 0 17 17">
                                                    <defs>
                                                        <linearGradient id="a" x1="50%" x2="50%" y1="0%" y2="100%">
                                                            <stop offset="0%" stop-color="#75D5D4" />
                                                            <stop offset="100%" stop-color="#ACFA98" />
                                                        </linearGradient>
                                                    </defs>
                                                    <path fill="url(#a)" fill-rule="evenodd"
                                                        d="M0 0h17v17H0V0zm14.112 3.78h-3.144L8.732 9.41 6.191 3.78H2.832v.28l1.183 1.445L4 11.091l-1.17 1.596.003.264h3.303l.009-.243-1.384-1.617.037-4.52 2.918 6.38h.351l2.592-6.531v5.313l-1.062 1.004v.214h4.516v-.256l-1.036-.982-.014-6.754 1.05-.897v-.281z" />
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.behance.net/trupsfolio" data-hover target="_blank">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    viewBox="0 0 16 16">
                                                    <defs>
                                                        <linearGradient id="ab" x1="50%" x2="50%" y1="0%" y2="100%">
                                                            <stop offset="0%" stop-color="#75D5D4" />
                                                            <stop offset="100%" stop-color="#ACFA98" />
                                                        </linearGradient>
                                                        <linearGradient id="bc" x1="50%" x2="50%" y1="0%" y2="100%">
                                                            <stop offset="0%" stop-color="#75D5D4" />
                                                            <stop offset="100%" stop-color="#ACFA98" />
                                                        </linearGradient>
                                                        <linearGradient id="cd" x1="50%" x2="50%" y1="0%" y2="100%">
                                                            <stop offset="0%" stop-color="#75D5D4" />
                                                            <stop offset="100%" stop-color="#ACFA98" />
                                                        </linearGradient>
                                                    </defs>
                                                    <g fill="none" fill-rule="evenodd">
                                                        <path fill="url(#ab)"
                                                            d="M5.754 5.895H3.79v1.684h1.965c.542 0 .983-.378.983-.842 0-.464-.441-.842-.983-.842zM5.754 8.421H3.79v1.684h1.965c.542 0 .983-.378.983-.842 0-.464-.441-.842-.983-.842z" />
                                                        <path fill="url(#bc)"
                                                            d="M10.947 7.579c-.582 0-1.078.352-1.263.842h2.527c-.185-.49-.682-.842-1.264-.842z" />
                                                        <path fill="url(#cd)"
                                                            d="M13.625 0H2.344A2.347 2.347 0 0 0 0 2.344v11.312A2.347 2.347 0 0 0 2.344 16h11.281C14.917 16 16 14.948 16 13.656V2.344C16 1.052 14.917 0 13.625 0zM8.937 4.719h3.75v.937h-3.75V4.72zM7.532 9.406c0 1.034-.84 1.875-1.875 1.875H2.844V4.72h2.812c1.034 0 1.875.84 1.875 1.875 0 .562-.254 1.062-.648 1.406.394.344.648.844.648 1.406zm5.625 0h-3.67a1.41 1.41 0 0 0 1.326.938c.5 0 .968-.27 1.219-.704l.811.47a2.352 2.352 0 0 1-2.03 1.171A2.347 2.347 0 0 1 8.47 8.937a2.347 2.347 0 0 1 2.344-2.343 2.347 2.347 0 0 1 2.343 2.343v.47z" />
                                                    </g>
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/trupsfolio/" data-hover target="_blank">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24">
                                                    <defs>
                                                        <linearGradient id="ab" x1="50%" x2="50%" y1="0%" y2="100%">
                                                            <stop offset="0%" stop-color="#75D5D4"></stop>
                                                            <stop offset="100%" stop-color="#ACFA98"></stop>
                                                        </linearGradient>
                                                        <linearGradient id="ba" x1="50%" x2="50%" y1="0%" y2="100%">
                                                            <stop offset="0%" stop-color="#75D5D4"></stop>
                                                            <stop offset="100%" stop-color="#ACFA98"></stop>
                                                        </linearGradient>
                                                    </defs>
                                                    <g fill="none" fill-rule="evenodd">
                                                        <path fill="url(#ab)"
                                                            d="M16.82 0H7.138A7.145 7.145 0 0 0 0 7.137v9.684a7.145 7.145 0 0 0 7.137 7.137h9.684a7.145 7.145 0 0 0 7.137-7.137V7.137C23.958 3.202 20.756 0 16.821 0zm4.728 16.82a4.727 4.727 0 0 1-4.727 4.728H7.137A4.727 4.727 0 0 1 2.41 16.82V7.137A4.727 4.727 0 0 1 7.137 2.41h9.684a4.727 4.727 0 0 1 4.727 4.727v9.684z">
                                                        </path>
                                                        <path fill="url(#ba)"
                                                            d="M11.979 5.783a6.203 6.203 0 0 0-6.196 6.196 6.203 6.203 0 0 0 6.196 6.196 6.203 6.203 0 0 0 6.196-6.196 6.203 6.203 0 0 0-6.196-6.196zm0 9.982a3.786 3.786 0 1 1 0-7.572 3.786 3.786 0 0 1 0 7.572z">
                                                        </path>
                                                        <circle cx="18.187" cy="5.829" r="1.485" fill="url(#a)">
                                                        </circle>
                                                    </g>
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/in/trupsfolio/" data-hover
                                                target="_blank">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24">
                                                    <defs>
                                                        <linearGradient id="a" x1="50%" x2="50%" y1="0%" y2="100%">
                                                            <stop offset="0%" stop-color="#75D5D4"></stop>
                                                            <stop offset="100%" stop-color="#ACFA98"></stop>
                                                        </linearGradient>
                                                    </defs>
                                                    <g fill="none" fill-rule="evenodd">
                                                        <path fill="#000" fill-rule="nonzero"
                                                            d="M13.082 10.878v-.114c-.023.038-.055.076-.075.114h.075z">
                                                        </path>
                                                        <path fill="url(#a)"
                                                            d="M0 0v24h24V0H0zm7.465 19.939h-3.56V9.226h3.56v10.713zM5.685 7.764H5.66c-1.194 0-1.969-.823-1.969-1.852 0-1.051.797-1.85 2.016-1.85 1.219 0 1.968.799 1.991 1.85 0 1.029-.772 1.852-2.014 1.852zm14.623 12.175h-3.562v-5.732c0-1.44-.515-2.422-1.804-2.422-.984 0-1.57.662-1.827 1.303-.094.228-.118.547-.118.868v5.983H9.435s.047-9.708 0-10.713h3.562v1.518c.473-.728 1.318-1.77 3.21-1.77 2.344 0 4.1 1.531 4.1 4.821v6.144z">
                                                        </path>
                                                    </g>
                                                </svg>
                                            </a>
                                        </li>
                                    </ol>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </section>
        <div class="cursor">
            <div class="cursor__inner cursor__inner--circle"></div>
            <div class="cursor__inner cursor__inner--dot"></div>
        </div>
    </main>
</body>

</html>