<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Rozha+One" rel="stylesheet">
</head>

<body>
    <section class="ti-section ti-preloader-section">
        <div class="ti-preloader__content">
            <div class="ti-preloader__circle">
                <h6 class="ti-preloader__progress-count"></h6>
            </div>
            <p class="ti-preloader__text">प्रगति</p>
        </div>
    </section>
    <main class="ti-main-content">
        <section class="ti-section ti-work-section--one ti-work-section--zappie">
            <div class="container">
                <div class="ti-work-section__title-wrapper">
                    <h1 class="ti-work-section__title">Zappie</h1>
                    <p class="ti-work-section__sub-title">Connecting children with bed time stories</p>
                </div>
                <div class="ti-work-section__highlight-card">
                    <div class="ti-work-section-highlight-card__left">
                        <h2 class="ti-work-highlight-card__title">Case Study <span>/ Concept Design</span> </h2>
                        <p class="ti-work-highlight-card__description">Zappie maps the kid to one character in the animal kingdom. The children can read stories about each other also  Zappie AI  creates new stories using pattern recognition</p>
                        <ul class="ti-work-highlight-card__stats-list">
                            <li>
                                <h3 class="ti-work-highlight-card__stats-head">Focus Areas</h3>
                                <ul class="ti-work-highlight-card__stats-points-list">
                                    <li>AI concept</li>
                                    <li>Product Vision</li>
                                </ul>
                            </li>
                            <li>
                                <h3 class="ti-work-highlight-card__stats-head">Touch Points</h3>
                                <ul class="ti-work-highlight-card__stats-points-list">
                                    <li>Tablet Application </li>
                                </ul>
                            </li>
                            <li>
                                <h3 class="ti-work-highlight-card__stats-head">Type</h3>
                                <ul class="ti-work-highlight-card__stats-points-list">
                                    <li>June 2019</li>
                                </ul>
                            </li>
                        </ul>
                    </div> 
                    <div class="ti-work-highlight-card__right">
                        <img src="images/zappie-highlight-card-image.png" alt="zappie-highlight-card-image">
                    </div>
                </div>
                <span class="ti-back-button" title="Back" data-hover>
                    <span class="ti-back-button__icon"></span>
                    <span class="ti-back-button__text">Back</span>
                </span>
            </div>
            <div class="ti-hero-section__particles-wrapper">
                <span class="ti-hero-particle-type-one ti-hero-particle-type-one--small" style="left: 78%;top: 25%;"></span>
                <span class="ti-hero-particle-type-one ti-hero-particle-type-one--medium" style="left: 20%;top: 17%"></span>
                <span class="ti-hero-particle-type-one ti-hero-particle-type-one--medium" style="left: 80%;top: 65%"></span>
                <span class="ti-hero-particle-type-one ti-hero-particle-type-one--large"></span>
                <span class="ti-hero-particle-type-one ti-hero-particle-type-one--extra-large"></span>
            </div>
        </section>
        <section class="ti-section ti-work-section--two ti-zappie-work-section--two">
            <div class="container">
                <div class="ti-work-section-two__title-wrapper">
                    <h3 class="ti-work-section-two__title">Problem Statements</h3>
                </div>
                <div class="ti-work-section-two__content-wrapper">
                    <ul class="ti-work-section-two__content-card-list">
                        <li>
                            <div class="ti-work-section-two__content-card ti-work-section-two__content-card--sieva">
                                <div class="ti-work-section-two__content-card-content">
                                    <h4 class="ti-work-section-two__content-card-head">How to we form healthy relationship between abled kids and special kids from early age? </h4>
                                </div>
                                <img src="images/zappie-shape-1.svg" alt="sieva-shape-1" class="ti-work-section-two__content-card-bg">
                            </div>
                        </li>
                        <li>
                            <div class="ti-work-section-two__content-card">
                                <div class="ti-work-section-two__content-card-content">
                                    <h4 class="ti-work-section-two__content-card-head">How can abled kids approach them? </h4>
                                    <p class="ti-work-section-two__content-card-description">How can me make special kids be a part of the same class at school rather than perceiving from as outcast and making them easy targets of bullying?</p>
                                </div>
                                <img src="images/zappie-shape-3.svg" alt="sieva-shape-2" class="ti-work-section-two__content-card-bg">
                            </div>
                            <img src="images/zappie-shape-3.svg" alt="sieva-shape-3" class="ti-work-section-two__content-card-shape">
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="ti-zappie-cp-section">
            <div class="container">
                <div class="ti-zappie-cp-section__content">
                    <div class="ti-zappie-cp-section__content-left">
                        <h3>What is Cerebral palsy?</h3>
                        <p>Cerebral palsy is a physical disability that affects movement and posture. It is the most common physical disability in childhood.</p>
                        <div class="ti-zappie-cp-section__content-left-video-wrap">
                            <video muted autoplay loop>
                                <source src="./videos/cerebral-parsy.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            <img src="images/zappie-shape-1.svg" alt="sieva-shape-1" class="ti-work-section-two__content-card-bg">
                        </div>
                    </div>
                    <div class="ti-zappie-cp-section__content-right">
                        <img src="./images/cerebral-parsy-img.png">
                    </div>
                </div>
            </div>
        </section>
        <section class="ti-zappie-work-section--three">
            <div class="container">
                <div class="ti-work-section-three__content-top">
                    <div class="ti-work-section-three__content-top-left">
                        <h3>How can we solve this problem?</h3>
                        <p>Awareness doesn’t start only when your child starts school. From birth, babies and children are gathering skills they’ll use in reading. The years between ages 3 and 5 are critical to reading growth</p>
                        <p>Children with disabilities may stand out from their other classmates and might get bullied. Bullies often think children with disabilities cannot defend themselves . Children with assistive devices may be perceived as “weird or strange”</p>
                    </div>
                    <div class="ti-work-section-three__content-top-right">
                        <div class="ti-work-section-two__content-card ti-work-section-two__content-card--sieva">
                            <div class="ti-work-section-two__content-card-content">
                                <h4 class="ti-work-section-two__content-card-head">Creating stories  about  the their day to day life </h4>
                            </div>
                            <img src="images/zappie-shape-1.svg" alt="sieva-shape-1" class="ti-work-section-two__content-card-bg">
                        </div>
                    </div>
                </div>
                <div class="ti-work-section-three__content-bottom">
                    <ul class="ti-work-section__stats-list">
                        <li>
                            <h4 class="ti-work-section__stats__head">78%</h4>
                            <p class="ti-work-section__stats__description">Use of devices has bad effect on reading to children. The proportion of toddlers being read to every day has dropped by a fifth over the last five years.</p>
                        </li>
                        <li>
                            <h4 class="ti-work-section__stats__head">48<span>(minutes)</span></h4>
                            <p class="ti-work-section__stats__description">Children that are 8 or younger spend an average of 48 minutes on tablet/mobile devices daily”</p>
                        </li>
                        <li>
                            <h4 class="ti-work-section__stats__head">51%<span>(reduced in 2019)</span></h4>
                            <p class="ti-work-section__stats__description">69% of preschool children were read to daily in 2013, that figure had dropped to just 51%.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="ti-zappie-work-section--four">
            <div class="container">
                <div class="ti-work-section-four__head">
                    <h3>Scenarios</h3>
                </div>
                <ul class="ti-work-section-six__cards-list">
                    <li>
                        <div class="ti-work-scenario__card">
                            <div class="ti-work-scenario__card-image">
                                <img src="images/zappie-scenario-1.png" alt="zappie-scenario-1">
                            </div>
                            <div class="ti-work-scenario__card-content">
                                <div class="ti-work-scenario__card-head">
                                    <span class="ti-work-scenario__card-head-text">Parents create stories</span>
                                </div>
                                <p class="ti-work-scenario__card-para">To create awareness about cerebral palsy and other disabilities unique to the child, the parents help Zappie create stories</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ti-work-scenario__card">
                            <div class="ti-work-scenario__card-image">
                                <img src="images/zappie-scenario-2.png" alt="zappie-scenario-2">
                            </div>
                            <div class="ti-work-scenario__card-content">
                                <div class="ti-work-scenario__card-head">
                                    <span class="ti-work-scenario__card-head-text">Teacher read to kids</span>
                                </div>
                                <p class="ti-work-scenario__card-para">If not Parents it can be used by teachers also to stop bullying and name calling in the class to cultivate healthy relationships between all kids</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ti-work-scenario__card">
                            <div class="ti-work-scenario__card-image">
                                <img src="images/zappie-scenario-3.png" alt="zappie-scenario-3">
                            </div>
                            <div class="ti-work-scenario__card-content">
                                <div class="ti-work-scenario__card-head">
                                    <span class="ti-work-scenario__card-head-text">Encorages buddy system</span>
                                </div>
                                <p class="ti-work-scenario__card-para">To create empathy for each other and help each other out. The teachers read these bed time stories to kids with help of Zappie</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="ti-zappie-work-section--five">
            <div class="container">
                <div class="ti-zappie-work-section__content">
                    <div class="ti-zappie-work-section__content-left">
                        <div class="ti-zappie-work-section__content-left-image">
                            <img src="./images/meet-zappie-image-left.png">
                        </div>
                        <div class="ti-zappie-work-section__content-left-text">
                            <h3>Creating empathy by reading stories</h3>
                            <p>Zappie has a huge database of stories, which is generate by AI with help of pattern recognition by feeding a lot of children stories to them.</p>
                        </div>
                    </div>
                    <div class="ti-zappie-work-section__content-right">
                        <img src="./images/meet-zappie-image-right.png">
                    </div>
                </div>
            </div>
        </section>
        <section class="ti-zappie-work-section--six">
            <div class="container">
                <div class="ti-zappie-work-section-six__content">
                    <h3 class="ti-zappie-work-section-six__content-head">Task Flows</h3>
                    <img src="./images/zappie-task-flow.png" class="ti-zappie-work-section-six__content-image">
                </div>
            </div>
        </section>
        <section class="ti-zappie-work-section--seven">
            <div class="container">
                <div class="ti-zappie-work-section__content">
                    <div class="ti-zappie-work-section__content-left">
                        <div class="ti-zappie-work-section__content-left-image">
                            <img src="./images/kids-mode.png">
                        </div>
                    </div>
                    <div class="ti-zappie-work-section__content-right">
                        <img src="./images/kids-mode-big.png">
                    </div>
                </div>
            </div>
        </section>
        <section class="ti-zappie-text-video-section ti-zappie-work-section--eight">
            <div class="container">
                <div class="ti-zappie-text-video-section__content">
                    <div class="ti-zappie-text-video-section__content-left">
                        <h3 class="ti-zappie-text-video-section__content-left-head">Detect faces</h3>
                        <p class="ti-zappie-text-video-section__content-left-para">As kids with cerebral palsy cannot move at times So the app scans the faces of kids to launch</p>
                    </div>
                    <div class="ti-zappie-text-video-section__content-right">
                        <video muted autoplay loop>
                            <source src="./videos/detect-faces.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </section>
        <section class="ti-zappie-text-video-section ti-zappie-work-section--nine ti-zappie-text-video-section--has-bg ti-zappie-text-video-section--alternate">
            <div class="container">
                <div class="ti-zappie-text-video-section__content">
                    <div class="ti-zappie-text-video-section__content-left">
                        <h3 class="ti-zappie-text-video-section__content-left-head">Home page</h3>
                        <p class="ti-zappie-text-video-section__content-left-para">You can go to the class, see your candies and your list of stories</p>
                    </div>
                    <div class="ti-zappie-text-video-section__content-right">
                        <img src="./images/zappie-homepage.png">
                    </div>
                </div>
            </div>
        </section>
        <section class="ti-zappie-text-video-section ti-zappie-work-section--ten">
            <div class="container">
                <div class="ti-zappie-text-video-section__content">
                    <div class="ti-zappie-text-video-section__content-left">
                        <h3 class="ti-zappie-text-video-section__content-left-head">Read Stories</h3>
                        <p class="ti-zappie-text-video-section__content-left-para">Stories help children understand their environment and people, they learn about each others life with help of animals tales</p>
                    </div>
                    <div class="ti-zappie-text-video-section__content-right">
                        <video muted autoplay loop>
                            <source src="./videos/zappie-read-stories.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </section>
        <section class="ti-zappie-text-video-section ti-zappie-work-section--eleven ti-zappie-text-video-section--alternate">
            <div class="container">
                <div class="ti-zappie-text-video-section__content">
                    <div class="ti-zappie-text-video-section__content-left">
                        <h3 class="ti-zappie-text-video-section__content-left-head">Candie Jar</h3>
                        <p class="ti-zappie-text-video-section__content-left-para">After the story, the kids can give candies to the characters of the story, learn gratitude and sharing</p>
                    </div>
                    <div class="ti-zappie-text-video-section__content-right">
                        <video muted autoplay loop>
                            <source src="./videos/candies.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </section>
        <section class="ti-zappie-text-video-section ti-zappie-work-section--twelve">
            <div class="container">
                <div class="ti-zappie-text-video-section__content">
                    <div class="ti-zappie-text-video-section__content-left">
                        <h3 class="ti-zappie-text-video-section__content-left-head">Find a Buddy</h3>
                        <p class="ti-zappie-text-video-section__content-left-para">Each kid has a buddy to see different pairing of kids and how well they work out with each other</p>
                    </div>
                    <div class="ti-zappie-text-video-section__content-right">
                        <video muted autoplay loop>
                            <source src="./videos/buddy.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </section>
        <section class="ti-zappie-text-video-section ti-zappie-work-section--thirteen ti-zappie-text-video-section--has-bg ti-zappie-text-video-section--alternate">
            <div class="container">
                <div class="ti-zappie-text-video-section__content">
                    <div class="ti-zappie-text-video-section__content-left">
                        <h3 class="ti-zappie-text-video-section__content-left-head">Parents Mode</h3>
                        <p class="ti-zappie-text-video-section__content-left-para">They can create, edit kid’s profile and check out the candies and who gave candies to their kid</p>
                    </div>
                    <div class="ti-zappie-text-video-section__content-right">
                        <img src="./images/zappie-parents-mode.png">
                    </div>
                </div>
            </div>
        </section>
        <section class="ti-zappie-text-video-section ti-zappie-work-section--fourteen">
            <div class="container">
                <div class="ti-zappie-text-video-section__content">
                    <div class="ti-zappie-text-video-section__content-left">
                        <h3 class="ti-zappie-text-video-section__content-left-head">Ashley stories</h3>
                        <p class="ti-zappie-text-video-section__content-left-para">Parent can read and create number of stories along with the imagination of kids</p>
                    </div>
                    <div class="ti-zappie-text-video-section__content-right">
                        <video muted autoplay loop>
                            <source src="./videos/ashley-stories.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </section>
        <section class="ti-zappie-text-video-section ti-zappie-work-section--fourteen ti-zappie-work-section--alternate">
            <div class="container">
                <div class="ti-zappie-text-video-section__content">
                    <div class="ti-zappie-text-video-section__content-left">
                        <h3 class="ti-zappie-text-video-section__content-left-head">Create new Stories</h3>
                        <p class="ti-zappie-text-video-section__content-left-para">Parents can record their voice or request for custom illustration or just add a picture too</p>
                    </div>
                    <div class="ti-zappie-text-video-section__content-right">
                        <video muted autoplay loop>
                            <source src="./videos/create-new-stories.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </section>
        <section class="ti-zappie-work-section--fifteen">
            <div class="container">
                <div class="ti-zappie-work-section-fifteen__content">
                    <img src="./images/zappie-section-fifteen-image.png">
                </div>
            </div>
        </section>
        <section class="ti-zappie-parents-kids-section ti-zappie-work-section--sixteen">
            <div class="container">
                <div class="ti-zappie-parents-kids-section__content">
                    <div class="ti-zappie-parents-kids-section__content-row">
                        <div class="ti-zappie-parents-kids-section__content-left">
                            <div class="ti-zappie-parents-kids__card">
                                <span class="ti-zappie-parents-kids__card-blob ti-zappie-parents-kids__card-blob--parent">
                                    <span>Parents</span>
                                </span>
                                <div class="ti-zappie-parents-kids__card-content">
                                    <img src="./images/zappie-parents.png">
                                </div>
                            </div>
                        </div>
                        <div class="ti-zappie-parents-kids-section__content-right">
                            <h3 class="ti-work-section-eleven__sub-section-two-head">For Parents</h3>
                            <ul class="ti-work-section-survey-result-list">
                                <li class="ti-work-section-survey-result-list--green">
                                    <div class="ti-work-section-survey-result-list__left">
                                        <span class="ti-work-section-survey-result-list__left-text">Create Stories with Children</span>
                                    </div>
                                    <div class="ti-work-section-survey-result-list__right">
                                        <img src="images/icon-positive.svg" alt="icon postive" class="ti-work-section-survey-result-list__right-icon">
                                    </div>
                                </li>
                                <li class="ti-work-section-survey-result-list--green">
                                    <div class="ti-work-section-survey-result-list__left">
                                        <span class="ti-work-section-survey-result-list__left-text">Read stories to children</span>
                                    </div>
                                    <div class="ti-work-section-survey-result-list__right">
                                        <img src="images/icon-positive.svg" alt="icon postive" class="ti-work-section-survey-result-list__right-icon">
                                    </div>
                                </li>
                                <li class="ti-work-section-survey-result-list--green">
                                    <div class="ti-work-section-survey-result-list__left">
                                        <span class="ti-work-section-survey-result-list__left-text">Check their Candy jar’s</span>
                                    </div>
                                    <div class="ti-work-section-survey-result-list__right">
                                        <img src="images/icon-positive.svg" alt="icon postive" class="ti-work-section-survey-result-list__right-icon">
                                    </div>
                                </li>
                                <li class="ti-work-section-survey-result-list--green">
                                    <div class="ti-work-section-survey-result-list__left">
                                        <span class="ti-work-section-survey-result-list__left-text">Check their memories with other Kids</span>
                                    </div>
                                    <div class="ti-work-section-survey-result-list__right">
                                        <img src="images/icon-positive.svg" alt="icon postive" class="ti-work-section-survey-result-list__right-icon">
                                    </div>
                                </li>
                                <li class="ti-work-section-survey-result-list--green">
                                    <div class="ti-work-section-survey-result-list__left">
                                        <span class="ti-work-section-survey-result-list__left-text">Zappie promotes bonding on a daily basis</span>
                                    </div>
                                    <div class="ti-work-section-survey-result-list__right">
                                        <img src="images/icon-positive.svg" alt="icon postive" class="ti-work-section-survey-result-list__right-icon">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="ti-zappie-parents-kids-section__content-row ti-zappie-parents-kids-section__content-row--alternate">
                        <div class="ti-zappie-parents-kids-section__content-left">
                            <div class="ti-zappie-parents-kids__card">
                                <span class="ti-zappie-parents-kids__card-blob ti-zappie-parents-kids__card-blob--kid">
                                    <span>Kids</span>
                                </span>
                                <div class="ti-zappie-parents-kids__card-content">
                                    <img src="./images/zappie-kids.png">
                                </div>
                            </div>
                        </div>
                        <div class="ti-zappie-parents-kids-section__content-right">
                            <h3 class="ti-work-section-eleven__sub-section-two-head">For Kids</h3>
                            <ul class="ti-work-section-survey-result-list">
                                <li class="ti-work-section-survey-result-list--green">
                                    <div class="ti-work-section-survey-result-list__left">
                                        <span class="ti-work-section-survey-result-list__left-text">Zappie creates new stories every day</span>
                                    </div>
                                    <div class="ti-work-section-survey-result-list__right">
                                        <img src="images/icon-positive.svg" alt="icon postive" class="ti-work-section-survey-result-list__right-icon">
                                    </div>
                                </li>
                                <li class="ti-work-section-survey-result-list--green">
                                    <div class="ti-work-section-survey-result-list__left">
                                        <span class="ti-work-section-survey-result-list__left-text">Zappie AI creates unique stories for them based on their likes</span>
                                    </div>
                                    <div class="ti-work-section-survey-result-list__right">
                                        <img src="images/icon-positive.svg" alt="icon postive" class="ti-work-section-survey-result-list__right-icon">
                                    </div>
                                </li>
                                <li class="ti-work-section-survey-result-list--green">
                                    <div class="ti-work-section-survey-result-list__left">
                                        <span class="ti-work-section-survey-result-list__left-text">Give candies to each other</span>
                                    </div>
                                    <div class="ti-work-section-survey-result-list__right">
                                        <img src="images/icon-positive.svg" alt="icon postive" class="ti-work-section-survey-result-list__right-icon">
                                    </div>
                                </li>
                                <li class="ti-work-section-survey-result-list--green">
                                    <div class="ti-work-section-survey-result-list__left">
                                        <span class="ti-work-section-survey-result-list__left-text">Promotes understanding & healthier relationship between kids</span>
                                    </div>
                                    <div class="ti-work-section-survey-result-list__right">
                                        <img src="images/icon-positive.svg" alt="icon postive" class="ti-work-section-survey-result-list__right-icon">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <a id="scrollTop" title="Go to top">
            <p>Scroll up</p>
            <img src="images/back-to-top.svg" alt="back to top">
        </a>
        <footer class="ti-work-footer">
            <div class="container">
                <div class="ti-work-footer__content">
                    <div class="ti-work-footer__content-left">
                        <a href="index.html" class="ti-work-footer__link" data-hover>
                            <h6 class="ti-work-footer__link-head">Go back</h6>
                            <div class="ti-work-footer__link-row">
                                <div class="ti-work-footer__link-column">Home</div>
                                <div class="ti-work-footer__link-column"></div>
                            </div>
                        </a>
                    </div>
                    <div class="ti-work-footer__content-right">
                        <a href="coming-soon.html" class="ti-work-footer__link" data-hover>
                            <h6 class="ti-work-footer__link-head">Next project</h6>
                            <div class="ti-work-footer__link-row">
                                <div class="ti-work-footer__link-column">02</div>
                                <div class="ti-work-footer__link-column">Azap</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
        <div class="cursor">
            <div class="cursor__inner cursor__inner--circle"></div>
            <div class="cursor__inner cursor__inner--dot"></div>
        </div>
    </main>
</body>

</html>